Repository ivy-llc/ivy, pull requests merged in 2022-10, with the labels that each got.

#5128 refactor frontend tensorflow.metric functions
  ivy/functional/frontends/tensorflow/metrics.py
Labels: TensorFlow Frontend

#5103 supserset behviour for random_normal
  ivy/array/random.py
  ivy/container/random.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/torch/random.py
  ivy/functional/ivy/random.py
  ivy_tests/test_ivy/test_functional/test_core/test_random.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5129 Array special methods tests
  ivy/array/array.py
  ivy_tests/test_ivy/test_array.py
Labels: Array API, Ivy Array, Ivy Functional API

#5031 torch frontend comparison ops
  ivy/functional/frontends/torch/comparison_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_comparison_ops.py
Labels: PyTorch Frontend

#5079 refactor jax-nn-softmax frontend
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_nn_activations.py
Labels: JAX Frontend

#4894 jax.numpy.linalg.eigvalsh
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
Labels: JAX Frontend, Ivy Functional API

#4891 implemented jax lax shift_right_logical in the jax lax frontend and …
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#5184 fix environment variable issue
  ivy_tests/conftest.py
  ivy_tests/test_ivy/conftest.py
Labels: Exhaustive CI

#5140 superset behaviour for shuffle
  ivy/array/random.py
  ivy/container/random.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/torch/random.py
  ivy/functional/ivy/random.py
  ivy_tests/test_ivy/test_functional/test_core/test_random.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4890 jax.numpy.linalg.qr
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
Labels: JAX Frontend

#5185 upload/download artifacts on PRs and cron jobs
  .github/workflows/test-array-api.yml
  .github/workflows/test-frontend-jax.yml
  .github/workflows/test-frontend-numpy.yml
  .github/workflows/test-frontend-tensorflow.yml
  .github/workflows/test-frontend-torch.yml
  .github/workflows/test-ivy-core-manual.yml
  .github/workflows/test-ivy-core.yml
  .github/workflows/test-ivy-nn-manual.yml
  .github/workflows/test-ivy-nn.yml
  .github/workflows/test-ivy-stateful-manual.yml
  .github/workflows/test-ivy-stateful.yml
Labels: Exhaustive CI

#5109 superset behavior for multinomial
  ivy/array/random.py
  ivy/container/random.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/torch/random.py
  ivy/functional/ivy/random.py
  ivy_tests/test_ivy/test_functional/test_core/test_random.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5108 superset behavior for randint
  ivy/array/random.py
  ivy/container/random.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/torch/random.py
  ivy/functional/ivy/random.py
  ivy_tests/test_ivy/test_functional/test_core/test_random.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5114 added Mean to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#4519 cumprod_superset
  ivy/array/statistical.py
  ivy/container/statistical.py
  ivy/functional/backends/jax/statistical.py
  ivy/functional/backends/numpy/statistical.py
  ivy/functional/backends/tensorflow/statistical.py
  ivy/functional/backends/torch/statistical.py
  ivy/functional/ivy/statistical.py
  ivy_tests/test_ivy/test_functional/test_core/test_statistical.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4507 slogdet of ivy functional linear algebra reformatted with examples in docstring
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5230 frontend tensorflow instance methods Update
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend

#4936 Fix for bug where API tests failed when passed in a 1D list containing asarray
  ivy/functional/backends/torch/creation.py
  ivy/functional/ivy/creation.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
Labels: Function Reformatting, Ivy Functional API

#4831 Added true_divide for Numpy Frontend
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
Labels: NumPy Frontend

#5188 frontend dashboards
  .github/workflows/test-docstrings.yml
  .github/workflows/test-frontend-jax.yml
  .github/workflows/test-frontend-numpy.yml
  .github/workflows/test-frontend-tensorflow-push.yml
  .github/workflows/test-frontend-tensorflow.yml
  .github/workflows/test-frontend-torch.yml
  automation_tools/dashboard_automation/update_db.py
  jiggle.py
  run_tests_CLI/test_tensorflow_frontend.sh
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Bug

#5205 Reformat Function Elementwise Log
  ivy/array/elementwise.py
  ivy/container/elementwise.py
  ivy/functional/ivy/elementwise.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5075 Added superset behaviour to svd
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: Array API, Function Reformatting, Ivy Functional API

#3965 Add isin torch frontend
  ivy/functional/frontends/torch/comparison_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_comparison_ops.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Array API, Function Reformatting, Ivy Functional API

#5062 frontend.numpy.ndarray: add support for all instance method
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#5058 logdet
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#5243 full exception stack trace mode
  ivy/exceptions.py
  ivy/functional/ivy/general.py
Labels: Function Reformatting, Ivy Functional API

#5279 removed fw in torch frontend tests
  ivy_tests/test_ivy/test_frontends/test_torch/test_blas_and_lapack_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_comparison_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_convolution_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_vision_functions.py
Labels: PyTorch Frontend

#5280 removed `fw` from jax, numpy and tf tests
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_control_flow_operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_custom_gradient_operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_nn_activations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_building_matrices.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_from_existing_data.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_from_shape_or_value.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_numerical_ranges.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_decompositions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_matrix_and_vector_products.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_norms_and_other_numbers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_solving_equations_and_inverting_matrices.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_array_contents.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_array_type_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_comparison.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_logical_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_truth_value_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_basic_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_changing_array_shape.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_changing_number_of_dimensions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_joining_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_rearranging_elements.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_tiling_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_transpose_like_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_exponents_and_logarithms.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_extrema_finding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_hyperbolic_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_rounding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_sums_products_differences.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_trigonometric_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_matrix/test_methods.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_sorting_searching_counting/test_searching.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_sorting_searching_counting/test_sorting.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_correlating.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_activations.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_metrics.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nest.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: JAX Frontend, TensorFlow Frontend, NumPy Frontend

#4799 adding fold unfold to torch frontend convolution
  ivy/functional/frontends/torch/convolution_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_convolution_functions.py
Labels: PyTorch Frontend

#5258 add superset behavior for matrix_rank
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5215 added `isscalar` and added its support in `flatten`
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/ivy/general.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
Labels: Exhaustive CI

#5064 PR for to_scalar function, issue #4812
  ivy/container/general.py
  ivy/functional/ivy/general.py
Labels: Function Reformatting, Ivy Functional API

#4933 Numpy Frontend Argmax
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#5244 superset behavior tests for `trace()`,`matrix norm()` and `inv()` in linalg.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: Function Reformatting, Ivy Functional API

#5297 superset container and instance methods for matrix_norm(), trace() and inv()
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: Function Reformatting

#5299 fix std tensorflow to pass array api tests
  ivy/functional/backends/tensorflow/statistical.py
Labels: Array API

#5270 frontend tensorflow instance methods Update
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend

#5048 Torch.ravel Frontend
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#5125 Tensorflow frontend truediv fn
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#5195 superset behaviour for argmin
  ivy/array/searching.py
  ivy/container/searching.py
  ivy/functional/backends/jax/searching.py
  ivy/functional/backends/numpy/searching.py
  ivy/functional/backends/tensorflow/searching.py
  ivy/functional/backends/torch/searching.py
  ivy/functional/ivy/searching.py
  ivy_tests/test_ivy/test_functional/test_core/test_searching.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5228 frontend testing `with_out` support for tuple
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#5322 Added Identity and IdentityN to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5191 Tensorflow frontend tensor
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend

#5334 added `sigmoid` and `softmax` and fixed hardsigmoid in tf frontend
  ivy/functional/frontends/tensorflow/activations.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_activations.py
Labels: TensorFlow Frontend

#5120 jax frontend special methods - pos, neg, abs, eq, ne, lt, le, gt, ge
  ivy/functional/frontends/jax/devicearray.py
  ivy/functional/frontends/jax/func_wrapper.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
Labels: JAX Frontend

#5350 add JAX Frontend promotion table
  ivy/functional/frontends/jax/__init__.py
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#5380 Docstring fixes and bugs
  ivy/array/general.py
  ivy/array/set.py
  ivy/array/statistical.py
  ivy/container/general.py
  ivy/container/statistical.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/tensorflow/gradients.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/nest.py
  ivy/functional/ivy/set.py
  ivy/functional/ivy/statistical.py
  ivy_tests/test_docstrings.py
Labels: Ivy Functional API

#5353 another fix for trace()
  ivy/container/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: Function Reformatting, Ivy Functional API

#4643 changes and fixes
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy_tests/test_docstrings.py
Labels: NumPy Frontend, Function Reformatting, Ivy Functional API

#4945 Added Cumprod to raw_ops
  ivy/functional/backends/jax/statistical.py
  ivy/functional/backends/numpy/statistical.py
  ivy/functional/backends/torch/statistical.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5362 Added Inv to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5264 add tensorflow sigmoid frontend function and test
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_activations.py
Labels: TensorFlow Frontend

#4885 jax.numpy.linalg.cholesky
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
Labels: JAX Frontend

#5236 Tests for Array class magic methods
  ivy_tests/test_ivy/test_array.py
Labels: Array API

#5247 Cupy backend
  ivy/functional/backends/cupy/__init__.py
  ivy/functional/backends/cupy/__pycache__/random.cpython-38.pyc
  ivy/functional/backends/cupy/activations.py
  ivy/functional/backends/cupy/compilation.py
  ivy/functional/backends/cupy/creation.py
  ivy/functional/backends/cupy/data_type.py
  ivy/functional/backends/cupy/device.py
  ivy/functional/backends/cupy/elementwise.py
  ivy/functional/backends/cupy/extensions.py
  ivy/functional/backends/cupy/general.py
  ivy/functional/backends/cupy/gradients.py
  ivy/functional/backends/cupy/helpers.py
  ivy/functional/backends/cupy/layers.py
  ivy/functional/backends/cupy/linear_algebra.py
  ivy/functional/backends/cupy/manipulation.py
  ivy/functional/backends/cupy/random.py
  ivy/functional/backends/cupy/searching.py
  ivy/functional/backends/cupy/set.py
  ivy/functional/backends/cupy/sorting.py
  ivy/functional/backends/cupy/statistical.py
  ivy/functional/backends/cupy/utility.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/conftest.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
Labels: Extension

#5313 frontend tensorflow dtype promotion table Update
  docs/partial_source/deep_dive/16_ivy_frontends.rst
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/tensorflow/linalg.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend

#5404 add jax frontend array conversion decorator - `jax.numpy`
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
Labels: JAX Frontend

#5395 Added OnesLike to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5177 numpy frontend casting
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/frontends/numpy/linalg/matrix_and_vector_products.py
  ivy/functional/frontends/numpy/logic/array_type_testing.py
  ivy/functional/frontends/numpy/logic/comparison.py
  ivy_tests/test_ivy/test_frontends/test_numpy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_matrix_and_vector_products.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_array_type_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_comparison.py
Labels: NumPy Frontend

#5340 Superset behaviour - Argmax
  ivy/array/searching.py
  ivy/container/searching.py
  ivy/functional/backends/jax/searching.py
  ivy/functional/backends/numpy/searching.py
  ivy/functional/backends/tensorflow/searching.py
  ivy/functional/backends/torch/searching.py
  ivy/functional/ivy/searching.py
Labels: Exhaustive CI

#5401 Added Cholesky to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5351 Added Min to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5348 Added Max to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5406 Fix tests in stateful layers
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_stateful/test_layers.py
Labels: Ivy Stateful API

#5451 Test fixing
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: Single Function, Testing

#5453 numpy frontend casting decorator
  ivy/functional/frontends/numpy/logic/logical_operations.py
  ivy/functional/frontends/numpy/manipulation_routines/joining_arrays.py
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
  ivy/functional/frontends/numpy/mathematical_functions/exponents_and_logarithms.py
  ivy/functional/frontends/numpy/mathematical_functions/extrema_finding.py
  ivy/functional/frontends/numpy/mathematical_functions/hyperbolic_functions.py
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy/functional/frontends/numpy/mathematical_functions/rounding.py
  ivy/functional/frontends/numpy/mathematical_functions/trigonometric_functions.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/dtype_helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_logical_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_joining_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_exponents_and_logarithms.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_extrema_finding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_hyperbolic_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_rounding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_trigonometric_functions.py
Labels: NumPy Frontend

#5398 Added Mul to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5148 flatten extension
  ivy/array/extensions.py
  ivy/container/extensions.py
  ivy/functional/backends/torch/extensions.py
  ivy/functional/ivy/extensions.py
  ivy_tests/test_ivy/test_functional/test_extensions.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4811 Add complex dtype and isreal function - Ivy functional API extension
  ivy/__init__.py
  ivy/array/elementwise.py
  ivy/container/elementwise.py
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/data_type.py
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/numpy/data_type.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/tensorflow/__init__.py
  ivy/functional/backends/tensorflow/data_type.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/torch/__init__.py
  ivy/functional/backends/torch/data_type.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/ivy/elementwise.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/dtype_helpers.py
  ivy_tests/test_ivy/test_functional/test_core/test_dtype.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5452 Added jax.numpy.cos namespace function to jax frontend and tested.
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#5418 Added LeftShift to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#4212 initial changes
  .idea/vcs.xml
  docs/partial_source/deep_dive/6_data_types.rst
  ivy/func_wrapper.py
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/activations.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/numpy/data_type.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/numpy/manipulation.py
  ivy/functional/backends/tensorflow/__init__.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/tensorflow/data_type.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/tensorflow/layers.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/torch/__init__.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/backends/torch/data_type.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/backends/torch/general.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/backends/torch/manipulation.py
  ivy/functional/backends/torch/set.py
  ivy/functional/backends/torch/statistical.py
  ivy/functional/frontends/__init__.py
  ivy/functional/frontends/numpy/linalg/norms_and_other_numbers.py
  ivy/functional/frontends/numpy/linalg/solving_equations_and_inverting_matrices.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy/functional/frontends/tensorflow/linalg.py
  ivy/functional/frontends/tensorflow/nn.py
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy/functional/ivy/general.py
  ivy_tests/test_ivy/test_functional/test_core/test_dtype.py
Labels: PyTorch Frontend, TensorFlow Frontend, NumPy Frontend, Function Reformatting, Ivy Functional API

#5439 Lcm extension
  ivy/array/extensions.py
  ivy/container/extensions.py
  ivy/functional/backends/jax/extensions.py
  ivy/functional/backends/numpy/extensions.py
  ivy/functional/backends/tensorflow/extensions.py
  ivy/functional/backends/torch/extensions.py
  ivy/functional/ivy/extensions.py
  ivy_tests/test_ivy/test_functional/test_extensions.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5118 add jax frontend special methods - add, mul, sub, radd, rmul rsub
  ivy/functional/frontends/jax/devicearray.py
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#5482 frontends.tf.linalg: add support for norm and normalize
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#5386 New and improved pull request for layer_norm!
  ivy/array/norms.py
  ivy/container/norms.py
  ivy/functional/ivy/norms.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/test_functional/test_nn/test_norms.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5133 #5130 Uint16
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#5315 Added NthElement to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5298 pytorch frontend type promotion
  docs/partial_source/deep_dive/6_data_types.rst
  ivy/functional/frontends/torch/__init__.py
  ivy/functional/frontends/torch/blas_and_lapack_ops.py
  ivy/functional/frontends/torch/comparison_ops.py
  ivy/functional/frontends/torch/pointwise_ops.py
Labels: PyTorch Frontend

#2760 dropout function added
  ivy/functional/frontends/torch/dropout_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_dropout_functions.py
Labels: PyTorch Frontend

#4990 Update general.py
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/ivy/general.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5460 Added InvGrad to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5449 Vander extension
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5183 hann_window extension
  ivy/container/extensions.py
  ivy/functional/backends/jax/extensions.py
  ivy/functional/backends/numpy/extensions.py
  ivy/functional/backends/tensorflow/extensions.py
  ivy/functional/backends/torch/extensions.py
  ivy/functional/ivy/extensions.py
  ivy_tests/test_ivy/test_functional/test_extensions.py
Labels: Function Reformatting, Ivy Functional API

#5514 Added rot90 to PyTorch frontend
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#5527 torch and jax frontend namespaces
  ivy/functional/frontends/jax/__init__.py
  ivy/functional/frontends/jax/lax/__init__.py
  ivy/functional/frontends/jax/numpy/__init__.py
  ivy/functional/frontends/torch/__init__.py
  ivy/functional/frontends/torch/nn/__init__.py
  ivy/functional/frontends/torch/nn/functional/__init__.py
  ivy/functional/frontends/torch/nn/functional/convolution_functions.py
  ivy/functional/frontends/torch/nn/functional/distance_functions.py
  ivy/functional/frontends/torch/nn/functional/dropout_functions.py
  ivy/functional/frontends/torch/nn/functional/linear_functions.py
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy/functional/frontends/torch/nn/functional/sparse_functions.py
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_convolution_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_dropout_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linear_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_vision_functions.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend

#5420 fix matrix_norm superset behaviour
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
Labels: Function Reformatting, Ivy Functional API

#5216 added argmax to jax frontend
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#5376 Numpy frontend array decorators
  ivy/functional/frontends/numpy/creation_routines/building_matrices.py
  ivy/functional/frontends/numpy/creation_routines/from_existing_data.py
  ivy/functional/frontends/numpy/creation_routines/from_shape_or_value.py
  ivy/functional/frontends/numpy/creation_routines/numerical_ranges.py
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/frontends/numpy/linalg/decompositions.py
  ivy/functional/frontends/numpy/linalg/matrix_and_vector_products.py
  ivy/functional/frontends/numpy/linalg/norms_and_other_numbers.py
  ivy/functional/frontends/numpy/linalg/solving_equations_and_inverting_matrices.py
  ivy/functional/frontends/numpy/logic/array_contents.py
  ivy/functional/frontends/numpy/logic/array_type_testing.py
  ivy/functional/frontends/numpy/logic/comparison.py
  ivy/functional/frontends/numpy/logic/logical_operations.py
  ivy/functional/frontends/numpy/logic/truth_value_testing.py
  ivy/functional/frontends/numpy/manipulation_routines/basic_operations.py
  ivy/functional/frontends/numpy/manipulation_routines/changing_array_shape.py
  ivy/functional/frontends/numpy/manipulation_routines/changing_number_of_dimensions.py
  ivy/functional/frontends/numpy/manipulation_routines/joining_arrays.py
  ivy/functional/frontends/numpy/manipulation_routines/rearranging_elements.py
  ivy/functional/frontends/numpy/manipulation_routines/tiling_arrays.py
  ivy/functional/frontends/numpy/manipulation_routines/transpose_like_operations.py
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
  ivy/functional/frontends/numpy/mathematical_functions/exponents_and_logarithms.py
  ivy/functional/frontends/numpy/mathematical_functions/extrema_finding.py
  ivy/functional/frontends/numpy/mathematical_functions/hyperbolic_functions.py
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy/functional/frontends/numpy/mathematical_functions/rounding.py
  ivy/functional/frontends/numpy/mathematical_functions/sums_products_differences.py
  ivy/functional/frontends/numpy/mathematical_functions/trigonometric_functions.py
  ivy/functional/frontends/numpy/random/functions.py
  ivy/functional/frontends/numpy/sorting_searching_counting/searching.py
  ivy/functional/frontends/numpy/sorting_searching_counting/sorting.py
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
  ivy/functional/frontends/numpy/statistics/correlating.py
Labels: NumPy Frontend

#5176 frontends.tensorflow.nn: add supported for weighted ce with logits
  ivy/functional/frontends/tensorflow/nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
Labels: TensorFlow Frontend

#5365 Added Invert to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5357 Added mul and multiply to PyTorch fronend
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#5331 ivy.max_pool2d
  ivy/array/extensions.py
  ivy/container/extensions.py
  ivy/functional/backends/jax/extensions.py
  ivy/functional/backends/numpy/extensions.py
  ivy/functional/backends/tensorflow/extensions.py
  ivy/functional/backends/torch/extensions.py
  ivy/functional/ivy/extensions.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/test_functional/test_extensions.py
Labels: Extension, Ivy Functional API

#5049 Torch.vander Frontend
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#5555 reduce number of ops in `promote_types_of_inputs`
  ivy/functional/ivy/data_type.py
Labels: Exhaustive CI

#5565 Numpy frontend namespaces
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/linalg/solving_equations_and_inverting_matrices.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_solving_equations_and_inverting_matrices.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: NumPy Frontend

#5489 NamedTuple changes
  ivy/array/general.py
  ivy/array/linear_algebra.py
  ivy/array/set.py
  ivy/container/linear_algebra.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/jax/set.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/numpy/set.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/tensorflow/set.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/backends/torch/set.py
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/set.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5519 Added asarray to Numpy Frontend and tested.
  ivy/functional/frontends/numpy/manipulation_routines/changing_kind_of_array.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_changing_kind_of_array.py
Labels: NumPy Frontend

#5338 Fixes task #5245 to add ReLU activation frontend tensorflow and merged latest commit histories
  ivy/functional/frontends/tensorflow/activations.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_activations.py
Labels: TensorFlow Frontend

#5537 Torch Creation Ops
  ivy/functional/frontends/torch/creation_ops.py
  ivy/functional/ivy/creation.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_activations.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
Labels: PyTorch Frontend, Function Reformatting, Ivy Functional API

#5060 Jax.numpy.linalg.slogdet Frontend
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
Labels: JAX Frontend

#5552 numpy promotion table added
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/linalg/matrix_and_vector_products.py
  ivy/functional/frontends/numpy/linalg/solving_equations_and_inverting_matrices.py
  ivy/functional/frontends/numpy/manipulation_routines/changing_kind_of_array.py
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
  ivy/functional/frontends/numpy/sorting_searching_counting/searching.py
Labels: NumPy Frontend

#5592 fix docs rendering for extension
  ivy/container/extensions.py
  ivy/functional/ivy/extensions.py
Labels: Function Reformatting

#5593 Numpy frontend promotion table
  ivy/functional/frontends/numpy/__init__.py
Labels: NumPy Frontend

#5106 remove native wrapper
  ivy/array/array.py
Labels: Exhaustive CI

#5530 gelu tensorflow frontend and its test
  ivy/functional/frontends/tensorflow/activations.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_activations.py
Labels: TensorFlow Frontend

#5603 update array class tests
  ivy_tests/test_ivy/test_array.py
Labels: Array API, Ivy Array, Ivy Functional API

#5574 Fix multiline docstrings
  ivy/array/elementwise.py
  ivy/array/general.py
  ivy/array/gradients.py
  ivy/array/layers.py
  ivy/array/linear_algebra.py
  ivy/array/norms.py
  ivy/array/statistical.py
  ivy/array/wrapping.py
  ivy/container/container.py
  ivy/container/creation.py
  ivy/container/data_type.py
  ivy/container/elementwise.py
  ivy/container/extensions.py
  ivy/container/general.py
  ivy/container/gradients.py
  ivy/container/layers.py
  ivy/container/linear_algebra.py
  ivy/container/manipulation.py
  ivy/container/norms.py
  ivy/container/random.py
  ivy/container/set.py
  ivy/container/sorting.py
  ivy/container/statistical.py
  ivy/container/wrapping.py
  ivy/functional/ivy/activations.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/extensions.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/nest.py
  ivy/functional/ivy/norms.py
  ivy/functional/ivy/random.py
  ivy/functional/ivy/set.py
  ivy/functional/ivy/statistical.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5239 Kaiser_window extension
  ivy/container/extensions.py
  ivy/functional/backends/jax/extensions.py
  ivy/functional/backends/numpy/extensions.py
  ivy/functional/backends/tensorflow/extensions.py
  ivy/functional/backends/torch/extensions.py
  ivy/functional/ivy/extensions.py
  ivy_tests/test_ivy/test_functional/test_extensions.py
Labels: Function Reformatting, Ivy Functional API

#5609 moveaxis extension
  ivy/array/extensions.py
  ivy/container/extensions.py
  ivy/functional/backends/jax/extensions.py
  ivy/functional/backends/numpy/extensions.py
  ivy/functional/backends/tensorflow/extensions.py
  ivy/functional/backends/torch/extensions.py
  ivy/functional/ivy/extensions.py
  ivy_tests/test_ivy/test_functional/test_extensions.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5511 adding nanmean function to numpy frontend
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
Labels: NumPy Frontend

#5002 Reformat linear
  ivy/array/layers.py
  ivy/container/layers.py
  ivy/functional/ivy/layers.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4881 adding ceil tensorflow frontend
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#4929 numpy frontend floor_divide
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
Labels: NumPy Frontend

#5417 Added RightShift to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5610 update std function's docstring in statistical.py
  ivy/functional/ivy/statistical.py
Labels: Function Reformatting, Ivy Functional API, Hacktoberfest

#5629 Added Tile function
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#5481 Added jax.numpy trig namespace functions to jax frontend and tested.
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#5563 Adding "smooth_l1_loss" to PyTorch frontend
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
Labels: PyTorch Frontend, Function Reformatting, Ivy Functional API

#5576 Amended tensorflow namespaces to include keras
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/tensorflow/keras/__init__.py
  ivy/functional/frontends/tensorflow/keras/activations.py
  ivy/functional/frontends/tensorflow/keras/layers.py
  ivy/functional/frontends/tensorflow/keras/metrics.py
  ivy/functional/frontends/tensorflow/keras/regularizers.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_activations.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_metrics.py
Labels: TensorFlow Frontend

#5627 heaviside extension
  ivy/array/extensions.py
  ivy/container/extensions.py
  ivy/functional/backends/jax/extensions.py
  ivy/functional/backends/numpy/extensions.py
  ivy/functional/backends/tensorflow/extensions.py
  ivy/functional/backends/torch/extensions.py
  ivy/functional/ivy/extensions.py
  ivy_tests/test_ivy/test_functional/test_extensions.py
Labels: Array API, Function Reformatting, Ivy Functional API, Ivy API Extensions

#5502 add superset behaviour for searchsorted
  ivy/array/sorting.py
  ivy/container/sorting.py
  ivy/functional/backends/jax/sorting.py
  ivy/functional/backends/numpy/sorting.py
  ivy/functional/backends/tensorflow/sorting.py
  ivy/functional/backends/torch/sorting.py
  ivy/functional/ivy/sorting.py
  ivy_tests/test_ivy/test_functional/test_core/test_sorting.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5684 frontend tensorflow type promotion fix
  ivy/functional/frontends/tensorflow/__init__.py
Labels: TensorFlow Frontend

#5685 added `batch_dims` to `general.py::gather_nd`
  ivy/array/general.py
  ivy/assertions.py
  ivy/container/general.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/torch/general.py
  ivy/functional/ivy/general.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5697 frontend tensorflow type promotion Refactor
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#4730 feat: stack reformatting task
  ivy/array/manipulation.py
  ivy/container/manipulation.py
  ivy/functional/ivy/manipulation.py
Labels: Array API, Function Reformatting, Ivy Functional API, Stale

#5698 frontend tensorflow instance method Update
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend

#5586 added torch instance methods sinh/sinh_
  ivy/functional/frontends/torch/Tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#5396 Tf rawops cleanup
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
Labels: TensorFlow Frontend

#5708 Fix docstrings tests
  ivy/container/linear_algebra.py
  ivy_tests/test_docstrings.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5559 Updated execute_with_gradients to support multiple variables and structures with gradient indexing
  ivy/functional/backends/jax/gradients.py
  ivy/functional/backends/numpy/gradients.py
  ivy/functional/backends/tensorflow/gradients.py
  ivy/functional/backends/torch/gradients.py
  ivy/functional/ivy/gradients.py
  ivy_tests/test_ivy/test_functional/test_core/test_gradients.py
Labels: Function Reformatting, Ivy Functional API

#5317 Added Sum to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5720 extend ivy api with median
  ivy/array/extensions.py
  ivy/container/extensions.py
  ivy/functional/backends/jax/extensions.py
  ivy/functional/backends/numpy/extensions.py
  ivy/functional/backends/tensorflow/extensions.py
  ivy/functional/backends/torch/extensions.py
  ivy/functional/ivy/extensions.py
  ivy_tests/test_ivy/test_functional/test_extensions.py
Labels: Array API, Function Reformatting, Ivy Functional API, Ivy API Extensions

#5717 Added jax_numpy_zeros and test.
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend, Hacktoberfest Accepted

#5729 frontend tensorflow instance methods Update
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend

#5587 helper to abstract shape checking for torch frontend layers
  ivy/functional/frontends/torch/nn/functional/convolution_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_convolution_functions.py
Labels: PyTorch Frontend

#5690 tf frontend namespace refactoring
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/tensorflow/keras/activations.py
  ivy/functional/frontends/tensorflow/linalg.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_metrics.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5749 Torch Frontend Creation Ops
  ivy/functional/frontends/torch/creation_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
Labels: PyTorch Frontend

#5673 Implemented maximum in numpy extrema_finding frontend.
  ivy/functional/frontends/numpy/mathematical_functions/extrema_finding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_extrema_finding.py
Labels: NumPy Frontend

#5415 Added TruncateDiv to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5640 added tan to torch frontend and tested
  ivy/functional/frontends/torch/Tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#5400 frontends.tensorflow.activations: add support for elu and selu
  ivy/functional/frontends/tensorflow/keras/activations.py
  ivy/functional/ivy/data_type.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_activations.py
Labels: TensorFlow Frontend, Function Reformatting, Ivy Functional API

#5675 Added arrcos, arrcosh, arcsin, arcsinh to jax.numpy frontend namespace functions
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#4822 Adding Relu6 in raw_ops tensorflow frontend
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5760 flipud extension
  ivy/array/extensions.py
  ivy/container/extensions.py
  ivy/functional/backends/jax/extensions.py
  ivy/functional/backends/numpy/extensions.py
  ivy/functional/backends/tensorflow/extensions.py
  ivy/functional/backends/torch/extensions.py
  ivy/functional/ivy/extensions.py
  ivy_tests/test_ivy/test_functional/test_extensions.py
Labels: Extension, Ivy Functional API, Ivy API Extensions

#5173 Reformat matrix_norm
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
Labels: Array API, Function Reformatting, Ivy Functional API

#5785 Added torch instance method cos and tested
  ivy/functional/frontends/torch/Tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#5725 torch frontend asinh and asinh_ instance method
  ivy/functional/frontends/torch/Tensor.py
  ivy/functional/frontends/torch/creation_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#5788 update tanh tensorflow frontend
  ivy/functional/frontends/tensorflow/keras/activations.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_activations.py
Labels: TensorFlow Frontend

#5752 Fmod extension
  ivy/array/extensions.py
  ivy/container/extensions.py
  ivy/functional/backends/jax/extensions.py
  ivy/functional/backends/numpy/extensions.py
  ivy/functional/backends/tensorflow/extensions.py
  ivy/functional/backends/torch/extensions.py
  ivy/functional/ivy/extensions.py
  ivy_tests/test_ivy/test_functional/test_extensions.py
Labels: Array API, Function Reformatting, Ivy Functional API, Ivy API Extensions
