Repository ivy-llc/ivy, pull requests merged in 2022-09, with the labels that each got.

#3907 Fix `test_ceil`
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: with CI

#3904 package fix - `nvidia-ml-py3` to `nvidia-ml-py`
  ivy/functional/ivy/device.py
  ivy_tests/test_ivy/test_functional/test_core/test_device.py
  requirements.txt
Labels: with CI

#1646 Editing Container operator functions and fixing up general submodule
  ivy/array/array.py
  ivy/array/general.py
  ivy/container/base.py
  ivy/container/general.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/mxnet/general.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/general.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/nest.py
  ivy_tests/test_ivy/helpers.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
Labels: with CI

#3433 Reformat cumsum
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/mxnet/general.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/torch/general.py
  ivy/functional/ivy/general.py
Labels: Reformatting

#3979 logsigmoid
  ivy/functional/frontends/torch/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: Sub Task

#3880 Auto dtypes
  ivy/functional/backends/torch/creation.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/general.py
  ivy_tests/test_ivy/helpers.py
  ivy_tests/test_ivy/test_functional/test_core/test_device.py
  ivy_tests/test_ivy/test_functional/test_core/test_dtype.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
Labels: with CI

#3950 Reformatting functional linalg; added kwargs for instance methods.
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
Labels: with CI

#3991 Reformat cache_fn
  ivy/functional/ivy/general.py
Labels: Reformatting

#4125 fixing tests in elementwise
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/torch/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: with CI

#3944 ArgMax
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: Sub Task

#4109 disable filtering health check for array API
  ivy_tests/conftest.py
  ivy_tests/skips.txt
Labels: with CI

#4197 Auto dtype tuple
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/frontends/numpy/creation_routines/numerical_ranges.py
  ivy/functional/frontends/numpy/linear_algebra/linalg/decompositions.py
  ivy/functional/frontends/numpy/linear_algebra/linalg/matrix_and_vector_products.py
  ivy/functional/frontends/numpy/linear_algebra/linalg/norms_and_other_numbers.py
  ivy/functional/frontends/numpy/linear_algebra/linalg/solving_equations_and_inverting_matrices.py
  ivy/functional/frontends/numpy/manipulation_routines/tiling_arrays.py
  ivy/functional/frontends/numpy/mathematical_functions/exponents_and_logarithms.py
  ivy/functional/frontends/numpy/mathematical_functions/hyperbolic_functions.py
  ivy/functional/frontends/numpy/mathematical_functions/rounding.py
  ivy/functional/frontends/numpy/mathematical_functions/sums_products_differences.py
  ivy/functional/frontends/numpy/mathematical_functions/trigonometric_functions.py
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
  ivy/functional/frontends/tensorflow/activations.py
  ivy/functional/frontends/tensorflow/linalg.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/metrics.py
  ivy/functional/frontends/tensorflow/nn.py
  ivy/functional/frontends/torch/blas_and_lapack_ops.py
  ivy/functional/frontends/torch/comparison_ops.py
  ivy/functional/frontends/torch/creation_ops.py
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy/functional/frontends/torch/loss_functions.py
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy/functional/frontends/torch/non_linear_activation_functions.py
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/losses.py
  ivy_tests/test_ivy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_blas_and_lapack_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: with CI

#4233 label based CI testing
  .github/workflows/test-array-api.yml
  .github/workflows/test-docstrings.yml
  .github/workflows/test-frontend-jax.yml
  .github/workflows/test-frontend-numpy.yml
  .github/workflows/test-frontend-tensorflow.yml
  .github/workflows/test-frontend-torch.yml
  .github/workflows/test-ivy-core.yml
  .github/workflows/test-ivy-nn.yml
  .github/workflows/test-ivy-stateful.yml
  .github/workflows/test-numpy-docstrings.yml
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend

#4281 type hints to fix type checks
  ivy/__init__.py
Labels: with CI

#4207 implemented eye in tensorflow linalg
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#4203 Torch Logical Frontends
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#4319 Fixing frontend torch non linear activations
  ivy/functional/frontends/torch/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#4255 changes
  docs/partial_source/deep_dive/11_function_arguments.rst
Labels: Sub Task

#4222 Adding `selu` to torch frontend
  ivy/functional/frontends/torch/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#4353 Jax frontend operators
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#4356 small improvements to `test_jax_lax_operators.py`
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#4342 root directory reorganisation
  .github/workflows/test-array-api.yml
  .github/workflows/test-ivy-core-manual.yml
  .github/workflows/test-ivy-core.yml
  .github/workflows/test-ivy-nn-manual.yml
  .github/workflows/test-ivy-nn.yml
  .github/workflows/test-ivy-stateful-manual.yml
  .github/workflows/test-ivy-stateful.yml
  run_tests_CLI/run_tests.sh
  run_tests_CLI/test_array_api.sh
  run_tests_CLI/test_dependencies.py
  run_tests_CLI/test_dependencies.sh
  run_tests_CLI/test_ivy_core.sh
  run_tests_CLI/test_ivy_nn.sh
  run_tests_CLI/test_ivy_stateful.sh
Labels: Ivy API, Array API, Ivy Array, Ivy Functional API, Ivy Stateful API

#4372 frontend tensorflow.metrics test fix
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_metrics.py
Labels: TensorFlow Frontend

#4242 exceptions and assertions
  ivy/__init__.py
  ivy/assertions.py
  ivy/exceptions.py
  ivy/func_wrapper.py
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/nest.py
  ivy/functional/ivy/norms.py
  ivy/functional/ivy/sorting.py
  ivy/functional/ivy/statistical.py
  ivy/functional/ivy/utility.py
Labels: Ivy Functional API

#4374 Adding `prelu` to the torch frontend
  ivy/functional/frontends/torch/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#3927 Subset of Reduction Ops for Pytorch Frontend
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#4381 exhaustive CI label functionality
  .github/workflows/dockerfile-image.yml
  .github/workflows/dockerfilecopsim-image.yml
  .github/workflows/dockerfilegpu-image.yml
  .github/workflows/test-array-api.yml
  .github/workflows/test-docstrings.yml
  .github/workflows/test-frontend-jax.yml
  .github/workflows/test-frontend-numpy.yml
  .github/workflows/test-frontend-tensorflow.yml
  .github/workflows/test-frontend-torch.yml
  .github/workflows/test-ivy-core.yml
  .github/workflows/test-ivy-nn.yml
  .github/workflows/test-ivy-stateful.yml
  .github/workflows/test-numpy-docstrings.yml
  jiggle.py
Labels: Exhaustive CI

#4377 refactor assertions in ivy functional
  ivy/__init__.py
  ivy/assertions.py
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/numpy/creation.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/general.py
Labels: Function Reformatting, Ivy Functional API

#4370 cholesky
  ivy/functional/frontends/jax/lax/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_linalg.py
Labels: JAX Frontend, Sub Task

#4143 Added triu to Torch frontend and patched ivy triu
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy/functional/ivy/creation.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend, Function Reformatting, Ivy Functional API

#4325 Raw ops tensorflow
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
  ivy_tests/test_ivy/test_functional/test_core/test_dtype.py
Labels: TensorFlow Frontend

#4341 Issue #3470
  ivy/functional/frontends/numpy/sorting_searching_counting/searching.py
  ivy/functional/frontends/numpy/sorting_searching_counting/sorting.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_sorting_searching_counting/test_searching.py
Labels: NumPy Frontend

#4373 Reformat linear_algebra trace function
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4384 refactor Exception class to IvyException or assertion helper function
  ivy/assertions.py
  ivy/backend_handler.py
  ivy/functional/backends/tensorflow/utility.py
  ivy/functional/backends/torch/utility.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/random.py
  ivy_tests/test_ivy/test_functional/test_core/test_random.py
Labels: Function Reformatting, Ivy Functional API

#4431 add exception handling decorator
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/losses.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/norms.py
  ivy/functional/ivy/random.py
  ivy/functional/ivy/searching.py
  ivy/functional/ivy/set.py
  ivy/functional/ivy/sorting.py
Labels: Function Reformatting, Ivy Functional API

#4432 docstring fix
  ivy/container/general.py
  ivy/container/linear_algebra.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/general.py
  ivy_tests/test_docstrings.py
Labels: Function Reformatting

#4423 added raw_ops argmax tensorflow frontend
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#4387 run all tests based on label
  .github/workflows/test-ivy-core.yml
  .github/workflows/test-ivy-nn.yml
  .github/workflows/test-ivy-stateful.yml
Labels: Exhaustive CI

#4395 Added `rrelu` and `rrelu_` to the torch frontend
  ivy/functional/frontends/torch/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#4434 more exception handling decorator updates
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/meta.py
  ivy/functional/ivy/nest.py
Labels: Function Reformatting, Ivy Functional API

#4443 refactor exception handling in array/container
  ivy/array/array.py
  ivy/assertions.py
  ivy/container/base.py
Labels: Ivy Functional API

#4239 deg2rad,rad2deg extensions
  ivy/array/elementwise.py
  ivy/container/elementwise.py
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/ivy/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4337 numpy frontend - `creation routines: from shape or value` submodule
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_from_shape_or_value.py
Labels: NumPy Frontend

#4465 typo fix on slogdet
  ivy/functional/ivy/linear_algebra.py
Labels: Exhaustive CI

#4446 refactoring assertions and Exception in backends
  ivy/assertions.py
  ivy/functional/backends/jax/converters.py
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/numpy/activations.py
  ivy/functional/backends/numpy/data_type.py
  ivy/functional/backends/numpy/device.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/numpy/manipulation.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/tensorflow/layers.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/torch/converters.py
  ivy/functional/backends/torch/data_type.py
  ivy/functional/backends/torch/general.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/backends/torch/manipulation.py
Labels: Ivy Functional API

#4468 refactor assertions in ivy.stateful
  ivy/backend_handler.py
  ivy/container/base.py
  ivy/functional/ivy/random.py
  ivy/stateful/initializers.py
  ivy/stateful/module.py
  ivy/stateful/optimizers.py
  ivy/stateful/sequential.py
Labels: Ivy Stateful API

#4017 Reformat print_all_arrays_on_dev in device.py
  ivy/functional/ivy/device.py
Labels: Function Reformatting, Ivy Functional API

#4440 Added a subset of non linear activations to torch frontend
  ivy/functional/frontends/torch/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#2742 added numpy frontend any matrix method
  ivy/functional/frontends/numpy/matrix/methods.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_matrix/test_methods.py
Labels: NumPy Frontend

#4249 add inner to numpy
  ivy/functional/frontends/numpy/linear_algebra/matrix_and_vector_products.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_matrix_and_vector_products.py
Labels: NumPy Frontend

#4218 Fix used_mem_on_dev() units (GB instead of bytes)
  ivy/functional/ivy/device.py
Labels: Function Reformatting, Ivy Functional API

#4490 rename `indices_where` to `argwhere`
  docs/partial_source/deep_dive/10_formatting.rst
  ivy/array/searching.py
  ivy/container/base.py
  ivy/container/searching.py
  ivy/func_wrapper.py
  ivy/functional/backends/jax/searching.py
  ivy/functional/backends/numpy/searching.py
  ivy/functional/backends/tensorflow/gradients.py
  ivy/functional/backends/tensorflow/searching.py
  ivy/functional/backends/torch/searching.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/nest.py
  ivy/functional/ivy/searching.py
  ivy_tests/test_ivy/helpers.py
  ivy_tests/test_ivy/test_functional/test_core/test_gradients.py
  ivy_tests/test_ivy/test_functional/test_core/test_nest.py
  ivy_tests/test_ivy/test_functional/test_core/test_searching.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4419 add `safety_factor` to `array_values`, refactor, some bugs fix.
  ivy_tests/test_ivy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_nn_activations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_exponents_and_logarithms.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_sums_products_differences.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_metrics.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
  ivy_tests/test_ivy/test_functional/test_core/test_dtype.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
  ivy_tests/test_ivy/test_functional/test_core/test_gradients.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
  ivy_tests/test_ivy/test_functional/test_core/test_random.py
  ivy_tests/test_ivy/test_functional/test_core/test_statistical.py
  ivy_tests/test_ivy/test_functional/test_nn/test_activations.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: Exhaustive CI

#4069 Fix for individual task regarding speeding up ivy.asarray
  ivy/container/creation.py
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/numpy/creation.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/ivy/creation.py
Labels: Function Reformatting, Ivy Functional API

#4364 Add rad2deg function to numpy frontend
  .idea/runConfigurations/pytest_for_all.xml
  ivy/functional/frontends/numpy/mathematical_functions/trigonometric_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_np_trigonometric_functions.py
Labels: NumPy Frontend

#4037 general.py::gather fixes
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/torch/general.py
  ivy/functional/ivy/general.py
  ivy_tests/test_ivy/helpers.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4489 refactor assertions in frontend
  ivy/functional/frontends/jax/lax/control_flow_operators.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy/functional/frontends/numpy/sorting_searching_counting/searching.py
  ivy/functional/frontends/numpy/statistics/correlating.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/metrics.py
  ivy/functional/frontends/torch/convolution_functions.py
  ivy/functional/frontends/torch/loss_functions.py
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy/functional/frontends/torch/vision_functions.py
  ivy/functional/ivy/extensions.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Function Reformatting, Ivy Functional API

#4524 add exception handling decorators to `activations` and `creation`
  ivy/functional/ivy/activations.py
  ivy/functional/ivy/compilation.py
  ivy/functional/ivy/creation.py
Labels: Function Reformatting, Ivy Functional API

#4386 Root directory reorganisation
  .idea/runConfigurations/Dockerfile.xml
  Dockerfile
  DockerfileCopsim
  DockerfileGPU
  requirements/optional.txt
  requirements/optional_m1_1.txt
  requirements/optional_m1_2.txt
  requirements/requirements.txt
Labels: Build Docker Files

#4321 added empty function torch
  ivy/functional/frontends/torch/creation_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
Labels: PyTorch Frontend

#4532 Container deep dive documenration's shared nested example fixed
  docs/partial_source/deep_dive/6_containers.rst
Labels: Function Reformatting, Reformatting

#4541 Added `tanhshrink` and `leaky_relu_` to torch frontend
  ivy/functional/frontends/torch/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#4554 `gather_nd` fixes
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/torch/general.py
  ivy/functional/ivy/general.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
Labels: Array API, Function Reformatting, Reformatting, Ivy Functional API

#3890 Triu indices
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#4553 Frontends/torch/mean
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#4030 implemented jax lax erf in the jax frontend and tested.
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#4601 Reformat value_is_nan
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/ivy/general.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4550 Frontends/torch/std
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#4422 min #4418
  ivy/functional/backends/jax/statistical.py
  ivy/functional/backends/numpy/statistical.py
  ivy/functional/backends/tensorflow/statistical.py
  ivy/functional/backends/torch/statistical.py
  ivy/functional/ivy/statistical.py
Labels: Function Reformatting, Ivy Functional API

#4068 Fixed subract fn
  ivy/array/array.py
  ivy/array/elementwise.py
  ivy/container/container.py
  ivy/container/elementwise.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/ivy/elementwise.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4611 Individual task: Adding `jax.numpy` frontend skeleton files
  ivy/functional/frontends/jax/__init__.py
  ivy/functional/frontends/jax/numpy/__init__.py
  ivy/functional/frontends/jax/numpy/fft.py
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_fft.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#4561 Added tril to Torch frontend
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#3651 Fix module stateful submodule
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/random.py
  ivy/stateful/layers.py
  ivy/stateful/module.py
  ivy/stateful/norms.py
  ivy/stateful/sequential.py
  ivy_tests/test_ivy/conftest.py
  ivy_tests/test_ivy/test_stateful/test_modules.py
Labels: Function Reformatting, Ivy Functional API, Ivy Stateful API

#4448 numpy frontend searching and logic
  ivy/functional/frontends/numpy/logic/array_type_testing.py
  ivy/functional/frontends/numpy/sorting_searching_counting/searching.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_array_type_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_sorting_searching_counting/test_searching.py
Labels: NumPy Frontend

#2681 add reduce_mean to tensorflow frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#4552 Frontends/torch/prod
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#4676 Adding `multiply-no-nan` to tensorflow frontend math function
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#4607 Addition of ivy.trunc_divide
  ivy/array/elementwise.py
  ivy/container/elementwise.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/ivy/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4677 mae layer
  ivy/functional/frontends/tensorflow/metrics.py
Labels: TensorFlow Frontend

#4449 softplus_superset
  ivy/array/activations.py
  ivy/container/activations.py
  ivy/functional/backends/jax/activations.py
  ivy/functional/backends/numpy/activations.py
  ivy/functional/backends/tensorflow/activations.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/ivy/activations.py
  ivy_tests/test_ivy/helpers.py
  ivy_tests/test_ivy/test_functional/test_nn/test_activations.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4602 Added unshuffle function and tests
  ivy/functional/frontends/torch/vision_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_vision_functions.py
Labels: PyTorch Frontend

#4691 mkdir docker
  docker/Dockerfile
  docker/DockerfileCopsim
  docker/DockerfileGPU
  rebuild_all_dockerfiles.sh
Labels: Exhaustive CI

#4530 Frontend.numpy.random.random
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#4722 Refactor `num_arrays` in test `helpers`
  ivy_tests/test_ivy/helpers.py
Labels: Exhaustive CI

#4551 Frontends/torch/var
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#4689 superset - add `reduction` to `losses.py`
  ivy/array/losses.py
  ivy/container/losses.py
  ivy/functional/ivy/losses.py
  ivy_tests/test_ivy/test_functional/test_nn/test_losses.py
Labels: Array API, Function Reformatting, Ivy Functional API

#2910 conv2d (Fixes #2785)
  ivy/array/layers.py
  ivy/container/layers.py
  ivy/functional/ivy/layers.py
Labels: Array API, Function Reformatting

#4537 reformat ivy.inv
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/helpers.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4757 Added `hardtanh` and `hardtanh_` to torch frontend
  ivy/functional/frontends/torch/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#4113 Added dist functionality to torch reduction operations
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#4771 frontend tensorflow.metrics tests fix + composite st update
  ivy/functional/frontends/tensorflow/metrics.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_metrics.py
Labels: TensorFlow Frontend

#4079 Added trace to Torch frontend
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#4773 frontend tensorflow.metrics tests fix
  ivy/functional/frontends/tensorflow/metrics.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_metrics.py
Labels: TensorFlow Frontend

#4409 add hardsigmoid to Pytorch frontend
  ivy/functional/frontends/torch/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#4688 numpy frontend class - MaskedArray
  ivy/functional/frontends/numpy/ma/MaskedArray.py
  ivy/functional/frontends/numpy/ma/__init__.py
  ivy/functional/frontends/numpy/ma/masked_array.py
Labels: NumPy Frontend

#4777 updating tests dashboard
  .github/workflows/test-array-api.yml
  .github/workflows/test-ivy-core.yml
  .github/workflows/test-ivy-nn.yml
  .github/workflows/test-ivy-stateful.yml
  automation_tools/dashboard_automation/dashboard_script.py
Labels: Ivy Stateful API, Exhaustive CI

#4659 Added `hardswish` to the torch frontend
  ivy/functional/frontends/torch/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#4755 numpy frontend class - matrix
  ivy/functional/frontends/numpy/matrix/methods.py
Labels: NumPy Frontend

#4727 Update data_type.py
  ivy/functional/ivy/data_type.py
Labels: Function Reformatting, Ivy Functional API

#4768 Superset Behaviour - linalg submodule
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: Function Reformatting, Ivy Functional API

#4506 Added linear activation
  ivy/functional/frontends/tensorflow/activations.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_activations.py
Labels: TensorFlow Frontend

#4774 Renorm
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#4816 frontend tensorflow test fix
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_metrics.py
Labels: TensorFlow Frontend

#4817 Added logcumsumexp to Torch frontend
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#4617 numpy frontend logic isposinf isneginf
  ivy/functional/frontends/numpy/logic/array_contents.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_array_contents.py
Labels: NumPy Frontend

#4776 implemented numpy frontend asarray function and its tests
  ivy/functional/frontends/numpy/creation_routines/from_existing_data.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_from_existing_data.py
Labels: NumPy Frontend

#4801 frontend test helper - test_frontend_method
  ivy/functional/frontends/numpy/ma/MaskedArray.py
  ivy/functional/frontends/numpy/matrix/methods.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ma/test_MaskedArray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ma/test_masked_array.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_matrix/test_methods.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#4785 LogicalNot
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#4133 Added cartesian_prod to Torch frontend
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#4278 Reformat unset_default_dtype
  ivy/functional/ivy/data_type.py
Labels: Function Reformatting, Ivy Functional API

#4806 log_softmax ivy functional API extension
  ivy/array/activations.py
  ivy/container/activations.py
  ivy/functional/backends/jax/activations.py
  ivy/functional/backends/numpy/activations.py
  ivy/functional/backends/tensorflow/activations.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/ivy/activations.py
  ivy_tests/test_ivy/test_functional/test_nn/test_activations.py
Labels: Array API, Function Reformatting, Reformatting, Ivy Functional API

#4853 frontend tensorflow metrics + rawops Shape Update
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend

#4735 add maximum operator
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#4860 frontend tensorflow.raw_ops Update
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#4766 pinv function fixing
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
Labels: Array API, Function Reformatting, Ivy Functional API

#4872 Minor fix Docs not rendering well for activations
  ivy/functional/ivy/activations.py
Labels: Function Reformatting

#4842 Docstring style fixes and updated make_docs_without_docker.sh with proper directories
  docs/make_docs_without_docker.sh
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/general.py
Labels: Function Reformatting, Reformatting

#4875 mongoDb for storing test results
  .github/workflows/test-array-api.yml
  .github/workflows/test-ivy-stateful.yml
  automation_tools/dashboard_automation/update_db.py
Labels: Ivy Stateful API

#4793 Added TensorFlow Linalg eigh function and tests.
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#4899 fix numpy frontend tests - creation, matrix, logic
  ivy/functional/backends/torch/general.py
  ivy/functional/frontends/numpy/creation_routines/numerical_ranges.py
  ivy/functional/frontends/numpy/ma/MaskedArray.py
  ivy/functional/frontends/numpy/matrix/methods.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_numerical_ranges.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_truth_value_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_matrix/test_methods.py
Labels: NumPy Frontend

#4567 Cosine Similarity Tensorflow
  ivy/functional/frontends/tensorflow/metrics.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_metrics.py
Labels: TensorFlow Frontend

#4895 jax.numpy.linalg.eigh
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
Labels: JAX Frontend

#4893 jax.numpy.linalg.det
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
Labels: JAX Frontend

#4912 fixed creation docs rendering
  ivy/array/creation.py
  ivy/container/creation.py
  ivy/functional/ivy/creation.py
Labels: Function Reformatting

#4901 Added torch frontend clip, clamp and ceil
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#4874 adding Relu in raw_ops tensorflow frontend
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#4921 Fix docs rendering for data types
  ivy/array/data_type.py
  ivy/container/data_type.py
  ivy/functional/ivy/data_type.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: Function Reformatting

#4923 Using `ivy.log_softmax` in jax frontend
  ivy/functional/frontends/jax/nn/non_linear_activations.py
Labels: JAX Frontend

#4928 Frontend tf.math fixes
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#4911 refactor helpers structure
  ivy_tests/test_ivy/helpers.py
  ivy_tests/test_ivy/helpers/__init__.py
  ivy_tests/test_ivy/helpers/assertions.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/__init__.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/dtype_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/general_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/number_helpers.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
Labels: Exhaustive CI

#4892 jax.numpy.linalg.inv
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
Labels: JAX Frontend

#4941 frontend tensorflow.raw_ops.MatMul Update
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#4914 added cumsum to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#4775 Add numpy frontend swapaxes function
  ivy/functional/frontends/numpy/manipulation_routines/transpose_like_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_transpose_like_operations.py
Labels: NumPy Frontend

#4959 frontend clip function - jax.numpy.clip, torch.clamp, torch.clip
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend, JAX Frontend

#4834 numpy frontend logic complete
  ivy/functional/frontends/numpy/logic/array_contents.py
  ivy/functional/frontends/numpy/logic/comparison.py
  ivy/functional/frontends/numpy/logic/truth_value_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_array_contents.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_array_type_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_comparison.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_truth_value_testing.py
Labels: NumPy Frontend

#4910 Fix the generalization of inplace testing
  ivy/functional/frontends/torch/non_linear_activation_functions.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#4962 frontend clip function - tf.clip_by_value, numpy.clip
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: TensorFlow Frontend, NumPy Frontend

#4984 devices docs rendering fix
  ivy/functional/ivy/device.py
Labels: Function Reformatting

#4973 PerceiverIO jax frontend functions
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#4988 superset fix for `inv()` for `linalg.py`
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
Labels: Function Reformatting, Ivy Functional API

#5001 frontend tensorflow instance methods refactor
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend

#5011 "frontend tensorflow.raw_ops Update
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5014 frontend tensorflow instance method Update
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend

#4322 add numpy.ndarray.transpose frontend
  ivy/functional/frontends/numpy/manipulation_routines/transpose_like_operations.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/general_helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_transpose_like_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#4871 Tensorflow frontend tensor sub instance method
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend

#4053 multi_head_attention and LSTM `layers.py`
  ivy/functional/ivy/layers.py
  ivy/stateful/layers.py
  ivy_tests/test_ivy/helpers.py
  ivy_tests/test_ivy/test_stateful/test_layers.py
Labels: Function Reformatting, Ivy Functional API, Ivy Stateful API

#5039 fix docs rendering for set and sorting
  ivy/container/set.py
  ivy/container/sorting.py
  ivy/functional/ivy/set.py
  ivy/functional/ivy/sorting.py
Labels: Function Reformatting

#5028 Added `normalize` to torch frontend
  ivy/functional/frontends/torch/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#5052 frontend tensorflow instance methods Update
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend
