Repository ivy-llc/ivy, pull requests merged in 2022-12, with the labels that each got.

#7501 permute frontend torch
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#7503 Added huber_loss - Updated pull request
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: PyTorch Frontend

#7480 added range to tf frontend
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#7289 make `asarray` accept multidimensional list of arrays for torch
  ivy/functional/backends/torch/creation.py
  ivy/functional/ivy/data_type.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
Labels: Exhaustive CI

#7437 reformat conv3d
  ivy/array/layers.py
  ivy/container/layers.py
  ivy/functional/backends/jax/layers.py
  ivy/functional/backends/tensorflow/layers.py
  ivy/functional/ivy/layers.py
Labels: Array API, Ivy Functional API

#7518 Added properties for ivy Dtypes
  ivy/__init__.py
Labels: Ivy API, Ivy Functional API

#7543 refactor `handle_frontend_`method` decorator
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/structs.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, TensorFlow Frontend, NumPy Frontend

#7544 Another fix to mixed function handling
  ivy/func_wrapper.py
  ivy/functional/experimental/manipulation.py
  ivy/functional/ivy/elementwise.py
Labels: Ivy API Experimental

#7421 Resolves #7416
  ivy/functional/ivy/device.py
Labels: Ivy Functional API

#7514 add tf searchsorted
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#7569 normalize tf frontend
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#7473 reformat slogdet
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
Labels: Array API, Function Reformatting, Ivy Functional API

#7577 Quantile Method - Extend Ivy Functional API (New Branch)
  ivy/array/experimental/statistical.py
  ivy/container/experimental/statistical.py
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/numpy/experimental/statistical.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/experimental/statistical.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_statistical.py
Labels: Array API, Ivy API Experimental

#7337 Ivy bce with logits
  ivy/functional/ivy/losses.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/test_functional/test_nn/test_losses.py
Labels: Ivy Functional API

#7497 Added realdiv tensorflow frontend function and test case
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#7572 Implemented the eigvalsh FE and testing.
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#7220 added tensorflow ragged tensor class, more methods to be added
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/tensorflow/nest.py
  ivy/functional/frontends/tensorflow/ragged/__init__.py
  ivy/functional/frontends/tensorflow/ragged/ragged.py
Labels: TensorFlow Frontend

#7551 Implemented FE for pinv in torch.
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#7624 Examples added for logspace
  ivy/functional/ivy/creation.py
Labels: Ivy Functional API

#7541 fix casting data generation
  ivy/functional/frontends/numpy/logic/comparison.py
  ivy_tests/test_ivy/test_frontends/test_numpy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_matrix_and_vector_products.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_array_type_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_comparison.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_logical_operations.py
Labels: NumPy Frontend

#7631 Added support for python dtype classes in `ivy.Dtype`
  ivy/__init__.py
Labels: Ivy API, Ivy Functional API

#7649 squeeze
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#7522 Add CSC format to ivy.SparseArray
  ivy/functional/backends/jax/experimental/__init__.py
  ivy/functional/backends/jax/experimental/sparse_array.py
  ivy/functional/backends/numpy/experimental/__init__.py
  ivy/functional/backends/numpy/experimental/sparse_array.py
  ivy/functional/backends/tensorflow/experimental/__init__.py
  ivy/functional/backends/tensorflow/experimental/sparse_array.py
  ivy/functional/backends/torch/experimental/__init__.py
  ivy/functional/backends/torch/experimental/sparse_array.py
  ivy/functional/experimental/sparse_array.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_sparse_array.py
Labels: Ivy API Experimental

#7368 Reformat multi_index_nest
  ivy/functional/ivy/nest.py
Labels: Function Reformatting

#7355 where shape matching
  ivy_tests/test_ivy/test_frontends/test_numpy/helpers.py
Labels: JAX Frontend, NumPy Frontend, Stale

#7482 eye #7354
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#7426 Implementation of jnp.argwhere
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#7632 Fix test_jax_numpy_linalg.py
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/frontends/jax/lax/linalg.py
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy/functional/frontends/numpy/linalg/matrix_and_vector_products.py
  ivy/functional/frontends/tensorflow/linalg.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
Labels: JAX Frontend, TensorFlow Frontend, NumPy Frontend, Array API, Ivy Functional API

#7671 Implemented the matrix_rank and test.
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#7669 frontends.tensorflow.general: add support for stack
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#7692 fixing jax nn functions
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/ivy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_nn_activations.py
Labels: JAX Frontend, Ivy Functional API

#7590 Add Squeeze function to Tensorflow frontend
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#7698 Added NumPy frontend dtype class and extended handling
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/creation_routines/from_existing_data.py
  ivy/functional/frontends/numpy/creation_routines/from_shape_or_value.py
  ivy/functional/frontends/numpy/creation_routines/numerical_ranges.py
  ivy/functional/frontends/numpy/data_type_routines/creating_data_types.py
  ivy/functional/frontends/numpy/data_type_routines/general.py
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/frontends/numpy/linalg/matrix_and_vector_products.py
  ivy/functional/frontends/numpy/logic/array_type_testing.py
  ivy/functional/frontends/numpy/logic/comparison.py
  ivy/functional/frontends/numpy/logic/logical_operations.py
  ivy/functional/frontends/numpy/manipulation_routines/joining_arrays.py
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
  ivy/functional/frontends/numpy/mathematical_functions/exponents_and_logarithms.py
  ivy/functional/frontends/numpy/mathematical_functions/extrema_finding.py
  ivy/functional/frontends/numpy/mathematical_functions/hyperbolic_functions.py
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy/functional/frontends/numpy/mathematical_functions/rounding.py
  ivy/functional/frontends/numpy/mathematical_functions/sums_products_differences.py
  ivy/functional/frontends/numpy/mathematical_functions/trigonometric_functions.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_data_type_routines/test_general.py
Labels: NumPy Frontend

#7708 add jax frontends
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy/functional/ivy/elementwise.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend, Ivy Functional API

#7364 adding accumulate_n method
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend, Stale

#7308 Copysign extension
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy API Experimental

#7727 Refactored execute_with_gradients
  ivy/functional/backends/jax/gradients.py
  ivy/functional/backends/tensorflow/gradients.py
  ivy/functional/backends/torch/gradients.py
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/nest.py
  ivy_tests/test_ivy/test_functional/test_core/test_nest.py
Labels: Ivy Functional API

#7668 updated eye for function formatting changes.
  ivy/functional/ivy/creation.py
Labels: Function Reformatting, Ivy Functional API

#7633 degrees
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#7739 `can_cast` for jax numpy in jax frontend
  ivy/functional/frontends/jax/__init__.py
  ivy/functional/frontends/jax/numpy/__init__.py
  ivy/functional/frontends/jax/numpy/dtype.py
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_dtype.py
Labels: JAX Frontend

#7743 Fixed `ivy.Dtype` validation
  ivy/__init__.py
  ivy/functional/backends/jax/data_type.py
  ivy/functional/backends/numpy/data_type.py
  ivy/functional/backends/tensorflow/data_type.py
  ivy/functional/backends/torch/data_type.py
  ivy_tests/test_ivy/test_functional/test_core/test_dtype.py
Labels: Ivy API, Ivy Functional API

#7756 jax_tensordot
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#7746 jax_frontend DeviceArray tests fix
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
Labels: JAX Frontend

#6652 Create numpy diagonal
  ivy/functional/frontends/numpy/indexing_routines/indexing_like_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_indexing_like_operations.py
Labels: TensorFlow Frontend, NumPy Frontend, Array API, Ivy Functional API

#7769 DeviceArray test fixes in jax frontend
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
Labels: JAX Frontend

#7554 feat: Add linspace examples
  ivy/functional/ivy/creation.py
Labels: Single Function, Function Reformatting, Ivy Functional API

#7781 divide and true_divide in jax.numpy, and div funstions fix
  ivy/functional/frontends/jax/devicearray.py
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#7783 Fix DeviceArray tests to use jax.numpy function `divide`
  ivy/functional/frontends/jax/devicearray.py
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#7672 torch linalg.qr frontend
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#7511 add neg instance method to PyTorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, Stale

#7516 Reformat matrix_power #7488
  ivy/functional/ivy/linear_algebra.py
Labels: Ivy Functional API, Stale

#7691 impl svd in torch frontend, all tests passing
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#7791 fixing jax lax full_like, cumprod, div
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#7794 lax.round to use rounding_mode
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: JAX Frontend

#7715 Fix test_jax_numpy_cumprod
  ivy/functional/frontends/jax/numpy/name_space_functions.py
Labels: JAX Frontend

#7714 Fix test_jax_numpy_absolute
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#7713 Fix test_jax_numpy_sum
  ivy/functional/frontends/jax/numpy/name_space_functions.py
Labels: JAX Frontend

#7793 Add jax.numpy.exp frontend function
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#7764 Add tf-gather and tf-gather_nd
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#7363 adding numpy diagonal instance method
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#7462 eig extension
  ivy/array/experimental/linear_algebra.py
  ivy/container/experimental/linear_algebra.py
  ivy/functional/backends/jax/experimental/linear_algebra.py
  ivy/functional/backends/numpy/experimental/linear_algebra.py
  ivy/functional/backends/tensorflow/experimental/linear_algebra.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/experimental/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_linalg.py
Labels: Array API, Ivy API Experimental

#7729 initial commit, updated extra_promotion table and also modified promo…
  ivy/__init__.py
  ivy/functional/ivy/data_type.py
Labels: Ivy Functional API

#7774 updates
  ivy/functional/backends/jax/data_type.py
  ivy/functional/backends/numpy/data_type.py
  ivy/functional/backends/tensorflow/data_type.py
  ivy/functional/backends/torch/data_type.py
  ivy/functional/ivy/data_type.py
Labels: Ivy Functional API

#7821 Jax fronted failing DeviceArray tests
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
Labels: JAX Frontend

#7795 added frontend argmin instance method
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#7787 soft_margin_loss in pytorch frontend
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: PyTorch Frontend

#7886 Adding `jax.lax.select`, `tf.cast` and `tf.equal` to frontends
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/tensorflow/dtypes.py
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_dtypes.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: JAX Frontend, TensorFlow Frontend

#7894 fix log1p and convert_element_type in jax.lax
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#7768 Formatted unset_default_int_dtype function
  ivy/functional/ivy/data_type.py
Labels: Reformatting, Ivy Functional API

#7895 Tf frontend dtype class and handling
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/tensorflow/dtypes.py
  ivy/functional/frontends/tensorflow/func_wrapper.py
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/tensorflow/linalg.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy/functional/frontends/tensorflow/signal.py
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_dtypes.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend, NumPy Frontend

#7910 fix reshape in jax.lax
  ivy_tests/test_ivy/helpers/hypothesis_helpers/general_helpers.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#7744 added docstring examples for ones() in creation.py
  ivy/functional/ivy/creation.py
Labels: Function Reformatting, Ivy Functional API

#7915 Imported np dtype class into jax frontend
  ivy/functional/frontends/jax/devicearray.py
  ivy/functional/frontends/jax/numpy/__init__.py
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/jax/numpy/dtype.py
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/data_type_routines/general.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_dtype.py
Labels: JAX Frontend, NumPy Frontend

#7902 initial commit
  ivy/functional/ivy/data_type.py
  ivy/stateful/module.py
Labels: Ivy Functional API

#7925 fix erf in jax frontend
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#7735 Implemented the svdvals and test
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#7962 fix jax.lax.dot in jax frontend
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#7897 Adding torch frontend gcd
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#7797 zeros
  ivy/functional/backends/numpy/creation.py
  ivy/functional/ivy/creation.py
Labels: Ivy Functional API

#7742 Nested Array class
  ivy/__init__.py
  ivy/functional/ivy/data_type.py
  ivy/nested_array/__init__.py
  ivy/nested_array/nested_array.py
Labels: Ivy Functional API

#7694 Added cholesky to torch frontend
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#7800 Add torch.Tensor.sort
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#7747 sqrt torch front end
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#7656 frontends.torch.linalg: add support for cross
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#7976 refactored `jax.numpy` namespace functions
  ivy/functional/frontends/jax/numpy/__init__.py
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/jax/numpy/indexing.py
  ivy/functional/frontends/jax/numpy/logic.py
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_indexing.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipuration.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend

#7861 Add angle
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/experimental/elementwise.py
  ivy_tests/array_api_methods_to_test/elementwise_functions.txt
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy API Experimental

#7961 Add atan2 to PyTorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
  requirements/optional.txt
Labels: PyTorch Frontend

#7917 reformatting bitwise_invert
  ivy/array/elementwise.py
  ivy/container/elementwise.py
  ivy/functional/ivy/elementwise.py
Labels: Array API, Function Reformatting, Ivy Functional API

#7758 Extend Ivy Functional API : Linear Algebra functions: matrix_exp
  ivy/array/experimental/linear_algebra.py
  ivy/container/experimental/linear_algebra.py
  ivy/functional/backends/jax/experimental/linear_algebra.py
  ivy/functional/backends/numpy/experimental/linear_algebra.py
  ivy/functional/backends/tensorflow/experimental/linear_algebra.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/experimental/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_linalg.py
Labels: Array API, Ivy API Experimental

#7498 adding `inplace` and `mutable` for nest functions
  ivy/array/conversions.py
  ivy/container/base.py
  ivy/functional/backends/numpy/gradients.py
  ivy/functional/backends/tensorflow/gradients.py
  ivy/functional/backends/torch/gradients.py
  ivy/functional/frontends/jax/func_wrapper.py
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/frontends/tensorflow/func_wrapper.py
  ivy/functional/frontends/torch/func_wrapper.py
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/nest.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_nest.py
  ivy_tests/test_ivy/test_misc/test_array.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Array API, Ivy Functional API

#8835 implement tf.nn.bias_add
  ivy/functional/frontends/tensorflow/nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
Labels: TensorFlow Frontend

#7914 Added cosh instance method in pytorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#6565 Tril indices
  ivy/container/experimental/creation.py
  ivy/functional/backends/jax/experimental/creation.py
  ivy/functional/backends/numpy/experimental/creation.py
  ivy/functional/backends/tensorflow/experimental/creation.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/experimental/creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
Labels: Ivy API Experimental

#8879 Add numpy cov
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
Labels: NumPy Frontend

#8896 remove tolerance as shadowing helper tol in allclose
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
Labels: JAX Frontend

#8027 add nanmax
  ivy/functional/frontends/numpy/mathematical_functions/extrema_finding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_extrema_finding.py
Labels: NumPy Frontend

#8899 Fixed dtype setting and unsetting
  ivy/functional/ivy/data_type.py
Labels: Ivy API, Ivy Functional API

#8935 fixing floor, sinh, and arcsinh in jax frontend
  ivy/functional/frontends/jax/numpy/logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend, Failing Test

#8915 Adding shape_n function
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#8938 fix rad2deg, kron, and lcm from jax frontend
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#7803 result_type
  ivy/functional/frontends/torch/utilities.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_utilities.py
Labels: PyTorch Frontend

#8960 Adding type promotion to `jax.numpy` functions
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy/functional/frontends/jax/numpy/logic.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#8943 [torch] add `var_mean`
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#7899 Addition of torch instance method torch.argwhere
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#8946 Pytorch wrapper testing
  ivy_tests/test_ivy/test_frontends/test_torch/test_func_wrapper.py
Labels: PyTorch Frontend, Testing

#8970 fixing comparison functions in numpy frontend
  ivy/functional/frontends/numpy/logic/comparison.py
  ivy_tests/test_ivy/test_frontends/test_numpy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_comparison.py
Labels: NumPy Frontend

#8916 Native default dtype handling for numpy and torch.
  ivy/functional/frontends/jax/__init__.py
  ivy/functional/frontends/jax/config.py
  ivy/functional/frontends/jax/func_wrapper.py
  ivy/functional/frontends/jax/numpy/__init__.py
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/torch/__init__.py
  ivy/functional/frontends/torch/dtype.py
  ivy/functional/frontends/torch/func_wrapper.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_dtype.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend

#8989 fixing numpy logic functions for array contents tests
  ivy/functional/frontends/numpy/logic/array_contents.py
  ivy/functional/frontends/numpy/logic/truth_value_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_array_contents.py
Labels: NumPy Frontend

#8950 added transpose to tensorflow frontend
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend, Ivy Functional API

#8900 reformat ivy container bitwise and
  ivy/array/elementwise.py
  ivy/container/elementwise.py
  ivy/functional/ivy/elementwise.py
Labels: Array API, Ivy Functional API

#8524 8391 - eig in torch linalg frontend
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#7218 Numpy frontend nanstd #7071
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
Labels: NumPy Frontend

#8993 added vector_norm
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#8815 Add frac for Torch frontend.
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#9020 Fixing transpose, mean, argmax, clip, mean and argmin ndarray methods failing tests
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#8951 Numpy scalars
  ivy/func_wrapper.py
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/data_type_routines/creating_data_types.py
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/frontends/numpy/linalg/matrix_and_vector_products.py
  ivy/functional/frontends/numpy/linalg/norms_and_other_numbers.py
  ivy/functional/frontends/numpy/logic/array_contents.py
  ivy/functional/frontends/numpy/logic/array_type_testing.py
  ivy/functional/frontends/numpy/logic/comparison.py
  ivy/functional/frontends/numpy/logic/logical_operations.py
  ivy/functional/frontends/numpy/logic/truth_value_testing.py
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
  ivy/functional/frontends/numpy/mathematical_functions/exponents_and_logarithms.py
  ivy/functional/frontends/numpy/mathematical_functions/extrema_finding.py
  ivy/functional/frontends/numpy/mathematical_functions/hyperbolic_functions.py
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy/functional/frontends/numpy/mathematical_functions/rounding.py
  ivy/functional/frontends/numpy/mathematical_functions/sums_products_differences.py
  ivy/functional/frontends/numpy/mathematical_functions/trigonometric_functions.py
  ivy/functional/frontends/numpy/matrix/methods.py
  ivy/functional/frontends/numpy/random/functions.py
  ivy/functional/frontends/numpy/scalars/__init__.py
  ivy/functional/frontends/numpy/scalars/scalars.py
  ivy/functional/frontends/numpy/sorting_searching_counting/counting.py
  ivy/functional/frontends/numpy/sorting_searching_counting/searching.py
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
  ivy/functional/frontends/tensorflow/dtypes.py
  ivy_tests/test_ivy/test_misc/test_func_wrapper.py
Labels: TensorFlow Frontend, NumPy Frontend

#7076 binary_cross_entropy_with_logits
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: PyTorch Frontend

#8982 added descriptions and examples for dropout function.
  ivy/functional/ivy/layers.py
Labels: Reformatting, Ivy Functional API

#8797 add function inv_ex operation to PyTorch frontend - test passed
  .idea/ivy.iml
  .idea/misc.xml
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#9056 Fix tests for jnp.mean and jnp.gcd
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend

#9006 numpy instance method __pow__
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#7863 add torch.clamp, accidently deleted
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#9111 Added `broadcast_shapes` to experimental
  ivy/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Ivy Functional API, Ivy API Experimental

#7570 sor_complex
  ivy/functional/frontends/numpy/sorting_searching_counting/sorting.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_sorting_searching_counting/test_sorting.py
Labels: NumPy Frontend, Ivy Functional API

#7801 added depthwise_conv2d to tensorflow frontend
  ivy/functional/backends/jax/layers.py
  ivy/functional/backends/numpy/layers.py
  ivy/functional/backends/tensorflow/layers.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/frontends/tensorflow/nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
Labels: TensorFlow Frontend

#8985 Code changes for logspace function (function reformatting task)
  ivy/array/creation.py
  ivy/container/creation.py
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/numpy/creation.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/ivy/creation.py
Labels: Array API, Ivy Functional API

#9150 updated numpy arthimetic functions tests to use new casting generation
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
Labels: NumPy Frontend

#7593 added torch frontend linalg function matrix_norm
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/frontends/torch/__init__.py
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend, Stale

#9112 Added `logit` function in experimental
  ivy/array/experimental/activations.py
  ivy/container/experimental/activations.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/ivy/experimental/activations.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#9170 ivy_xlogy
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#9128 Add isnan
  ivy/functional/frontends/jax/numpy/logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
Labels: JAX Frontend

#9177 update torch's test_func_wrapper to check dtype handling
  ivy_tests/test_ivy/test_frontends/test_torch/test_func_wrapper.py
Labels: PyTorch Frontend

#8914 adding the triu function to the frontend jax numpy
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#8998 tensorflow frontend strided_slice
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#7971 Task 7901: Added numpy frontend linalg eigvalsh
  ivy/functional/frontends/numpy/linalg/matrix_eigenvalues.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_matrix_eigenvalues.py
Labels: NumPy Frontend

#9061 added `log` to `jax.numpy` frontend
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#9207 torch_xlogy
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#9115 Adding Linear Algebra function (Cholesky) for Tensor Flow Frontend
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#8999 torch frontend adaptive_avg_pooling2d
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#9217 Add BSC Format for Sparse Arrays
  ivy/functional/backends/jax/experimental/sparse_array.py
  ivy/functional/backends/numpy/experimental/sparse_array.py
  ivy/functional/backends/tensorflow/experimental/sparse_array.py
  ivy/functional/backends/torch/experimental/sparse_array.py
  ivy/functional/ivy/experimental/sparse_array.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_sparse_array.py
Labels: Ivy Functional API, Ivy API Experimental

#7799 feat: add is_tensor to tensorflow frontend general functions
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#8885 Update tensor.py
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#9211 add jax numpy append
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend
