Repository ivy-llc/ivy, pull requests merged in 2022-11, with the labels that each got.

#6162 seed (#6118)
  ivy/functional/frontends/torch/random_sampling.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_random_sampling.py
Labels: PyTorch Frontend, Function Reformatting, Ivy Functional API

#6445 add top_k to torch frontend
  ivy/functional/backends/jax/extensions/manipulation.py
  ivy/functional/backends/numpy/extensions/manipulation.py
  ivy/functional/backends/tensorflow/extensions/manipulation.py
  ivy/functional/frontends/torch/comparison_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_comparison_ops.py
Labels: PyTorch Frontend

#6218 torch cross
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#6323 gcd_extension
  ivy/array/extensions/elementwise.py
  ivy/container/extensions/elementwise.py
  ivy/functional/backends/jax/extensions/elementwise.py
  ivy/functional/backends/numpy/extensions/elementwise.py
  ivy/functional/backends/tensorflow/extensions/elementwise.py
  ivy/functional/backends/torch/extensions/elementwise.py
  ivy/functional/extensions/elementwise.py
  ivy_tests/test_ivy/test_functional/test_extensions/test_core/test_elementwise.py
Labels: Array API

#6322 jax_float_power
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6229 kron_extension
  ivy/array/extensions/linear_algebra.py
  ivy/container/extensions/linear_algebra.py
  ivy/functional/backends/jax/extensions/linear_algebra.py
  ivy/functional/backends/numpy/extensions/linear_algebra.py
  ivy/functional/backends/tensorflow/extensions/linear_algebra.py
  ivy/functional/backends/torch/extensions/linear_algebra.py
  ivy/functional/extensions/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_extensions/test_core/test_linalg.py
Labels: Array API

#6224 i0 extension
  ivy/array/extensions/manipulation.py
  ivy/container/extensions/manipulation.py
  ivy/functional/backends/jax/extensions/manipulation.py
  ivy/functional/backends/numpy/extensions/manipulation.py
  ivy/functional/backends/tensorflow/extensions/manipulation.py
  ivy/functional/backends/torch/extensions/manipulation.py
  ivy/functional/extensions/manipulation.py
  ivy_tests/test_ivy/test_functional/test_extensions/test_core/test_manipulation.py
Labels: Array API

#6470 cumsum and cumproduct to jax frontend
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6263 #6253
  ivy/functional/ivy/linear_algebra.py
Labels: Function Reformatting, Ivy Functional API

#6488 frontend torch instance method Update
  ivy/functional/frontends/torch/Tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#6447 added namespace ceil to jax frontend
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6174 Diag test fix
  ivy/array/extensions/linear_algebra.py
  ivy/container/extensions/linear_algebra.py
  ivy/functional/backends/jax/extensions/linear_algebra.py
  ivy/functional/backends/numpy/extensions/linear_algebra.py
  ivy/functional/backends/tensorflow/extensions/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/extensions/linear_algebra.py
  ivy/functional/extensions/linear_algebra.py
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_functional/test_extensions/test_core/test_linalg.py
Labels: Array API, Ivy API Extensions

#6455 initial implementation and testing with decimal
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#6480 unify top_k function
  ivy/functional/backends/jax/extensions/manipulation.py
  ivy/functional/backends/numpy/extensions/manipulation.py
  ivy/functional/backends/tensorflow/extensions/manipulation.py
  ivy/functional/backends/torch/extensions/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_comparison_ops.py
Labels: PyTorch Frontend, Ivy API Extensions

#6496 Add deg2rad and remove redundant parameters
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6446 Added code for Softplus - subtask in Rawops operations for Tensorflow Frontend
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5671 Reformat Shuffle
  ivy/array/random.py
  ivy/container/random.py
  ivy/functional/ivy/random.py
Labels: Array API, Function Reformatting, Ivy Functional API

#6505 fix for linalg solve()
  ivy/functional/backends/tensorflow/linear_algebra.py
Labels: Array API

#5840 added max
  ivy/functional/frontends/torch/Tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, Hacktoberfest

#6501 Jax exp2
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6338 Add isposinf ivy api extension
  ivy/array/extensions/elementwise.py
  ivy/container/extensions/elementwise.py
  ivy/functional/backends/jax/extensions/elementwise.py
  ivy/functional/backends/numpy/extensions/elementwise.py
  ivy/functional/backends/tensorflow/extensions/elementwise.py
  ivy/functional/backends/torch/extensions/elementwise.py
  ivy/functional/extensions/elementwise.py
  ivy_tests/test_ivy/test_functional/test_extensions/test_core/test_elementwise.py
Labels: Array API, Ivy API Extensions

#6512 use argwhere instead of where in gather
  ivy/functional/backends/jax/searching.py
  ivy/functional/backends/numpy/searching.py
  ivy/functional/backends/tensorflow/searching.py
  ivy/functional/backends/torch/searching.py
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#6519 frontend torch instance method reformat
  ivy/functional/frontends/torch/Tensor.py
Labels: PyTorch Frontend

#6504 Add matrix power to jax front end
  ivy/functional/frontends/jax/lax/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
Labels: JAX Frontend

#6086 tf_frontend raw_ops alias decorator
  ivy/functional/frontends/tensorflow/func_wrapper.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#6530 refactor pointwise ops with aliases
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#6533 jax_gcd
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6463 Update data_type.py
  ivy/functional/ivy/data_type.py
Labels: Function Reformatting, Ivy Functional API

#6538 is_neg_inf
  ivy/array/extensions/elementwise.py
  ivy/container/extensions/elementwise.py
  ivy/functional/backends/jax/extensions/elementwise.py
  ivy/functional/backends/numpy/extensions/elementwise.py
  ivy/functional/backends/tensorflow/extensions/elementwise.py
  ivy/functional/backends/torch/extensions/elementwise.py
  ivy/functional/extensions/elementwise.py
  ivy_tests/test_ivy/test_functional/test_extensions/test_core/test_elementwise.py
Labels: Array API

#6290 reformat softmax function arguments
  ivy/functional/backends/jax/activations.py
  ivy/functional/backends/numpy/activations.py
  ivy/functional/backends/tensorflow/activations.py
Labels: Function Reformatting, Hacktoberfest

#5782 added deserialize in tensorflow frontends
  ivy/functional/backends/tensorflow/activations.py
  ivy/functional/frontends/tensorflow/keras/activations.py
  ivy/functional/ivy/activations.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_activations.py
Labels: Extension, TensorFlow Frontend

#6357 changes
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/tensorflow/func_wrapper.py
  ivy/functional/frontends/tensorflow/tensor.py
  ivy/functional/ivy/general.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend, Function Reformatting, Ivy Functional API

#6128 Rename linear_algebra modules to linalg to conform with Array API Standard
  docs/partial_source/design/ivy_as_a_framework/ivy_array.rst
  ivy/__init__.py
  ivy/array/array.py
  ivy/array/extensions/__init__.py
  ivy/array/extensions/linalg.py
  ivy/array/linalg.py
  ivy/container/container.py
  ivy/container/extensions/__init__.py
  ivy/container/extensions/linalg.py
  ivy/container/linalg.py
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/extensions/__init__.py
  ivy/functional/backends/jax/extensions/linalg.py
  ivy/functional/backends/jax/linalg.py
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/numpy/extensions/__init__.py
  ivy/functional/backends/numpy/extensions/linalg.py
  ivy/functional/backends/numpy/linalg.py
  ivy/functional/backends/tensorflow/__init__.py
  ivy/functional/backends/tensorflow/extensions/__init__.py
  ivy/functional/backends/tensorflow/extensions/linalg.py
  ivy/functional/backends/tensorflow/linalg.py
  ivy/functional/backends/torch/__init__.py
  ivy/functional/backends/torch/extensions/__init__.py
  ivy/functional/backends/torch/extensions/linalg.py
  ivy/functional/backends/torch/linalg.py
  ivy/functional/extensions/__init__.py
  ivy/functional/extensions/linalg.py
  ivy/functional/ivy/__init__.py
  ivy/functional/ivy/linalg.py
Labels: Array API, Function Reformatting, Ivy Functional API, Exhaustive CI

#6127 Tensorflow Math
  ivy/array/random.py
  ivy/container/random.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/torch/random.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/ivy/random.py
  ivy_tests/test_docstrings.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
  ivy_tests/test_ivy/test_functional/test_core/test_random.py
Labels: Exhaustive CI

#6453 Numpy Mean Instance
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#6544 softplus for pytorch frontend
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#6509 nan_to_num
  ivy/array/extensions/elementwise.py
  ivy/container/extensions/elementwise.py
  ivy/functional/backends/jax/extensions/elementwise.py
  ivy/functional/backends/numpy/extensions/elementwise.py
  ivy/functional/backends/tensorflow/extensions/elementwise.py
  ivy/functional/backends/torch/extensions/elementwise.py
  ivy/functional/extensions/elementwise.py
  ivy_tests/test_ivy/test_functional/test_extensions/test_core/test_elementwise.py
Labels: Array API

#6502 Logaddexp2 extension
  ivy/array/extensions/elementwise.py
  ivy/container/extensions/elementwise.py
  ivy/functional/backends/jax/extensions/elementwise.py
  ivy/functional/backends/numpy/extensions/elementwise.py
  ivy/functional/backends/tensorflow/extensions/elementwise.py
  ivy/functional/backends/torch/extensions/elementwise.py
  ivy/functional/extensions/elementwise.py
  ivy_tests/test_ivy/test_functional/test_extensions/test_core/test_elementwise.py
Labels: Array API

#6511 added torch_floor
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#6562 jax_i0
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6563 avg_pool3d extension
  ivy/array/extensions/layers.py
  ivy/container/extensions/layers.py
  ivy/functional/backends/jax/extensions/layers.py
  ivy/functional/backends/numpy/extensions/layers.py
  ivy/functional/backends/tensorflow/extensions/layers.py
  ivy/functional/backends/torch/extensions/layers.py
  ivy/functional/extensions/layers.py
  ivy_tests/test_ivy/test_functional/test_extensions/test_nn/test_layers.py
Labels: Extension

#6571 jax_isneginf
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6575 jax isposinf
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6581 jax.kron
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6570 tensorsolve function to `jax.numpy`
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
Labels: JAX Frontend

#6585 added constant and convert_to_tensor to frontend
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/tensorflow/tensor.py
Labels: TensorFlow Frontend

#6550 added get in tensorflow frontends
  ivy/functional/backends/tensorflow/activations.py
  ivy/functional/frontends/tensorflow/keras/activations.py
  ivy/functional/ivy/activations.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_activations.py
Labels: TensorFlow Frontend, Function Reformatting, Ivy Functional API

#6598 jax.lcm
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6601 jax_logaddexp2
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6586 Added mod to numpy frontend mathematical functions
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
Labels: NumPy Frontend

#6617 jax_trapz
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6578 Raw ops xdiv xlog
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#6352 Add isclose extension
  ivy/array/extensions/elementwise.py
  ivy/container/extensions/elementwise.py
  ivy/functional/backends/jax/extensions/elementwise.py
  ivy/functional/backends/numpy/extensions/elementwise.py
  ivy/functional/backends/tensorflow/extensions/elementwise.py
  ivy/functional/backends/torch/extensions/elementwise.py
  ivy/functional/extensions/elementwise.py
  ivy_tests/test_ivy/test_functional/test_extensions/test_core/test_elementwise.py
Labels: Array API

#6630 reformat creation docs examples added
  ivy/functional/ivy/creation.py
Labels: Function Reformatting, Ivy Functional API

#6649 jax_any
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6653 refactored functions in experimental to correct submodules
  ivy/array/experimental/layers.py
  ivy/array/experimental/manipulation.py
  ivy/container/experimental/creation.py
  ivy/container/experimental/layers.py
  ivy/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/creation.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/creation.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/creation.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/experimental/creation.py
  ivy/functional/experimental/layers.py
  ivy/functional/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Experimental

#6654 jax_diag
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6657 jax_flip
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6659 jax_fliplr
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6665 arctan_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#6682 ivy_signbit
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy API Extensions

#6701 ivy_nanmean
  ivy/array/experimental/statistical.py
  ivy/container/experimental/statistical.py
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/numpy/experimental/statistical.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/experimental/statistical.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_statistical.py
Labels: Array API, Ivy API Extensions

#6723 add torch.Tensor.__long__
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, Sub Task

#6515 Reciprocal
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#6726 ivy_vsplit
  ivy/array/experimental/manipulation.py
  ivy/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Array API, Ivy API Extensions

#6727 unset_default_float_dtype #6647 - added doc string examples
  ivy/functional/ivy/data_type.py
Labels: Function Reformatting, Ivy Functional API

#6729 Added trace to tf.linalg frontend
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#6733 ivy_dsplit
  ivy/array/experimental/manipulation.py
  ivy/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Array API, Ivy API Extensions

#6245 Added Pack to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#5469 dropout1d [#5105], Extend Ivy Functional API [#3856]
  ivy/array/layers.py
  ivy/container/layers.py
  ivy/functional/backends/jax/layers.py
  ivy/functional/backends/numpy/layers.py
  ivy/functional/backends/tensorflow/layers.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/ivy/layers.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: Array API, Function Reformatting, Ivy Functional API, Stale

#6749 torch frontend test fixes
  ivy/functional/frontends/torch/comparison_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#6752 Added matrix_transpose to tf.linalg frontend
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#6759 frontend tensorflow cov3d test fix
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
Labels: TensorFlow Frontend

#6715 bitwise_and
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#6303 DCT
  ivy/array/experimental/layers.py
  ivy/container/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Array API, Sub Task, Ivy API Extensions

#6756 Add frontend numpy float_power
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
Labels: NumPy Frontend

#6691 cosh and cosh_ added to torch frontend and tested
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#6365 `torch.nn.functional.pad`
  ivy/assertions.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/experimental/manipulation.py
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_vision_functions.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: PyTorch Frontend

#6757 add torch frontend tanh and tanh_ instance methods
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#6775 numpy fliplr frontend function
  ivy/functional/frontends/numpy/manipulation_routines/rearranging_elements.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_rearranging_elements.py
Labels: NumPy Frontend

#6777 Reformat svd
  ivy/functional/ivy/linalg.py
Labels: Function Reformatting, Reformatting, Ivy Functional API

#6792 ivy_dstack
  ivy/array/experimental/manipulation.py
  ivy/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Array API, Ivy API Extensions

#6750 Add vstack function to Jax Frontend
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6807 ivy_unravel_index
  ivy/array/experimental/statistical.py
  ivy/container/experimental/statistical.py
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/numpy/experimental/statistical.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/experimental/statistical.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_statistical.py
Labels: Array API, Ivy API Extensions

#6674 revert linear_algebra renaming
  docs/partial_source/design/ivy_as_a_framework/ivy_array.rst
  ivy/__init__.py
  ivy/array/array.py
  ivy/array/experimental/__init__.py
  ivy/array/experimental/linear_algebra.py
  ivy/array/linear_algebra.py
  ivy/container/container.py
  ivy/container/experimental/__init__.py
  ivy/container/experimental/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/experimental/__init__.py
  ivy/functional/experimental/linear_algebra.py
  ivy/functional/ivy/__init__.py
  ivy/functional/ivy/linear_algebra.py
Labels: Function Reformatting, Ivy Functional API, Exhaustive CI

#6608 add logging warning for using sparse_grad
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#6813 Add tensorflow raw_ops squeeze
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#6824 frontend torch instance methods Fix + Update
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#6797 addcdiv and addcmul to torch frontend
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
  ivy_tests/test_ivy/test_stateful/test_activations.py
Labels: PyTorch Frontend

#6831 avgpool1d
  ivy/array/experimental/layers.py
  ivy/container/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Experimental

#6208 add pinv to jax.numpy frontend
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
Labels: JAX Frontend, Stale

#6838 Ivy fix
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy API Extensions

#6295 Add count_nonzero extension
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy API Extensions

#6826 swapaxes
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#6794 Add hstack function to Pytorch frontend
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#6863 ivy_nextafter
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy API experimental

#6554 Added ReLU
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#6678 add log1p frontend pytorch
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#6876 fixed median torch backend
  ivy/functional/backends/torch/experimental/statistical.py
Labels: Ivy Functional API, Ivy API experimental

#6877 frontend torch instance methods Update
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#6609 Reformat unset_default_int_dtype (#6607)
  ivy/functional/ivy/data_type.py
Labels: Function Reformatting, Ivy Functional API

#6514 added torch_reciprocal
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend, Stale

#6866 movedim to torch frontend
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#6444 implement mse_loss Pytorch frontend
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: PyTorch Frontend, Stale

#6780 Add reciprocal function and test to numpy frontend
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
Labels: NumPy Frontend

#6887 "Added __imod__ for numpy instance method along with a test"
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#6493 Reformatting constant_pad
  ivy/array/manipulation.py
  ivy/container/manipulation.py
  ivy/functional/ivy/manipulation.py
Labels: Array API, Function Reformatting, Ivy Functional API

#6828 adding torch frontend `pow`
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#6909 arctanh to jax numpy namespace
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6805 pruned func_wrapper traces
  ivy/exceptions.py
  ivy/functional/ivy/general.py
Labels: Function Reformatting, Ivy Functional API

#6917 Gradient testing for linalg vander
  ivy/array/array.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: Array API

#6918 maximum, minimum, msort to jax numpy
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6593 Numpy Frontend Tensordot
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/linalg/matrix_and_vector_products.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_matrix_and_vector_products.py
Labels: NumPy Frontend

#6920 Ivy arccos
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy API experimental

#6890 Realize fft and corresponding test function
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/layers.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: Function Reformatting, Ivy Functional API

#6928 multiply to jax numpy frontend
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#5811 Added __pow__ method for tensorflow frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend

#6925 atleast_2d extension IvyAPI
  ivy/array/experimental/manipulation.py
  ivy/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Array API

#6592 added frontend jax numpy namespace function sum
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6919 frontends.torch.tensor: add argmax instance method
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#6892 implemented pow for PyTorch frontend
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#6946 Changed variable, is_variable and variable_data to private
  README.rst
  docs/partial_source/deep_dive/inplace_updates.rst
  docs/partial_source/design/ivy_as_a_framework/ivy_stateful_api.rst
  ivy/array/gradients.py
  ivy/container/general.py
  ivy/container/gradients.py
  ivy/container/wrapping.py
  ivy/functional/backends/torch/converters.py
  ivy/functional/frontends/torch/creation_ops.py
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/gradients.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_container.py
  ivy_tests/test_ivy/test_functional/test_core/test_device.py
  ivy_tests/test_ivy/test_functional/test_core/test_gradients.py
  ivy_tests/test_ivy/test_functional/test_core/test_meta.py
  ivy_tests/test_ivy/test_stateful/test_layers.py
  ivy_tests/test_ivy/test_stateful/test_modules.py
Labels: Exhaustive CI

#6669 Add examples to positive func in elementwise
  ivy/array/elementwise.py
  ivy/container/elementwise.py
Labels: Array API, Function Reformatting

#7006 ndarray shape and T, numpy transpose edge cases and small fixes
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/frontends/numpy/creation_routines/from_existing_data.py
  ivy/functional/frontends/numpy/manipulation_routines/transpose_like_operations.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_transpose_like_operations.py
Labels: NumPy Frontend

#6851 added an attribute named unsupported_gradients
  ivy/functional/ivy/elementwise.py
  ivy_tests/test_ivy/helpers/function_testing.py
Labels: Function Reformatting, Ivy Functional API

#7024 alltrue and sometrue to jax frontend
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6961 set_split_factor
  ivy/functional/ivy/device.py
Labels: Function Reformatting, Ivy Functional API

#7015 fixing linspace backends
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/torch/creation.py
Labels: Ivy Functional API

#7070 some jax numpy frontend functions
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#7027 Added order to ivy reshape and backends
  ivy/array/manipulation.py
  ivy/container/manipulation.py
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/numpy/manipulation.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/backends/torch/manipulation.py
  ivy/functional/ivy/manipulation.py
  ivy_tests/test_ivy/test_functional/test_core/test_manipulation.py
Labels: Ivy API, Array API, Function Reformatting, Ivy Array

#7088 jnp mean fix
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: JAX Frontend

#6984 Adding trace to numpy frontend
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/linalg/norms_and_other_numbers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_norms_and_other_numbers.py
Labels: NumPy Frontend

#6880 fix ivy.pad
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Ivy API experimental

#6661 Configurable traceback modes
  ivy/exceptions.py
  ivy/functional/ivy/general.py
  ivy_tests/test_ivy/test_exceptions.py
Labels: Function Reformatting, Ivy Functional API

#6996 add torch pairwise_distance
  ivy/functional/frontends/torch/nn/functional/distance_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_distance_functions.py
Labels: PyTorch Frontend

#6260 Reformat cos
  ivy/array/elementwise.py
  ivy/functional/ivy/elementwise.py
Labels: Array API, Function Reformatting, Reformatting, Ivy Functional API

#7083 Implements the convolve function in the numpy frontend
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
Labels: NumPy Frontend

#7111 Fix for `matmul()` linalg.py
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
Labels: Function Reformatting, Ivy Functional API

#6822 Reformatted multi_head_attention
  ivy/functional/ivy/layers.py
Labels: Function Reformatting, Ivy Functional API

#6930 Reformatting Eigvalsh
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
Labels: Array API, Function Reformatting, Ivy Functional API

#7060 Added std_mean function implementation
  Y
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#7128 fix var tests in jax numpy
  ivy/func_wrapper.py
  ivy/functional/frontends/jax/numpy/name_space_functions.py
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_namespace_functions.py
Labels: PyTorch Frontend, JAX Frontend

#7082 Reformatting RELU function, added docstring examples
  .idea/ivy.iml
  .idea/misc.xml
  ivy/array/activations.py
  ivy/container/activations.py
  ivy/functional/backends/jax/activations.py
  ivy/functional/backends/numpy/activations.py
  ivy/functional/backends/tensorflow/activations.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/ivy/activations.py
Labels: Array API, Function Reformatting, Ivy Functional API

#6812 Add Tensorflow raw_ops split, splitv sign
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#6642 is_cuda added to torch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#7133 #7081 torch.tensor.ceil added to frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#6520 Add example docstring for argwhere function
  ivy/array/searching.py
  ivy/container/searching.py
  ivy/functional/ivy/searching.py
Labels: Array API, Function Reformatting, Ivy Functional API

#7110 Add Instance Method __mod__ to TensorFlow frontend
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend

#6924 `extra_nest_types` argument for nest functions
  ivy/functional/ivy/nest.py
  ivy_tests/test_ivy/test_functional/test_core/test_nest.py
Labels: Function Reformatting, Ivy Functional API

#7154 remove assarray duplicate
  ivy/functional/frontends/numpy/manipulation_routines/__init__.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_changing_kind_of_array.py
Labels: NumPy Frontend
