Repository ivy-llc/ivy, pull requests merged in 2022-03, with the labels that each got.

#132 Review SVD function (Linear Algebra) implementation
  ivy/functional/backends/jax/array_api/linear_algebra.py
  ivy/functional/backends/jax/core/linear_algebra.py
  ivy/functional/backends/mxnet/array_api/linear_algebra.py
  ivy/functional/backends/mxnet/core/linear_algebra.py
  ivy/functional/backends/numpy/array_api/linear_algebra.py
  ivy/functional/backends/numpy/core/linear_algebra.py
  ivy/functional/backends/tensorflow/array_api/linear_algebra.py
  ivy/functional/backends/tensorflow/core/linear_algebra.py
  ivy/functional/backends/torch/array_api/linear_algebra.py
  ivy/functional/backends/torch/core/linear_algebra.py
  ivy/functional/ivy/array_api/linear_algebra.py
  ivy/functional/ivy/core/linalg.py
  ivy_tests/array_api_methods_to_test/linear_algebra.txt
Labels: Array API, Single Function

#291 Implementation of less_equal function, conforming to Array API standard
  ivy/array/__init__.py
  ivy/functional/backends/jax/array_api/elementwise_functions.py
  ivy/functional/backends/jax/core/general.py
  ivy/functional/backends/numpy/array_api/elementwise_functions.py
  ivy/functional/backends/numpy/core/general.py
  ivy/functional/backends/tensorflow/array_api/elementwise_functions.py
  ivy/functional/backends/tensorflow/core/general.py
  ivy/functional/backends/torch/array_api/elementwise_functions.py
  ivy/functional/backends/torch/core/general.py
  ivy/functional/ivy/array_api/elementwise_functions.py
  ivy/functional/ivy/core/array_builtins.py
Labels: Array API, Single Function

#224 negative function implementation
  ivy/functional/backends/jax/array_api/elementwise_functions.py
  ivy/functional/backends/mxnet/array_api/elementwise_functions.py
  ivy/functional/backends/mxnet/core/general.py
  ivy/functional/backends/numpy/array_api/elementwise_functions.py
  ivy/functional/backends/numpy/core/general.py
  ivy/functional/backends/tensorflow/array_api/elementwise_functions.py
  ivy/functional/backends/tensorflow/core/general.py
  ivy/functional/backends/torch/array_api/elementwise_functions.py
  ivy/functional/backends/torch/core/general.py
  ivy/functional/ivy/array_api/elementwise_functions.py
  ivy_tests/array_api_methods_to_test/elementwise_functions.txt
Labels: Array API, Single Function

#493 svdvals
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/array_api_methods_to_test/linear_algebra.txt
Labels: Tests Pending

#546 expand_dims
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/jax/old/general.py
  ivy/functional/backends/mxnet/manipulation.py
  ivy/functional/backends/mxnet/old/general.py
  ivy/functional/backends/numpy/manipulation.py
  ivy/functional/backends/numpy/old/general.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/backends/tensorflow/old/general.py
  ivy/functional/backends/torch/manipulation.py
  ivy/functional/backends/torch/old/general.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/old/general.py
  ivy_tests/array_api_methods_to_test/manipulation_functions.txt
Labels: Tests Pending

#454 asin adhering to Array API Standard (#262)
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/jax/old/math.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/numpy/old/math.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/tensorflow/old/math.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/backends/torch/old/math.py
  ivy/functional/ivy/elementwise.py
  ivy_tests/array_api_methods_to_test/elementwise_functions.txt
Labels: Depends on another Method

#531 add bitwise_or
  ivy/array/__init__.py
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/mxnet/elementwise.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/ivy/elementwise.py
  ivy_tests/array_api_methods_to_test/elementwise_functions.txt
Labels: Depends on another Method

#458 Bring round function to array api standard
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/jax/old/general.py
  ivy/functional/backends/mxnet/elementwise.py
  ivy/functional/backends/mxnet/old/general.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/numpy/old/general.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/tensorflow/old/general.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/backends/torch/old/general.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/old/general.py
  ivy_tests/array_api_methods_to_test/elementwise_functions.txt
Labels: Depends on another Method

#324 greater_equal adhering to Array API standard
  ivy/array/__init__.py
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/mxnet/elementwise.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/tensorflow/old/general.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/backends/torch/old/general.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/old/general.py
  ivy_tests/array_api_methods_to_test/elementwise_functions.txt
Labels: Array API, Single Function, Tests Pending

#425 Cholesky
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/mxnet/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/array_api_methods_to_test/linear_algebra.txt
Labels: Array API, Single Function, Depends on another Method

#457 Implement eigvalsh function to conform to Array API Standards
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/mxnet/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/array_api_methods_to_test/linear_algebra.txt
Labels: Depends on another Method
