Repository ivy-llc/ivy, pull requests merged in 2022-02, with the labels that each got.

#253 argsort and any implementation
  ivy/functional/backends/jax/array_api/sorting_functions.py
  ivy/functional/backends/jax/array_api/utility_functions.py
  ivy/functional/backends/jax/core/general.py
  ivy/functional/backends/jax/core/reductions.py
  ivy/functional/backends/mxnet/array_api/sorting_functions.py
  ivy/functional/backends/mxnet/array_api/utility_functions.py
  ivy/functional/backends/mxnet/core/general.py
  ivy/functional/backends/mxnet/core/reductions.py
  ivy/functional/backends/numpy/array_api/sorting_functions.py
  ivy/functional/backends/numpy/array_api/utility_functions.py
  ivy/functional/backends/numpy/core/general.py
  ivy/functional/backends/tensorflow/array_api/sorting_functions.py
  ivy/functional/backends/tensorflow/array_api/utility_functions.py
  ivy/functional/backends/tensorflow/core/general.py
  ivy/functional/backends/torch/array_api/sorting_functions.py
  ivy/functional/backends/torch/array_api/utility_functions.py
  ivy/functional/backends/torch/core/general.py
  ivy/functional/backends/torch/core/reductions.py
  ivy/functional/ivy/array_api/sorting_functions.py
  ivy/functional/ivy/array_api/utility_functions.py
  ivy/functional/ivy/core/general.py
  ivy/functional/ivy/core/reductions.py
Labels: Array API, Single Function, Tests Pending

#274 logical_not implemented
  ivy/functional/backends/jax/array_api/elementwise_functions.py
  ivy/functional/backends/jax/core/logic.py
  ivy/functional/backends/mxnet/array_api/elementwise_functions.py
  ivy/functional/backends/mxnet/core/logic.py
  ivy/functional/backends/numpy/array_api/elementwise_functions.py
  ivy/functional/backends/numpy/core/logic.py
  ivy/functional/backends/tensorflow/array_api/elementwise_functions.py
  ivy/functional/backends/tensorflow/core/logic.py
  ivy/functional/backends/torch/array_api/elementwise_functions.py
  ivy/functional/backends/torch/core/logic.py
  ivy/functional/ivy/array_api/elementwise_functions.py
  ivy/functional/ivy/core/logic.py
Labels: Array API, Single Function, Tests Pending

#276 Cos function updated/located/tested
  ivy/functional/backends/jax/array_api/elementwise_functions.py
  ivy/functional/backends/jax/core/math.py
  ivy/functional/backends/numpy/array_api/elementwise_functions.py
  ivy/functional/backends/numpy/core/math.py
  ivy/functional/backends/tensorflow/array_api/elementwise_functions.py
  ivy/functional/backends/tensorflow/core/math.py
  ivy/functional/backends/torch/array_api/elementwise_functions.py
  ivy/functional/backends/torch/core/math.py
  ivy/functional/ivy/array_api/elementwise_functions.py
  ivy/functional/ivy/core/math.py
Labels: Array API, Single Function, Tests Pending

#283 updated vector_norm function to conform to Array API Standard
  ivy/functional/backends/jax/array_api/linear_algebra_extension.py
  ivy/functional/backends/mxnet/array_api/linear_algebra_extension.py
  ivy/functional/backends/numpy/array_api/linear_algebra_extension.py
  ivy/functional/backends/tensorflow/array_api/linear_algebra_extension.py
  ivy/functional/backends/torch/array_api/linear_algebra_extension.py
  ivy/functional/ivy/array_api/linear_algebra_extension.py
  ivy/functional/ivy/core/linalg.py
Labels: Array API, Single Function, Tests Pending

#286 bitwise_and implemented in all the backend files and ivy array_api
  ivy/functional/backends/jax/array_api/elementwise_functions.py
  ivy/functional/backends/mxnet/array_api/elementwise_functions.py
  ivy/functional/backends/numpy/array_api/elementwise_functions.py
  ivy/functional/backends/tensorflow/array_api/elementwise_functions.py
  ivy/functional/backends/torch/array_api/elementwise_functions.py
  ivy/functional/ivy/array_api/elementwise_functions.py
Labels: Array API, Single Function, Tests Pending

#312 reformatting functions zeros
  ivy/functional/backends/jax/array_api/creation_functions.py
  ivy/functional/backends/jax/core/general.py
  ivy/functional/backends/mxnet/array_api/creation_functions.py
  ivy/functional/backends/mxnet/core/general.py
  ivy/functional/backends/numpy/array_api/creation_functions.py
  ivy/functional/backends/numpy/core/general.py
  ivy/functional/backends/tensorflow/array_api/creation_functions.py
  ivy/functional/backends/tensorflow/core/general.py
  ivy/functional/backends/torch/array_api/creation_functions.py
  ivy/functional/backends/torch/core/general.py
  ivy/functional/ivy/array_api/creation_functions.py
  ivy/functional/ivy/core/general.py
Labels: Array API, Single Function, Tests Pending

#282 ivy.ones formatted and small fix done about mxnet
  ivy/functional/backends/jax/array_api/creation_functions.py
  ivy/functional/backends/jax/core/general.py
  ivy/functional/backends/mxnet/array_api/creation_functions.py
  ivy/functional/backends/mxnet/core/general.py
  ivy/functional/backends/numpy/array_api/creation_functions.py
  ivy/functional/backends/numpy/core/general.py
  ivy/functional/backends/tensorflow/array_api/creation_functions.py
  ivy/functional/backends/tensorflow/core/general.py
  ivy/functional/backends/torch/array_api/creation_functions.py
  ivy/functional/backends/torch/core/general.py
  ivy/functional/ivy/array_api/creation_functions.py
  ivy/functional/ivy/core/general.py
Labels: Array API, Single Function, Tests Pending

#279 Update Element-wise Functions to Conform to Array API Standard (Less #126) - Update Constants (e and pi) to Conform to Array API Standard (e and pi #162)
  ivy/functional/backends/jax/array_api/elementwise_functions.py
  ivy/functional/backends/jax/core/general.py
  ivy/functional/backends/mxnet/array_api/elementwise_functions.py
  ivy/functional/backends/numpy/array_api/elementwise_functions.py
  ivy/functional/backends/tensorflow/array_api/elementwise_functions.py
  ivy/functional/backends/tensorflow/array_builtins/array_api/comparison_operators.py
  ivy/functional/backends/tensorflow/core/general.py
  ivy/functional/backends/torch/array_api/elementwise_functions.py
  ivy/functional/backends/torch/array_builtins/array_api/comparison_operators.py
  ivy/functional/backends/torch/core/general.py
  ivy/functional/ivy/array_api/constants.py
  ivy/functional/ivy/array_api/elementwise_functions.py
  ivy/functional/ivy/core/array_builtins.py
  ivy/functional/ivy/core/general.py
Labels: Array API, Single Function

#160 isnan
  ivy/functional/backends/jax/array_api/elementwise_functions.py
  ivy/functional/backends/jax/core/general.py
  ivy/functional/backends/mxnet/array_api/elementwise_functions.py
  ivy/functional/backends/mxnet/core/general.py
  ivy/functional/backends/mxnet/core/reductions.py
  ivy/functional/backends/numpy/array_api/elementwise_functions.py
  ivy/functional/backends/numpy/core/general.py
  ivy/functional/backends/tensorflow/array_api/elementwise_functions.py
  ivy/functional/backends/tensorflow/core/general.py
  ivy/functional/backends/torch/array_api/elementwise_functions.py
  ivy/functional/backends/torch/core/general.py
  ivy/functional/ivy/array_api/elementwise_functions.py
  ivy/functional/ivy/core/general.py
Labels: Array API, Single Function

#320 function sqrt implemented and formatted
  ivy/functional/backends/jax/array_api/elementwise_functions.py
  ivy/functional/backends/mxnet/array_api/elementwise_functions.py
  ivy/functional/backends/numpy/array_api/elementwise_functions.py
  ivy/functional/backends/tensorflow/array_api/elementwise_functions.py
  ivy/functional/backends/torch/array_api/elementwise_functions.py
  ivy/functional/ivy/array_api/elementwise_functions.py
  ivy/functional/ivy/core/math.py
Labels: Array API, Single Function

#143 add diagonal to all 5 frameworks + ivy core
  ivy/func_wrapper.py
  ivy/functional/backends/jax/array_api/linear_algebra.py
  ivy/functional/backends/jax/core/linear_algebra.py
  ivy/functional/backends/mxnet/array_api/linear_algebra.py
  ivy/functional/backends/mxnet/core/linear_algebra.py
  ivy/functional/backends/numpy/array_api/linear_algebra.py
  ivy/functional/backends/numpy/core/linear_algebra.py
  ivy/functional/backends/tensorflow/array_api/linear_algebra.py
  ivy/functional/backends/tensorflow/core/linear_algebra.py
  ivy/functional/backends/torch/array_api/linear_algebra.py
  ivy/functional/backends/torch/core/linear_algebra.py
  ivy/functional/ivy/array_api/linear_algebra.py
  ivy_tests/array_api_methods_to_test/linear_algebra.txt
Labels: Array API, Single Function, Tests Passing
