Repository ivy-llc/ivy, pull requests merged in 2023-01, with the labels that each got.

#8983 Added 3 examples for einops_rearrange function
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/ivy/general.py
Labels: Array API, Ivy Functional API

#9233 Added empty function to jax.numpy frontend
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#8945 Added function eigvals
  ivy/array/experimental/linear_algebra.py
  ivy/container/experimental/linear_algebra.py
  ivy/functional/backends/jax/experimental/linear_algebra.py
  ivy/functional/backends/numpy/experimental/linear_algebra.py
  ivy/functional/backends/tensorflow/experimental/linear_algebra.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_linalg.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#8959 Added acosh_ instance method and test method to pytorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#9053 Added function fmin
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy API Experimental

#9222 adding fmod api for numpy first try
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
Labels: NumPy Frontend

#9064 feat(Ivy functional API): introduce adjoint
  ivy/array/experimental/linear_algebra.py
  ivy/assertions.py
  ivy/container/experimental/linear_algebra.py
  ivy/functional/backends/jax/experimental/linear_algebra.py
  ivy/functional/backends/numpy/experimental/linear_algebra.py
  ivy/functional/backends/tensorflow/experimental/linear_algebra.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_linalg.py
Labels: Array API, Ivy API Experimental

#9327 fixing fmod for the tensorflow backend and numpy frontend
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: NumPy Frontend

#9008 numpy instance method __itruediv__
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#6788 Add vstack function to Pytorch frontend
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#9285 Added abs and relative tolerance to the test for np.average frontend function
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
Labels: NumPy Frontend

#9376 jax_vdot
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#9362 Add jax.numpy.nanmax Frontend
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend

#9131 feat(PyTorch Frontend): add poisson random sampling
  ivy/array/experimental/random.py
  ivy/assertions.py
  ivy/container/experimental/random.py
  ivy/functional/backends/jax/experimental/random.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/numpy/experimental/random.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/tensorflow/experimental/random.py
  ivy/functional/backends/torch/experimental/random.py
  ivy/functional/frontends/torch/random_sampling.py
  ivy/functional/ivy/experimental/random.py
  ivy/functional/ivy/random.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_random_sampling.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_random.py
Labels: PyTorch Frontend, Array API, Ivy Functional API, Ivy API Experimental

#9386 add isinf to jax numpy
  ivy/functional/frontends/jax/numpy/logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
Labels: JAX Frontend

#9257 Ivy control flow ops Implementation
  ivy/func_wrapper.py
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/control_flow_ops.py
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/numpy/control_flow_ops.py
  ivy/functional/backends/tensorflow/__init__.py
  ivy/functional/backends/tensorflow/control_flow_ops.py
  ivy/functional/backends/torch/__init__.py
  ivy/functional/backends/torch/control_flow_ops.py
  ivy/functional/frontends/torch/utilities.py
  ivy/functional/ivy/__init__.py
  ivy/functional/ivy/control_flow_ops.py
Labels: PyTorch Frontend, Ivy Functional API

#9331 Fixing the failing unit test of np.mod frontend function
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
Labels: NumPy Frontend

#8948 Reformat fourier_encode: Docstring examples done
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/ivy/general.py
Labels: Array API, Function Reformatting, Ivy Functional API

#9374 jax numpy bitwise invert
  ivy/functional/frontends/jax/numpy/logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
Labels: JAX Frontend

#9351 Added uint64 jax.numpy namespace function
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#8897 added nanvar to numpy frontend
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
Labels: NumPy Frontend

#9424 Tensorflow wrapper testing
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_func_wrapper.py
Labels: TensorFlow Frontend

#9434 corrcoef Functional API
  ivy/array/experimental/statistical.py
  ivy/container/experimental/statistical.py
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/numpy/experimental/statistical.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/ivy/experimental/statistical.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_statistical.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#7579 Reformat meshgrid
  ivy/array/creation.py
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/numpy/creation.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/ivy/creation.py
Labels: Array API, Function Reformatting, Reformatting, Ivy Functional API, Stale

#9284 added torch frontend linalg function solve and frontend test
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#7922 Add tensorflow.pad frontend function
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend, Stale

#8843 frontends.tensorflow.convolution: initial commit
  ivy/functional/frontends/tensorflow/nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
Labels: TensorFlow Frontend

#9450 [Fix] Remove white space in `sqrt` to enable AST parsing
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#9354 Reformating zero_pad
  ivy/array/manipulation.py
  ivy/container/manipulation.py
  ivy/functional/ivy/manipulation.py
Labels: Array API, Ivy Functional API

#9442 [Fix] Remove reference to `array_or_none()` in torch frontend test
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: PyTorch Frontend

#7701 Added function int16 to jax.numpy namespace
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#9461 Added Pad to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#9439 Add `any()` to torch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#9369 swapaxes
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend

#9490 Add torch complex dtype promotion
  ivy/functional/frontends/torch/__init__.py
Labels: PyTorch Frontend

#9454 Numpy wrapper testing
  ivy_tests/test_ivy/test_frontends/test_numpy/test_func_wrapper.py
Labels: NumPy Frontend

#9460 add jax.lax.dot_general
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#9403 Add relevant DocStrings for one_hot functions
  ivy/array/creation.py
  ivy/container/creation.py
  ivy/functional/ivy/creation.py
Labels: Array API, Ivy Functional API

#9254 add imag to functional API
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#9475 Fix jax.lcm frontend test
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#9341 Add jax.numpy.nonzero Frontend
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_searching_sorting.py
Labels: JAX Frontend

#9526 fmin
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#9274 feat(Ivy Functional API): ifft
  ivy/array/experimental/layers.py
  ivy/container/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#9521 fixing the jax.nn.selu frontend test
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_nn_activations.py
Labels: JAX Frontend

#9091 added tf_linspace
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#9555 l2_normalize
  ivy/array/experimental/norms.py
  ivy/container/experimental/norms.py
  ivy/functional/backends/jax/experimental/__init__.py
  ivy/functional/backends/jax/experimental/norms.py
  ivy/functional/backends/numpy/experimental/__init__.py
  ivy/functional/backends/numpy/experimental/norms.py
  ivy/functional/backends/tensorflow/experimental/__init__.py
  ivy/functional/backends/tensorflow/experimental/norms.py
  ivy/functional/backends/torch/experimental/__init__.py
  ivy/functional/backends/torch/experimental/norms.py
  ivy/functional/ivy/experimental/norms.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_norms.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#9562 Jax numpy radians
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#8979 add tensorinv to torch frontend
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#9065 jax frontend x64 behaviour and promotion fix
  ivy/functional/frontends/jax/func_wrapper.py
  ivy/functional/frontends/jax/numpy/__init__.py
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy/functional/frontends/numpy/data_type_routines/creating_data_types.py
  ivy_tests/test_ivy/helpers/function_testing.py
Labels: PyTorch Frontend, JAX Frontend, NumPy Frontend, Ivy Functional API, Exhaustive CI

#9531 add torch.embedding
  ivy/functional/frontends/torch/nn/functional/sparse_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_sparse_functions.py
Labels: PyTorch Frontend

#9404 reformatting task coding challenge
  ivy/functional/backends/jax/gradients.py
  ivy/functional/backends/tensorflow/gradients.py
  ivy/functional/backends/torch/gradients.py
  ivy/functional/ivy/gradients.py
Labels: Array API, Ivy Functional API

#9399 Fix numpy.nanmin Frontend
  ivy/functional/frontends/numpy/mathematical_functions/extrema_finding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_extrema_finding.py
Labels: NumPy Frontend, Stale

#9591 Duplicate decorator in lamb_update function
  ivy/functional/ivy/gradients.py
Labels: Ivy Functional API

#9392 Fix numpy.nanmax Frontend
  ivy/functional/frontends/numpy/mathematical_functions/extrema_finding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_extrema_finding.py
Labels: NumPy Frontend, Stale

#9552 Add Mish Ivy Functional API
  ivy/array/activations.py
  ivy/container/activations.py
  ivy/functional/backends/jax/activations.py
  ivy/functional/backends/numpy/activations.py
  ivy/functional/backends/tensorflow/activations.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/ivy/activations.py
  ivy_tests/test_ivy/test_functional/test_nn/test_activations.py
Labels: Array API, Ivy Functional API

#8964 adding examples in docs where test_values=false
  docs/partial_source/deep_dive/ivy_frontends_tests.rst
Labels: Testing

#9401 Refactor sparse array functions
  ivy/functional/backends/jax/experimental/sparse_array.py
  ivy/functional/backends/numpy/experimental/sparse_array.py
  ivy/functional/backends/tensorflow/experimental/sparse_array.py
  ivy/functional/backends/torch/experimental/sparse_array.py
  ivy/functional/ivy/experimental/sparse_array.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_sparse_array.py
Labels: Ivy Functional API

#9326 Fixing the failing test np.power frontend function
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
Labels: NumPy Frontend

#9396 Add jax.numpy.nanmin Frontend
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend, Stale

#9411 Add jax.numpy.atleast_3d Frontend
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend

#9568 removing tensorflow type promotion table
  ivy/assertions.py
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/tensorflow/linalg.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy/functional/frontends/tensorflow/signal.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#9653 Enabled arbitrary nest out argument along with fixing the eigh function
  ivy/container/base.py
  ivy/func_wrapper.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: Ivy Functional API

#9601 Add: pytorch `all` to frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#9647 formatting multi_head_attention
  ivy/container/layers.py
  ivy/functional/ivy/layers.py
  run_tests.py
Labels: Function Reformatting, Ivy Functional API

#9645 Fix Softplus test
  ivy/functional/frontends/tensorflow/raw_ops.py
Labels: TensorFlow Frontend

#9550 Fixing jax.numpy.remainder frontend test
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#9203 Added kl_div frontend
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: PyTorch Frontend

#9409 cond
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_linalg.py
Labels: JAX Frontend

#9612 Embedding function (Experimental)
  ivy/array/experimental/layers.py
  ivy/container/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/general_helpers.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_sparse_functions.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: PyTorch Frontend, Array API, Ivy Functional API, Ivy API Experimental

#9714 Tensorflow frontend nn softmax function
  ivy/functional/frontends/tensorflow/nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
Labels: TensorFlow Frontend

#9668 Reformat conv2d_transpose (and other layers)
  ivy/array/layers.py
  ivy/container/layers.py
  ivy/functional/ivy/layers.py
Labels: Array API, Ivy Functional API

#9370 Fix frontend np.fmod
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
Labels: NumPy Frontend

#9719 Fix torch.view and close #9665
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/frontends/torch/view_tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_view_tensor.py
Labels: PyTorch Frontend

#9276 frontend(torch): add argsort method
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#9333 Fixing np.floor_divide frontend test
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
Labels: NumPy Frontend

#9769 Tensorflow frontend random.uniform function
  ivy/functional/frontends/tensorflow/random.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_random.py
Labels: TensorFlow Frontend

#9762 Fixed array like handing by fixing problem with `handle_array_like` w…
  ivy/func_wrapper.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/ivy/activations.py
  ivy/functional/ivy/control_flow_ops.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/experimental/activations.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/losses.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/losses.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/norms.py
  ivy/functional/ivy/searching.py
  ivy/functional/ivy/set.py
  ivy/functional/ivy/sorting.py
  ivy/functional/ivy/statistical.py
  ivy/functional/ivy/utility.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
  ivy_tests/test_ivy/test_misc/test_func_wrapper.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#9637 Fix jax_numpy_divide
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/torch/linalg.py
Labels: PyTorch Frontend, JAX Frontend

#9547 Add complex to unsupported dtypes of sorting fns
  ivy/functional/backends/tensorflow/sorting.py
  ivy/functional/backends/torch/sorting.py
Labels: Stale

#9536 Add complex to unsupported dtypes of searching fns
  ivy/functional/backends/jax/searching.py
  ivy/functional/backends/torch/searching.py
Labels: Stale

#9511 Add complex to the unsupported dtypes of set fns
  ivy/functional/backends/tensorflow/set.py
  ivy/functional/backends/torch/set.py
Labels: Stale

#9472 Add complex to unsupported dtypes of arange
  ivy/functional/backends/tensorflow/creation.py
Labels: Stale

#9720 add typehint & docstrings for dropout
  ivy/array/layers.py
  ivy/container/layers.py
  ivy/functional/ivy/layers.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: Array API, Ivy Functional API

#9809 Fix logical_and
  ivy/functional/frontends/jax/numpy/logic.py
Labels: JAX Frontend

#9514 Fix jax_devicearray_at test
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
Labels: JAX Frontend

#9456 Diag indices
  ivy/functional/frontends/numpy/indexing_routines/indexing_like_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_indexing_like_operations.py
Labels: NumPy Frontend

#9465 Adding "to_ivy_array" flag to copy_array
  ivy/array/creation.py
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/numpy/creation.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/ivy/creation.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
Labels: Array API, Ivy Functional API

#9705 `embedding_lookup` tf frontend function
  ivy/functional/frontends/tensorflow/nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
Labels: TensorFlow Frontend

#9721 add docstrings examples for dropout1d
  ivy/array/layers.py
  ivy/container/layers.py
  ivy/functional/ivy/experimental/layers.py
Labels: Array API, Ivy Functional API

#9823 hypot
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#9800 Fixing the frontend test of tf.math.argmax
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#9732 Adding ufunc class to the numpy frontend
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/linalg/matrix_and_vector_products.py
  ivy/functional/frontends/numpy/logic/array_type_testing.py
  ivy/functional/frontends/numpy/logic/comparison.py
  ivy/functional/frontends/numpy/logic/logical_operations.py
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
  ivy/functional/frontends/numpy/mathematical_functions/exponents_and_logarithms.py
  ivy/functional/frontends/numpy/mathematical_functions/extrema_finding.py
  ivy/functional/frontends/numpy/mathematical_functions/hyperbolic_functions.py
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy/functional/frontends/numpy/mathematical_functions/rounding.py
  ivy/functional/frontends/numpy/mathematical_functions/trigonometric_functions.py
  ivy/functional/frontends/numpy/ufunc/__init__.py
  ivy/functional/frontends/numpy/ufunc/methods.py
  ivy_tests/test_ivy/test_frontends/test_numpy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_matrix_and_vector_products.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_array_type_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_comparison.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_logical_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_exponents_and_logarithms.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_extrema_finding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_hyperbolic_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_rounding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_trigonometric_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ufunc/test_methods.py
Labels: NumPy Frontend

#9613 added tensordot to PyTorch frontend
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#8854 frontends.torch.avg_pool2d: initial commit
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pooling_functions.py
Labels: PyTorch Frontend, Ivy Functional API, Ivy API Experimental

#9816 Implement nanargmax for JAX frontend
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_searching_sorting.py
Labels: JAX Frontend

#9814 Add missing tests for jax.numpy mathematical functions
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#9516 add floor divide
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#9481 geometric random function for numpy frontend
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#9469 frontends.tf.raw_ops: add support for Conv3D
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#9875 Add `jax.numpy.fmod` to Jax frontend
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#9655 add numpy torch frontend method
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#9646 Add Softmax to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#9880 Reformat typehints conv1d
  ivy/array/layers.py
  ivy/container/layers.py
  ivy/functional/backends/jax/layers.py
  ivy/functional/backends/numpy/layers.py
  ivy/functional/backends/tensorflow/layers.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/ivy/layers.py
Labels: Array API, Ivy Functional API

#9861 bitwise_or
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#9802 Add: one_hot + tests
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#9811 added heaviside function to torch frontends.
  ivy/functional/frontends/torch/creation_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
Labels: PyTorch Frontend

#8807 gelu #7679
  ivy/array/activations.py
  ivy/container/activations.py
  ivy/functional/backends/jax/activations.py
  ivy/functional/backends/numpy/activations.py
  ivy/functional/backends/torch/activations.py
Labels: Stale

#9804 Fixing the tf.math.trudiv frontend test for torch backend
  ivy/functional/frontends/tensorflow/math.py
Labels: TensorFlow Frontend

#9589 Add jax.numpy.atleast_2d Frontend
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend, Stale

#9768 Numpy frontend - random poisson
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#9520 Fix jax.nn.one_hot frontend test
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_nn_activations.py
Labels: JAX Frontend

#9700 Fixing tf.keras.activations.gelu frontend test
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_activations.py
Labels: TensorFlow Frontend

#8887 added requirement handler, for usage check comment in file
  docker/MultiversionDockerFile
  docker/build_multiversiondockerfile.sh
  docker/multicondaenv.yml
  docker/multiversion_framework_directory.py
  docker/multiversion_testing_requirements.txt
  docker/run_multiversion_framework_directory.sh
  ivy/inspection.py
  ivy_tests/config.py
  ivy_tests/test_ivy/__init__.py
  ivy_tests/test_ivy/conftest.py
  ivy_tests/test_ivy/helpers/available_frameworks.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/globals.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
  ivy_tests/test_ivy/test_frontends/test_jax/conftest.py
  ivy_tests/test_ivy/test_frontends/test_numpy/conftest.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/conftest.py
  ivy_tests/test_ivy/test_frontends/test_torch/conftest.py
  ivy_tests/test_ivy/test_misc/test_backend_handler.py
  multiversion_testing.py
  requirement_handler.py
  requirements/requirements.txt
Labels: Stale, Exhaustive CI

#9519 frontends.jax.numpy: add support for floor_divide
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#9954 Fixing inplace update issue with native arrays in the torch frontend
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#9808 add frontend torch rand function
  ivy/functional/frontends/torch/random_sampling.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_random_sampling.py
Labels: PyTorch Frontend

#9893 Added instance method __len__ for numpy
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#9805 tf.math.is_non_decreasing: fixed the failing test for numpy
  ivy/functional/frontends/tensorflow/math.py
Labels: TensorFlow Frontend

#7812 added tile to tf frontend
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#10091 add `to_ignore` to `_is_variable` and `nested_map` to avoid iterating over some subclasses of `tuple`
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/nest.py
Labels: Ivy Functional API

#9898 add: Raw Ops: Log1p
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend, ToDo

#9906 is_complex
  ivy/functional/frontends/torch/tensor_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor_functions.py
Labels: PyTorch Frontend

#9904 Add random_normal to tensorflow frontend
  ivy/functional/frontends/tensorflow/random.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_random.py
Labels: TensorFlow Frontend

#9759 add sequence padding support to ivy's convolution functions
  ivy/array/layers.py
  ivy/container/layers.py
  ivy/functional/backends/jax/layers.py
  ivy/functional/backends/numpy/layers.py
  ivy/functional/backends/tensorflow/layers.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/ivy/layers.py
  ivy/stateful/layers.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: Array API, Ivy Functional API

#9618 add jax.lax.conv_general_dilated
  ivy/functional/backends/tensorflow/layers.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: JAX Frontend, Sub Task, Ivy Functional API

#9989 workflow for checking duplicate functions in PR's for experimental tests
  .github/workflows/duplication.yml
  duplicate.py
Labels: Ivy API Experimental

#7246 ivy.lexsort added
  ivy/functional/backends/numpy/sorting.py
  ivy/functional/frontends/numpy/sorting_searching_counting/sorting.py
  ivy/functional/ivy/sorting.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_sorting_searching_counting/test_sorting.py
Labels: NumPy Frontend, Array API, Ivy Functional API

#9907 Torch Frontend - inner
  ivy/functional/frontends/torch/blas_and_lapack_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_blas_and_lapack_ops.py
Labels: PyTorch Frontend

#9364 Reformat lstm_update in layers
  ivy/array/layers.py
  ivy/container/layers.py
Labels: Array API, Stale

#9924 Torch FE tensorsolve feature added
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#9737 implemented jax frontend function jax.numpy.real and its unittests
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#9825 reshape
  ivy/functional/frontends/tensorflow/raw_ops.py
Labels: TensorFlow Frontend

#9894 Added: Raw Ops: Rsqrt
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#10098 frontends.torch.adjoint
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#9849 Add missing Onnx functions in the Experimental API
  ivy/array/experimental/layers.py
  ivy/array/experimental/manipulation.py
  ivy/array/experimental/random.py
  ivy/container/experimental/layers.py
  ivy/container/experimental/manipulation.py
  ivy/container/experimental/random.py
  ivy/functional/backends/jax/experimental/random.py
  ivy/functional/backends/numpy/experimental/random.py
  ivy/functional/backends/tensorflow/experimental/random.py
  ivy/functional/backends/torch/experimental/random.py
  ivy/functional/ivy/experimental/activations.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/experimental/random.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_random.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#9215 Reformat einops rearrange in general
  ivy/functional/ivy/general.py
Labels: Ivy Functional API, Stale

#10132 Fix numpynanstd
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
  ivy_tests/test_ivy/test_functional/test_core/test_statistical.py
Labels: NumPy Frontend

#9909 Add isclose for jax frontend
  ivy/functional/frontends/jax/numpy/logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
Labels: JAX Frontend

#9651 Fix Incomplete Behavior of binary_crossentropy tensorflow Frontend
  ivy/functional/frontends/tensorflow/keras/metrics.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_metrics.py
Labels: TensorFlow Frontend, Stale

#9674 Fix incomplete behaviour torch.Tensor.permute PyTorch Frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, Stale

#9982 frontends.jax.numpy: add full_like func
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#10175 implement tf.where in tensorflow frontend
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#10166 frontends.torch.dsplit
  ivy/array/experimental/manipulation.py
  ivy/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend, Array API, Ivy Functional API, Ivy API Experimental

#9945 Updated np_frontend_helpers.handle_where_and_array_bools() and tests to match the recent refactoring
  docs/partial_source/deep_dive/ivy_frontends_tests.rst
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
  ivy_tests/test_ivy/test_frontends/test_numpy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_array_type_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_comparison.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_logical_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_truth_value_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_exponents_and_logarithms.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_extrema_finding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_hyperbolic_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_rounding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_sums_products_differences.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_trigonometric_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
Labels: JAX Frontend, NumPy Frontend

#10174 Add Threshold Relu Activation
  ivy/array/experimental/activations.py
  ivy/container/experimental/activations.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/__init__.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/torch/experimental/__init__.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/ivy/experimental/activations.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
Labels: Array API, Ivy Functional API
