Repository ivy-llc/ivy, pull requests merged in 2023-08, with the labels that each got.

#20282 Added orthogonal function to Jax's random
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_random.py
Labels: JAX Frontend

#16614 `paddle.numel` tensor instance function
  ivy/functional/frontends/paddle/tensor/stat.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Stale, Paddle Frontend

#20818 Fixes to allow typesets in unsupported dtypes and fixed `einops_reduce`
  ivy/func_wrapper.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#21031 Add igamma to pytorch frontend api with test
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21155 added: complex function to paddle frontend
  ivy/functional/frontends/paddle/tensor/creation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_creation.py
Labels: Paddle Frontend

#21184 Fixing Array class methods tests
  ivy/data_classes/array/array.py
  ivy/functional/backends/paddle/elementwise.py
  ivy_tests/test_ivy/test_misc/test_array.py
Labels: Array API, Paddle Paddle Backend

#21143 Fixed the issue with `jax.DeviceArray` which is deprecated
  ivy/functional/frontends/jax/__init__.py
  ivy/functional/frontends/jax/_src/array.py
  ivy/functional/frontends/jax/_src/numpy/lax_numpy.py
  ivy/functional/frontends/jax/array.py
  ivy/functional/frontends/jax/func_wrapper.py
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy_tests/test_ivy/test_frontends/config/jax.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_array.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_func_wrapper.py
Labels: JAX Frontend

#21167 Remove test for unimplemented torch.tensor.igamma instance method
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21183 added backend_fw to relevant tensorflow frontends
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_from_existing_data.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_fft/test_discrete_fourier_transform.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_sums_products_differences.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_fft.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_activation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_loss.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_norm.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_pooling.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_vision.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_creation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_manipulation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_scipy/test_linalg/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_vision_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Paddle Frontend

#20876 Add cbrt to jax frontend api with test
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_lax/test_operators.py
Labels: JAX Frontend

#20857 add fftshift to jax frontend
  ivy/functional/frontends/jax/numpy/fft.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_fft.py
Labels: JAX Frontend

#21262 Add the missing ONNX functions to Ivy Experimental API - #21256
  ivy/functional/ivy/experimental/activations.py
Labels: Ivy Functional API, Ivy API Experimental

#20208 Added torch front end instance for bmm
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#20641 Tensorflow frontend - unsorted segment sum function added
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#18346 add paddle sort
  ivy/functional/frontends/paddle/tensor/search.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_search.py
Labels: Paddle Frontend

#18274 Add diff mathematical function to Paddle frontend
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#20850 Complex activations
  ivy/data_classes/array/activations.py
  ivy/data_classes/container/activations.py
  ivy/func_wrapper.py
  ivy/functional/backends/paddle/activations.py
  ivy/functional/backends/tensorflow/activations.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/ivy/activations.py
  ivy/functional/ivy/data_type.py
  ivy/stateful/activations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_nn/test_non_linear_activations.py
  ivy_tests/test_ivy/test_functional/test_nn/test_activations.py
  ivy_tests/test_ivy/test_misc/test_func_wrapper.py
  ivy_tests/test_ivy/test_stateful/test_activations.py
Labels: JAX Frontend, Array API, Ivy Functional API

#21247 Torch/Paddle adaptive_max_pool2d
  ivy/data_classes/array/experimental/layers.py
  ivy/data_classes/container/experimental/layers.py
  ivy/functional/backends/paddle/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/frontends/paddle/nn/functional/pooling.py
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_pooling.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_pooling_functions.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: PyTorch Frontend, Array API, Ivy Functional API, Ivy API Experimental, Paddle Frontend, Paddle Paddle Backend

#16619 Adding additional arguments in `max_pool1d` and `max_pool3d` similar to how they're implemented in `max_pool2d`
  ivy/data_classes/array/experimental/layers.py
  ivy/data_classes/container/base.py
  ivy/data_classes/container/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/mxnet/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/paddle/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/layers.py
  ivy/stateful/layers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Ivy Functional API, Stale, Ivy API Experimental, PaddlePaddle Backend, Paddle Paddle Backend

#21216 fix dtype and device defaulting for torch new_zeros
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#21173 Add Instance Methods to PyTorch Frontend #3612 - double #21148
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#19474 Add finfo jax frontend
  ivy/functional/frontends/jax/numpy/dtype.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_dtype.py
Labels: JAX Frontend

#19795 Added jax.numpy.quantile frontend and tests
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/numpy/experimental/statistical.py
  ivy/functional/backends/paddle/experimental/statistical.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy/functional/ivy/experimental/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_statistical.py
Labels: JAX Frontend, Paddle Paddle Backend

#21226 add missing ivy.Shapes to arg checks in torch frontend
  ivy/functional/frontends/torch/creation_ops.py
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#21062 Added no_op (Tensorflow) frontend function
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#21206 to_tensor paddle frontend function
  ivy/functional/frontends/paddle/vision/transforms.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_vision/test_transforms.py
Labels: Paddle Frontend

#20953 Added pytorch frontend corrcoef and its tests
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#20926 Added docstrings, docstring examples and fixed typehints to linear algebra inner Close #20925
  ivy/data_classes/array/linear_algebra.py
  ivy/data_classes/container/linear_algebra.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
Labels: Array API, Ivy Functional API, Paddle Paddle Backend

#21315 Fix frontend jax.lax.cbrt
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_lax/test_operators.py
Labels: JAX Frontend

#20974 Update prune_nest_at_indices to make sure indices are in the right order
  ivy/functional/ivy/nest.py
  ivy_tests/test_ivy/test_functional/test_core/test_nest.py
Labels: Ivy Functional API

#20269 Adding lgamma to paddle frontend.
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#21338 Embedding Stateful Class Fix
  ivy/stateful/layers.py
  ivy_tests/test_ivy/test_stateful/test_layers.py
Labels: Ivy Stateful API

#21342 Stateful Layers reorganized
  ivy/stateful/layers.py
Labels: Ivy Stateful API, Reformatting

#21035 Add instance method svd in torch frontend #20854
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#19866 Added unsorted_segment_sum
  ivy/data_classes/array/experimental/creation.py
  ivy/data_classes/container/experimental/creation.py
  ivy/functional/backends/jax/experimental/creation.py
  ivy/functional/backends/numpy/experimental/creation.py
  ivy/functional/backends/paddle/experimental/creation.py
  ivy/functional/backends/tensorflow/experimental/creation.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/ivy/experimental/creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#20920 Adding `mm` function to Paddle Frontend
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#21200 Chore: add addmv_ to tensor
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#19089 add bernoulli to paddle backend
  ivy/functional/backends/paddle/experimental/random.py
Labels: Paddle Paddle Backend

#19091 add beta to paddle backend
  ivy/functional/backends/paddle/experimental/random.py
Labels: Paddle Paddle Backend

#21138 triu_indices
  ivy/functional/frontends/paddle/tensor/creation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_creation.py
Labels: Paddle Frontend

#21117 added ptp
  ivy/functional/frontends/jax/array.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_array.py
Labels: JAX Frontend

#20992 Add tie_in to jax frontend api with test
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_lax/test_operators.py
Labels: JAX Frontend

#20555 Added squeeze_ method for the PyTorch frontend.
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#20888 nanquantile
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_statistical.py
Labels: PyTorch Frontend

#19425 Add iinfo jax frontend dtypes
  ivy/functional/frontends/jax/numpy/dtype.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_dtype.py
Labels: JAX Frontend

#20820 added numpy.r_ and its test
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/creation_routines/from_existing_data.py
  ivy/functional/frontends/numpy/indexing_routines/inserting_data_into_arrays.py
  ivy/functional/frontends/numpy/matrix/methods.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_inserting_data_into_arrays.py
Labels: NumPy Frontend, Ivy Functional API

#19491 interpolate function
  ivy/functional/frontends/paddle/nn/functional/common.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_common.py
Labels: Paddle Frontend

#19338 "Added nanmedian function and testing"
  ivy/functional/frontends/paddle/tensor/stat.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_stat.py
Labels: Stale, Paddle Frontend

#21413 Complex activations
  ivy/data_classes/container/activations.py
  ivy/functional/backends/paddle/activations.py
  ivy/functional/backends/tensorflow/activations.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/ivy/activations.py
  ivy/stateful/activations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_nn/test_non_linear_activations.py
  ivy_tests/test_ivy/test_functional/test_nn/test_activations.py
  ivy_tests/test_ivy/test_stateful/test_activations.py
Labels: JAX Frontend, Ivy Functional API, Paddle Paddle Backend

#21344 Added zero_ method to the PyTorch frontend.
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#18280 EHN: adding kron in paddle math..py
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#21350 Fixed the failing tests for log10 method in the PyTorch frontend.
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#21307 implemented jax numpy trim_zeros in the jax frontend and tested.
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_manipulations.py
Labels: JAX Frontend

#21438 Fixed gcd function in the PyTorch frontend.
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#21208 lgamma pointwise function torch frontend
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#21469 Fixed the failing tests for the tensor.sigmoid_ method in PyTorch frontend.
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#21357 add l2_normalize tensorflow math
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#19846 Add xlog1py tensorflow math
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#21435 Implements the missing vorbis window for the tf.signal frontend
  ivy/functional/frontends/tensorflow/signal.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_signal.py
Labels: TensorFlow Frontend

#21463 Fixed the failing tests for the tensor.arctanh_ method in PyTorch frontend.
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#21474 fixed failing torch.einsum frontend test
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#21378 Added Multi_Dot
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_linalg.py
Labels: JAX Frontend

#21355 isreal at Torch
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy/functional/frontends/torch/comparison_ops.py
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_comparison_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, Paddle Frontend

#21477 fixed failing test for tf.linalg.einsum frontend
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#19049 EHN : ptp methos is add in Jax devicearray.py
  ivy/functional/frontends/jax/array.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_array.py
Labels: JAX Frontend

#18915 Added Frontend numpy random triangular function
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#21452 Fixed the failing tests for the trunc method in PyTorch frontend.
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#20899 Add layer conv1d_transpose for paddle backend
  ivy/functional/backends/paddle/layers.py
Labels: Paddle Paddle Backend

#21493 Layers
  ivy/stateful/layers.py
Labels: Ivy Stateful API

#21448 Fixed the failing tests for the acos_ method in PyTorch frontend.
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#20018 Added topk function to Paddle Frontend
  ivy/functional/frontends/paddle/tensor/search.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_search.py
Labels: Paddle Frontend

#21322 Bug Fix: No module named 'ivy.functional.frontends.jax.scipy'
  ivy_tests/test_ivy/helpers/globals.py
  ivy_tests/test_ivy/test_frontends/config/scipy.py
  ivy_tests/test_ivy/test_frontends/test_scipy/test_linalg/test_linalg.py
Labels: Bug Report

#21460 Fixed the failing tests for the tensor.cosh_ function in PyTorch frontend.
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#20882 added triple loss func to paddle frontend and its test
  ivy/functional/frontends/paddle/nn/functional/distance.py
  ivy/functional/frontends/paddle/nn/functional/loss.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_loss.py
Labels: Paddle Frontend

#21458 Fixed the failing tests for the unsqueeze method in PyTorch frontend.
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#19843 Add xdivy Tensorflow math frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#21442 Fixed the failing tests for the tensor.fix_ function in PyTorch frontend.
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#20966 zeros_initializer
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#21132 added Invalid backend exception class and decorator to relevant functions
  ivy/func_wrapper.py
  ivy/functional/ivy/activations.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/experimental/activations.py
  ivy/functional/ivy/experimental/creation.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy/functional/ivy/experimental/general.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/experimental/norms.py
  ivy/functional/ivy/experimental/random.py
  ivy/functional/ivy/experimental/searching.py
  ivy/functional/ivy/experimental/sorting.py
  ivy/functional/ivy/experimental/statistical.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/norms.py
  ivy/functional/ivy/random.py
  ivy/functional/ivy/searching.py
  ivy/functional/ivy/set.py
  ivy/functional/ivy/sorting.py
  ivy/functional/ivy/statistical.py
  ivy/functional/ivy/utility.py
  ivy/utils/exceptions.py
Labels: Ivy Functional API, Ivy API Experimental

#21157 Embedding and Identity layers
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy/stateful/initializers.py
  ivy/stateful/layers.py
  ivy_tests/test_ivy/test_stateful/test_initializers.py
  ivy_tests/test_ivy/test_stateful/test_layers.py
Labels: Ivy Functional API, Ivy API Experimental

#21529 Added nll_loss to paddle frontend
  ivy/functional/frontends/paddle/nn/functional/loss.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_loss.py
Labels: Paddle Frontend

#21221 refactored `scaled_dot_product_attention` in Ivy's functional API, added torch frontend for it.
  ivy/data_classes/array/layers.py
  ivy/data_classes/container/layers.py
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy/functional/ivy/layers.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_non_linear_activation_functions.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: Array API, Ivy Array, Ivy Functional API

#21495 Complex activations
  ivy/data_classes/array/activations.py
  ivy/data_classes/container/activations.py
  ivy/functional/backends/tensorflow/activations.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/ivy/activations.py
  ivy/stateful/activations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_nn/test_non_linear_activations.py
Labels: JAX Frontend, Array API, Ivy Functional API

#18980 EHN : Adding searchsorted n jax devicearray.py
  ivy/functional/frontends/jax/array.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_array.py
Labels: JAX Frontend

#21526 paddle_take_along_axis
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/frontends/paddle/tensor/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_manipulation.py
Labels: Paddle Frontend, Paddle Paddle Backend

#21517 Updated setxor1d func with more dtype support.
  ivy/functional/frontends/jax/numpy/logic.py
Labels: JAX Frontend

#19512 Numpy.random.f function
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#21473 fixed numpy frontend ndarray.squeeze failing test
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#19869 Add rint tensorflow math
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#21228 feature: add baddbmm_ to torch
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21585 Renamed the unit tests in frontend instance methods to be standardized and avoid duplicacy in tests
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_array.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Paddle Frontend

#21581 rearranged the order of applied decorators to be compliant with docs
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/experimental/statistical.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/statistical.py
Labels: Ivy Functional API, Ivy API Experimental

#21556 isnan
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21189 Add Random sampling pareto to Numpy Frontend
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Array API, Paddle Frontend, Paddle Paddle Backend

#20973 Fix multiple issues with ivy.jac
  ivy/functional/backends/jax/gradients.py
  ivy/functional/backends/paddle/gradients.py
  ivy/functional/backends/tensorflow/gradients.py
  ivy/functional/backends/torch/gradients.py
  ivy_tests/test_ivy/test_functional/test_core/test_gradients.py
Labels: Paddle Paddle Backend

#21616 sqrt_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21456 Fixed the failing tests for the nanmean method in PyTorch frontend.
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#21509 added take math function to paddle frontend
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#21584 Bitwise xor
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21623 lcm
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21352 Add softsign to tensorflow frontend api with test
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#21382 added indices function to jax frontend
  ivy/functional/frontends/jax/numpy/indexing.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_indexing.py
Labels: JAX Frontend

#21287 Solve numpy.vector_norm assertion error in case of 0-dim array input
  ivy/functional/backends/numpy/linear_algebra.py
Labels: Bug Report

#21723 Minor correction in bitwise_xor_ method in the PyTorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21464 Added dot function
  ivy/functional/backends/jax/experimental/linear_algebra.py
  ivy/functional/backends/mxnet/experimental/linear_algebra.py
  ivy/functional/backends/numpy/experimental/linear_algebra.py
  ivy/functional/backends/paddle/experimental/linear_algebra.py
  ivy/functional/backends/tensorflow/experimental/linear_algebra.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/linear_algebra.py
Labels: Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#20650 Added masked_select to frontend.paddle
  ivy/functional/frontends/paddle/tensor/search.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_search.py
Labels: Paddle Frontend

#21774 implemented torch instance quantile method
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21515 fixed failing tests numpy.any and numpy.all
  ivy/functional/frontends/numpy/logic/truth_value_testing.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#21552 Add linalg.tensor_diag_part to tensorflow frontends
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#21375 Paddle Frontend Convolution
  ivy/functional/frontends/paddle/nn/functional/conv.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_conv.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_convolution_functions.py
Labels: PyTorch Frontend, Paddle Frontend

#18924 added dropout3d function and test for PaddlePaddle frontend
  ivy/functional/frontends/paddle/nn/functional/common.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_common.py
Labels: Stale, Paddle Frontend

#21744 Added expm1_ method in the PyTorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21778 Added amax to paddle frontend #21775
  ivy/functional/frontends/paddle/tensor/math.py
Labels: Paddle Frontend

#21777 added test for amax paddle frontend #21775
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#21807 Added multiply_ method to the PyTorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21559 Implement max_unpool2d
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_pooling_functions.py
Labels: PyTorch Frontend, Ivy Functional API, Ivy API Experimental

#21750 Add addmm to jax frontend api with test
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#21767 Add log2_ to torch frontend api with test
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#20989 Add erfc to jax frontend api with test
  ivy/functional/backends/paddle/layers.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_lax/test_operators.py
Labels: JAX Frontend

#19670 Tensorization in Ivy
  ivy/__init__.py
  ivy/data_classes/FactorizedTensor/__init__.py
  ivy/data_classes/FactorizedTensor/base.py
  ivy/data_classes/FactorizedTensor/tucker_tensor.py
  ivy/data_classes/__init__.py
  ivy/data_classes/array/experimental/linear_algebra.py
  ivy/data_classes/array/experimental/manipulation.py
  ivy/data_classes/container/experimental/linear_algebra.py
  ivy/data_classes/container/experimental/manipulation.py
  ivy/functional/backends/paddle/elementwise.py
  ivy/functional/ivy/experimental/creation.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_linalg.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
  ivy_tests/test_ivy/test_misc/test_tucker_tensor.py
Labels: Ivy Functional API, Ivy API Experimental

#21373 added fromfunction to numpy frontend
  ivy/functional/frontends/numpy/creation_routines/from_shape_or_value.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_from_shape_or_value.py
Labels: NumPy Frontend

#19360 EHN: adding function repeat in jax devicearray
  ivy/functional/frontends/jax/array.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_array.py
Labels: JAX Frontend

#21540 Add adjust_hue function to paddle.vision.transforms
  ivy/functional/frontends/paddle/vision/transforms.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_vision/test_transforms.py
Labels: Paddle Frontend

#21631 Added rot90 frontend function and test for paddle tensor manipulation
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/frontends/paddle/tensor/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_manipulation.py
Labels: Paddle Frontend, Paddle Paddle Backend

#21144 Add Instance Methods to PyTorch Frontend #3612 - sinc #21142
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21428 Fix Paddle version keys gap for supported dtypes
  ivy/functional/backends/paddle/__init__.py
Labels: Paddle Paddle Backend

#21768 added r_ and c_ to jax.numpy
  ivy/functional/frontends/jax/array.py
  ivy/functional/frontends/jax/numpy/indexing.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_array.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_indexing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_inserting_data_into_arrays.py
Labels: JAX Frontend, NumPy Frontend

#21802 Added log1p_ method in the PyTorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21900 Add paddle frontend unfold and its test function
  ivy/functional/frontends/paddle/nn/functional/common.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_common.py
Labels: Paddle Frontend

#21875 Add ldexp to torch frontend api with test
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#21349 Add cummin to jax frontend api with test
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_lax/test_operators.py
Labels: JAX Frontend

#21333 Add iota to jax frontend api with test
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_lax/test_operators.py
Labels: JAX Frontend

#19882 BlackmanWindow #19480
  ivy/data_classes/array/experimental/creation.py
  ivy/data_classes/container/experimental/creation.py
  ivy/functional/backends/jax/experimental/creation.py
  ivy/functional/backends/mxnet/experimental/creation.py
  ivy/functional/backends/numpy/experimental/creation.py
  ivy/functional/backends/paddle/experimental/creation.py
  ivy/functional/backends/tensorflow/experimental/creation.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/ivy/experimental/creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
Labels: Array API, Ivy Functional API, Stale, Ivy API Experimental, Paddle Paddle Backend

#19105 Add atan for paddle
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#21601 Index_fill
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#20703 Add complex number testing support
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#19724 Jax devicearray prod
  ivy/functional/frontends/jax/array.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_array.py
Labels: JAX Frontend

#21290 Jax devicearray sum
  ivy/functional/frontends/jax/array.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_array.py
Labels: JAX Frontend

#21967 refactor torch frontend lp pooling functions and their tests
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_pooling_functions.py
Labels: PyTorch Frontend

#20932 Aml 20867 paddle frontend var
  ivy/functional/frontends/paddle/tensor/stat.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_stat.py
Labels: Paddle Frontend

#21969 fix ivy.dot docs and backend versions
  ivy/functional/backends/jax/experimental/linear_algebra.py
  ivy/functional/backends/tensorflow/experimental/linear_algebra.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/linear_algebra.py
Labels: Ivy Functional API, Ivy API Experimental

#22000 Removed x_dilations assertion from ivy.conv as it's unused, added missing tests for ivy.conv, updated the x_and_filters helper to not generate x_dilations for transposed convolutions
  ivy/functional/ivy/layers.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: Ivy Functional API

#21740 Added erf_ method in the PyTorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#22022 Added remainder_ method to the PyTorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21370 added onnx trilu function and test
  ivy/data_classes/array/experimental/creation.py
  ivy/data_classes/container/experimental/creation.py
  ivy/functional/backends/jax/experimental/creation.py
  ivy/functional/backends/numpy/experimental/creation.py
  ivy/functional/backends/paddle/experimental/creation.py
  ivy/functional/backends/tensorflow/experimental/creation.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/ivy/experimental/creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#21393 implemented Igamma
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#18995 P var
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#22036 Added reciprocal_ method in the PyTorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#21110 multivariate_normal func
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_random.py
Labels: JAX Frontend

#21291 paddle frontend cholesky_solve added
  ivy/functional/frontends/paddle/tensor/linalg.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_linalg.py
Labels: Paddle Frontend
