Repository ivy-llc/ivy, pull requests merged in 2023-05, with the labels that each got.

#14467 Add imag to torch tensor
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#14490 Added jax.numpy.product()
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#14767 removed ivy_backend, possible circular import
  .github/workflows/test-array-api.yml
  ivy/__init__.py
Labels: Array API

#14251 Clone
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#14509 added jax.random.cauchy to jax frontend
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
Labels: JAX Frontend

#14622 Add Cond to Pytorch frontend Linear Algebra #14591
  ivy/functional/frontends/torch/linalg.py
  ivy/functional/ivy/control_flow_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend, Ivy Functional API

#13253 Added examples and improved docstrings
  docs/overview/deep_dive/ivy_tests.rst
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/dtype_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/general_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/number_helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: PyTorch Frontend, NumPy Frontend, Testing

#14763 Cleaned up jax.lax.slice frontend and fixed a small error in Ivy.pad
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: JAX Frontend, Ivy Functional API, Ivy API Experimental

#14811 fix experimental.random.gamma argument position error
  ivy/functional/ivy/experimental/random.py
Labels: Ivy Functional API, Ivy API Experimental

#14802 Revert ones, zeros and empty
  ivy/data_classes/container/creation.py
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/numpy/creation.py
  ivy/functional/backends/paddle/creation.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/ivy/creation.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
Labels: Ivy Functional API, Paddle Paddle Backend

#14712 Fixes tf_gather
  ivy/functional/frontends/tensorflow/general_functions.py
Labels: TensorFlow Frontend

#14385 Add idct signal for tensorflow
  ivy/functional/frontends/tensorflow/signal.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_signal.py
Labels: TensorFlow Frontend

#14495 Add jax.lax.reduce_window
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend, Ivy Functional API, Ivy API Experimental

#14870 extending asarray to accept ivy.Shape input
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/numpy/creation.py
  ivy/functional/backends/paddle/creation.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/ivy/creation.py
Labels: Ivy Functional API, Paddle Paddle Backend

#14786 Added Instance Method short to torch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#14874 Fixed highlighting errors in docs
  docs/overview/deep_dive/docstring_examples.rst
  docs/overview/deep_dive/docstrings.rst
Labels: Bug Report

#14853 round added
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
Labels: JAX Frontend

#14808 add numpy fft
  ivy/functional/frontends/numpy/fft/discrete_fourier_transform.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_fft/test_discrete_fourier_transform.py
Labels: NumPy Frontend

#14941 Add torch.norm function
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#14891 Jax frontend - Implemented while_loop function and it's test.
  ivy/functional/frontends/jax/lax/control_flow_operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_control_flow_operators.py
Labels: JAX Frontend

#14757 tensorflow frontend random stateless_normal , poisson
  ivy/functional/frontends/tensorflow/random.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_random.py
Labels: TensorFlow Frontend

#14775 sign
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#12961 New update-nanmean implementation and test for jax frontend
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend

#14700 Added paddle_statistical_nanmedian
  ivy/functional/backends/paddle/experimental/statistical.py
Labels: Paddle Paddle Backend

#14990 Change real to torch Tensor property
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#14909 Added Jax_devicearray_all method
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
Labels: JAX Frontend

#15065 Added dilated padding superset behavior to pad
  .idea/ivy.iml
  ivy/data_classes/array/experimental/manipulation.py
  ivy/data_classes/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#15078 Fixed the decorator sequence for all functions in the main and experimental API
  ivy/functional/ivy/activations.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/experimental/activations.py
  ivy/functional/ivy/experimental/creation.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/losses.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/experimental/norms.py
  ivy/functional/ivy/experimental/random.py
  ivy/functional/ivy/experimental/searching.py
  ivy/functional/ivy/experimental/sorting.py
  ivy/functional/ivy/experimental/sparse_array.py
  ivy/functional/ivy/experimental/statistical.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/losses.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/norms.py
  ivy/functional/ivy/random.py
  ivy/functional/ivy/searching.py
  ivy/functional/ivy/set.py
  ivy/functional/ivy/sorting.py
  ivy/functional/ivy/statistical.py
  ivy/functional/ivy/utility.py
Labels: Ivy Functional API

#14825 Add Instance Methods ptp to NumPy Frontend #13696
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#15087 Added trunc and fix to torch tensor
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#15085 Added Conj instance method to NumPy frontnend
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#14678 Added 'scan' to tensorflow frontend
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#15069 Var() - issue number 14969 ( updating numpy frontend from To Do List for OpenSource Challenge)
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
Labels: NumPy Frontend

#14955 Added Cumprod Instance method to Jax NumPy Frontend
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
Labels: JAX Frontend

#15066 Add torch.tensor.fmod function
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#15057 Add torch.tesnor.__matmul__
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#14854 `tf.unique` frontend
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#14812 Adding nanmedain function and test in jax frontend
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend

#14893 Fixing numpy test mean
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
Labels: NumPy Frontend

#15263 added missing decorator to eigh in numpy frontend
  ivy/functional/frontends/numpy/linalg/matrix_eigenvalues.py
Labels: NumPy Frontend

#15114 Close #15111
  ivy/functional/frontends/tensorflow/keras/metrics.py
Labels: TensorFlow Frontend

#15280 Added lax.pad to jax frontend
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend, Ivy Functional API, Ivy API Experimental

#15283 Cummax
  ivy/data_classes/array/statistical.py
  ivy/data_classes/container/statistical.py
  ivy/functional/backends/jax/statistical.py
  ivy/functional/backends/numpy/statistical.py
  ivy/functional/backends/paddle/statistical.py
  ivy/functional/backends/tensorflow/statistical.py
  ivy/functional/backends/torch/statistical.py
  ivy/functional/ivy/statistical.py
  ivy_tests/test_ivy/test_functional/test_core/test_statistical.py
Labels: Array API, Ivy Functional API, Paddle Paddle Backend

#14999 Stft
  ivy/functional/frontends/tensorflow/signal.py
  ivy/functional/ivy/experimental/creation.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_signal.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
Labels: TensorFlow Frontend, Ivy Functional API, Ivy API Experimental

#15282 reformatted sum
  ivy/functional/backends/jax/statistical.py
  ivy/functional/backends/mxnet/statistical.py
  ivy/functional/backends/numpy/statistical.py
  ivy/functional/backends/paddle/statistical.py
  ivy/functional/backends/tensorflow/statistical.py
  ivy/functional/backends/torch/statistical.py
  ivy/functional/ivy/statistical.py
Labels: Ivy Functional API, Paddle Paddle Backend

#14859 bitwise_right_shift
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#15377 Adding map_tree test for jax.src_tree_util
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_src_tree_util.py
Labels: JAX Frontend

#14488 Add complex conjugate function to Jax frontend
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#14835 logdet tensor.py
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#14803 fftshift, tanh
  ivy/functional/frontends/numpy/fft/discrete_fourier_transform.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_fft/test_discrete_fourier_transform.py
Labels: PyTorch Frontend, NumPy Frontend

#14373 Torch take
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#14644 Added multiply to torch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#14947 Added exp_ to torch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#15123 Permutation method for jax frontend
  ivy/data_classes/array/random.py
  ivy/data_classes/container/random.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/mxnet/random.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/paddle/random.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/torch/random.py
  ivy/functional/frontends/jax/random.py
  ivy/functional/frontends/mxnet/numpy/random.py
  ivy/functional/frontends/numpy/random/functions.py
  ivy/functional/frontends/tensorflow/random.py
  ivy/functional/ivy/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
  ivy_tests/test_ivy/test_functional/test_core/test_random.py
Labels: JAX Frontend, TensorFlow Frontend, NumPy Frontend, Array API, Ivy Functional API, Paddle Paddle Backend

#15430 Jax frontend random.bernoulli , random.fold_in
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
Labels: JAX Frontend

#14979 Extract method in numpy frontend
  ivy/functional/frontends/numpy/sorting_searching_counting/searching.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_sorting_searching_counting/test_searching.py
Labels: NumPy Frontend

#15399 Add correlate to Jax frontend
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend

#15382 Updated "nanvar" Numpy Frontend Code
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
Labels: NumPy Frontend

#14988 Add addmm and addmm_ to torch tensor
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#14774 add lognormal to functions.py
  .idea/vcs.xml
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#15448 adding test function for jax.src_.api.vmap
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_src_api.py
Labels: JAX Frontend

#14665 Adding the where argument
  ivy/data_classes/array/elementwise.py
  ivy/data_classes/container/elementwise.py
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/paddle/elementwise.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/ivy/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: JAX Frontend, TensorFlow Frontend, Array API, Ivy Functional API

#14451 Add Discrete Fourier Transform functions to Numpy Frontend #1532
  ivy/functional/frontends/numpy/fft/discrete_fourier_transform.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_fft/test_discrete_fourier_transform.py
Labels: NumPy Frontend, Ivy Functional API, Ivy API Experimental

#14057 Added tf.diag frontend + test
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#15491 Adding test files for tf1
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/__init__.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_dtypes.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_image.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_initializers.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_layers.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_losses.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_manip.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_metrics.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_nest.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_quantization.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_random.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_sets.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_signal.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_sparse.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow_1/test_spectral.py
Labels: TensorFlow Frontend

#15541 Update test_jax_src_tree_util.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_src_tree_util.py
Labels: JAX Frontend

#15390 `jnp.compress` compositional func in the frontend
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#15483 Unsupported dtype decorator
  ivy/func_wrapper.py
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/mxnet/__init__.py
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/paddle/__init__.py
  ivy/functional/backends/tensorflow/__init__.py
  ivy/functional/backends/torch/__init__.py
Labels: Exhaustive CI, Paddle Paddle Backend

#15635 Add data_format parameter to batch_norm and instance_norm
  ivy/data_classes/array/experimental/norms.py
  ivy/data_classes/container/experimental/norms.py
  ivy/functional/backends/tensorflow/experimental/norms.py
  ivy/functional/backends/torch/experimental/norms.py
  ivy/functional/ivy/experimental/norms.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_norms.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#15379 Fixing ivy.matrix_norm
  ivy/functional/backends/paddle/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: PyTorch Frontend, Paddle Paddle Backend

#15388 Added Ravel instance method to Jax Frontend
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
Labels: JAX Frontend

#15077 make changes to range function to short frontend
  ivy/functional/frontends/torch/creation_ops.py
Labels: PyTorch Frontend

#15478 added jax.random.loggamma
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
Labels: JAX Frontend

#14187 Added pytorch frontend frexp
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#15003 added std instance method to pytorch frontend
  ivy/functional/frontends/torch/reduction_ops.py
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/ivy/experimental/creation.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, Array API, Ivy API Experimental, Paddle Paddle Backend

#15020 Added instance method tofile(), tested it
  ivy/data_classes/array/general.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend, Array API

#14987 Add addcmul and addcmul_ to torch tensor
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#15598 jax.random.shuffle, jax.random.exponential
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
Labels: JAX Frontend

#14240 Implemented cummax on backend
  ivy/data_classes/array/statistical.py
  ivy/data_classes/container/statistical.py
  ivy/functional/backends/jax/statistical.py
  ivy/functional/backends/numpy/statistical.py
  ivy/functional/backends/paddle/statistical.py
  ivy/functional/backends/tensorflow/statistical.py
  ivy/functional/backends/torch/statistical.py
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy/functional/ivy/statistical.py
  ivy_tests/test_ivy/test_functional/test_core/test_statistical.py
Labels: PyTorch Frontend, Ivy Functional API, Paddle Paddle Backend

#15744 adding the is_complex instance method
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#15711 Add lcm function and its tests to NumPy Frontend
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
Labels: NumPy Frontend

#15734 Fix torch.divide tests
  ivy/functional/frontends/torch/pointwise_ops.py
Labels: PyTorch Frontend

#15754 Add copysign instance method to PyTorch Frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#15476 Adding jax lax is_finite operator and tests
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#14892 Fixing out argument handling for mixed functions
  docs/overview/deep_dive/function_types.rst
  docs/overview/deep_dive/inplace_updates.rst
  docs/overview/deep_dive/superset_behaviour.rst
  ivy/func_wrapper.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/backends/torch/experimental/norms.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/experimental/creation.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/experimental/norms.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/norms.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: Ivy Functional API, Ivy API Experimental

#15701 not_equal #15699
  .idea/codeStyles/codeStyleConfig.xml
  .idea/ivy.iml
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#15496 Add max pool1d to torch frontend
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pooling_functions.py
Labels: PyTorch Frontend

#15803 Refactored jax's reduce_window to fix bugs and improve efficiency
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#15752 addr
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, TensorFlow Frontend

#15827 Refactoring ivy.as_strided for efficiency
  ivy/functional/ivy/experimental/manipulation.py
Labels: Ivy Functional API, Ivy API Experimental

#15867 Fixing arctan implementation as it aliases for atan function
  ivy/functional/frontends/torch/pointwise_ops.py
Labels: PyTorch Frontend

#15868 Add test_torch_clip for testing clip function
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#15682 Added while_loop tensorflow frontend function and test
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#15871 fix torch.conj_pyhsical function and tests
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#14717 L1 normalization added.
  ivy/data_classes/array/experimental/norms.py
  ivy/data_classes/container/experimental/norms.py
  ivy/functional/backends/jax/experimental/norms.py
  ivy/functional/backends/numpy/experimental/norms.py
  ivy/functional/backends/paddle/experimental/norms.py
  ivy/functional/backends/tensorflow/experimental/norms.py
  ivy/functional/backends/torch/experimental/norms.py
  ivy/functional/ivy/experimental/norms.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_norms.py
Labels: Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#15847 Add bool_ to jax.numpy creation functions
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#15717 Igamma
  ivy/data_classes/array/experimental/statistical.py
  ivy/data_classes/container/experimental/statistical.py
  ivy/functional/backends/jax/statistical.py
  ivy/functional/backends/numpy/statistical.py
  ivy/functional/backends/paddle/experimental/statistical.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/ivy/experimental/statistical.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_statistical.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#14873 Moving misplaced functions and tests to the correct files
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
  ivy/functional/frontends/numpy/statistics/order_statistics.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_order_statistics.py
Labels: NumPy Frontend

#15933 fix torch.div implementation
  ivy/functional/frontends/torch/pointwise_ops.py
Labels: PyTorch Frontend

#15852 equal frontend function
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#15924 acos tensorflow frontend refactoring
  ivy/functional/frontends/tensorflow/raw_ops.py
Labels: TensorFlow Frontend

#14884 shorter pad
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
Labels: PyTorch Frontend

#14773 numpy instance __array_wrap__
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#15861 Add fftfreq numpy frontend
  ivy/functional/frontends/numpy/fft/discrete_fourier_transform.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_fft/test_discrete_fourier_transform.py
Labels: NumPy Frontend

#15791 Torch narrow function
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#16045 fix sign function on complex dtypes
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/torch/elementwise.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
Labels: NumPy Frontend

#15998 Added 'add', 'subtract', 'multiply' to paddle frontend Math
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
  requirements/optional_m1_1.txt
  requirements/optional_m1_2.txt
Labels: PaddlePaddle Frontend

#16006 Update test_linalg.py( added matmul #15927)
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#16053 fixed disparity between native behaviour of `lcm` and ivy's frontend implementations for it
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/torch/elementwise.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
Labels: NumPy Frontend

#16037 Removed redundant code from Torch frontend module
  ivy/functional/frontends/torch/__init__.py
Labels: PyTorch Frontend

#16081 Update abs to generate float when input is complex
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/paddle/elementwise.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/ivy/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Ivy Functional API, Paddle Paddle Backend

#14306 adding more detailed exception classes
  ivy/functional/backends/jax/data_type.py
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/jax/searching.py
  ivy/functional/backends/jax/utility.py
  ivy/functional/backends/numpy/data_type.py
  ivy/functional/backends/numpy/searching.py
  ivy/functional/backends/tensorflow/data_type.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/backends/tensorflow/searching.py
  ivy/functional/backends/tensorflow/utility.py
  ivy/functional/backends/torch/data_type.py
  ivy/functional/backends/torch/searching.py
  ivy/functional/ivy/data_type.py
  ivy/utils/assertions.py
  ivy/utils/exceptions.py
Labels: Ivy Functional API
