Repository ivy-llc/ivy, pull requests merged in 2023-04, with the labels that each got.

#13460 Added Size function
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#13563 Added imag function and its unit tests to torch frontend
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#13593 Fix test_jax_expand_dims
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend

#13606 Add jax.numpy.tri jax frontend
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend

#13449 Crelu
  ivy/functional/frontends/tensorflow/nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
Labels: TensorFlow Frontend

#13578 added clip_by_global_norm tensorflow frontend and test"
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#13140 add __str__ numpy func
  ivy/functional/frontends/numpy/ndarray/ndarray.py
Labels: NumPy Frontend, Stale

#12830 Adding multi_dot to pytorch frontend
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#13315 Ivy all nested indices v2
  ivy/functional/ivy/nest.py
Labels: Function Reformatting, Ivy Functional API

#13035 Added numpy.math.floor function to NumPy frontend
  ivy/functional/frontends/numpy/mathematical_functions/rounding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_rounding.py
Labels: NumPy Frontend

#13160 exp implementation
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#13208 add logsumexp for pytorch frontend
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend, Stale

#13336 pytorch frontend randn implemented
  ivy/functional/frontends/torch/random_sampling.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_random_sampling.py
Labels: PyTorch Frontend

#13322 add jax numpy creation meshgrid
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#13368 Added ediff1d to numpy frontend
  ivy/functional/frontends/numpy/mathematical_functions/sums_products_differences.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_sums_products_differences.py
Labels: NumPy Frontend

#13655 added mul function to torch tensor
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#13686 added logical_or function to tf frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#13409 added zeta in paddle elementwise.py
  ivy/functional/backends/paddle/experimental/elementwise.py
Labels: Paddle Paddle Backend

#13364 added cumprod to paddle.statistical
  ivy/functional/backends/paddle/statistical.py
Labels: Paddle Paddle Backend

#13706 fix get_ret_and_flatten_np_array to detect np.ndarrays
  ivy_tests/test_ivy/helpers/function_testing.py
Labels: Exhaustive CI

#13634 add argmax instance method to jax frontend
  ivy/functional/frontends/jax/devicearray.py
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
Labels: JAX Frontend

#13545 Added Prod function
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#13457 multi_dot(Numpy Frontend subtask)
  ivy/functional/frontends/numpy/linalg/matrix_and_vector_products.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_matrix_and_vector_products.py
Labels: NumPy Frontend

#13623 torch instance ravel
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#13717 Added superset behavior of round function to support `decimals`
  ivy/data_classes/array/elementwise.py
  ivy/data_classes/container/elementwise.py
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/numpy/mathematical_functions/rounding.py
  ivy/functional/ivy/elementwise.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_rounding.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: JAX Frontend, NumPy Frontend, Ivy Functional API

#13660 Add torch.from_dlpack
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/frontends/torch/creation_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
Labels: PyTorch Frontend

#13693 Fix frontend imports
  ivy/functional/frontends/jax/numpy/__init__.py
  ivy/functional/frontends/mxnet/numpy/__init__.py
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/torch/__init__.py
  ivy/utils/backend/handler.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend

#13723 Add Cross function into tensorflow.raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#13712 lp pooling function torch frontend
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pooling_functions.py
Labels: PyTorch Frontend

#13420 standard_gamma in numpy frontend
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#13702 added diag to torch frontend
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#13590 Implementing logical_or to pytorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#13768 Added lax.slice_in_dim to jax frontend
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#13492 LeakyRelu #13488
  ivy/functional/frontends/tensorflow/nn.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#13757 Add TanhGrad function to tensorflow.raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#13736 Add jax.numpy.poly Jax Frontend
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#13622 uint8, int32 and int64 support for 'gather' in paddle backend
  ivy/functional/backends/paddle/general.py
Labels: Paddle Paddle Backend

#13637 add jax.random.beta frontend
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
Labels: JAX Frontend

#13621 [torch frontend] Add reduction op `median`
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#11788 median in torch
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#13728 Add torch.tensor.floor
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#13231 Adding fill diagonal function and test
  ivy/functional/frontends/numpy/indexing_routines/indexing_like_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_indexing_like_operations.py
Labels: NumPy Frontend

#13804 Fix frontend imports when a backend is set
  ivy/functional/frontends/jax/numpy/__init__.py
  ivy/functional/frontends/mxnet/numpy/__init__.py
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/torch/__init__.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend

#13815 triplet_margin_with_distance_loss
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: PyTorch Frontend

#13858 added cumsum_function_assert_error_fixing
  ivy/functional/backends/paddle/statistical.py
Labels: Paddle Paddle Backend

#13861 Add polyadd, polysub, polymul Jax Frontend
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#13423 #12442 Tensorflow math softmax implementation
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#11681 Added frexp function in numpy frontend - frexp #11626
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/mathematical_functions/exponents_and_logarithms.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_exponents_and_logarithms.py
Labels: NumPy Frontend

#13703 Add jax.numpy.ptp and its test
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend

#13855 Added sub function under torch tensor
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#13781 add: ivy experimental api frombuffer
  ivy/data_classes/container/experimental/creation.py
  ivy/functional/backends/jax/experimental/creation.py
  ivy/functional/backends/numpy/experimental/creation.py
  ivy/functional/backends/paddle/experimental/creation.py
  ivy/functional/backends/tensorflow/experimental/creation.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/ivy/experimental/creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
Labels: Ivy Functional API, Paddle Paddle Backend

#13896 logit
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#13328 add test for choose method
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend, Stale

#13783 Add frontend implementation and testing for norm
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#13880 added_cosh
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#13823 rand_like #13799
  ivy/functional/frontends/torch/random_sampling.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_random_sampling.py
Labels: PyTorch Frontend

#13842 tensor_xlogy_added
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#13432 stateless_uniform
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/torch/random.py
  ivy/functional/frontends/tensorflow/random.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_random.py
Labels: TensorFlow Frontend, Ivy Functional API

#13628 Degrees numpy
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/mathematical_functions/extrema_finding.py
  ivy/functional/frontends/numpy/mathematical_functions/trigonometric_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_extrema_finding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_trigonometric_functions.py
Labels: NumPy Frontend

#13559 index_add
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend, JAX Frontend, NumPy Frontend, Paddle Paddle Backend

#13034 geomspace #12444
  ivy/functional/frontends/numpy/creation_routines/numerical_ranges.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_numerical_ranges.py
Labels: NumPy Frontend

#13033 geomspace #12312
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend, Stale

#13884 add jax numpy math polyder
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#13775 extending ivy creation functions to allow shape passed as multiple positional arguments
  ivy/data_classes/container/creation.py
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/numpy/creation.py
  ivy/functional/backends/paddle/creation.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/frontends/torch/creation_ops.py
  ivy/functional/ivy/creation.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
Labels: PyTorch Frontend, Ivy Functional API, Paddle Paddle Backend

#13777 Fixes typing error.
  docs/overview/deep_dive/gradients.rst
Labels: Bug Report

#13704 Remove out parameter from all torch instance methods
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#12779 Refactoring `batch_norm`, `instance_norm` and `layer_norm`
  ivy/data_classes/array/experimental/activations.py
  ivy/data_classes/array/experimental/norms.py
  ivy/data_classes/array/norms.py
  ivy/data_classes/container/experimental/activations.py
  ivy/data_classes/container/experimental/norms.py
  ivy/data_classes/container/norms.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/jax/experimental/norms.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/numpy/experimental/norms.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/norms.py
  ivy/functional/backends/torch/__init__.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/backends/torch/experimental/norms.py
  ivy/functional/backends/torch/norms.py
  ivy/functional/frontends/tensorflow/nn.py
  ivy/functional/frontends/torch/nn/functional/__init__.py
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy/functional/frontends/torch/nn/functional/norms.py
  ivy/functional/ivy/experimental/activations.py
  ivy/functional/ivy/experimental/norms.py
  ivy/functional/ivy/norms.py
  ivy/stateful/norms.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_norms.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_norms.py
  ivy_tests/test_ivy/test_functional/test_nn/test_norms.py
  ivy_tests/test_ivy/test_stateful/test_norms.py
Labels: NumPy Frontend, Array API, Ivy Functional API, Ivy API Experimental

#13997 fixing locking issues
  ivy/utils/backend/handler.py
Labels: Array API

#13399 lerp #12985
  ivy/data_classes/array/experimental/elementwise.py
  ivy/data_classes/container/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Ivy Functional API

#12853 add median feature to frontend jax numpy statistical
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/numpy/experimental/statistical.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend, Stale

#14042 Updating the numpy testing helper to flatten frontend arrays
  ivy_tests/test_ivy/test_frontends/test_numpy/helpers.py
Labels: NumPy Frontend

#13941 Implemented `less_equal` Math functionality for TensorFlow frontend.
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#13924 Implemented `atan2` functionality for TensorFlow frontend.
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#13646 pull request for bincount frontend wrapper and testing
  ivy/functional/frontends/torch/utilities.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_utilities.py
Labels: PyTorch Frontend

#13994 Reformat numpy.random.standard_gamma function with the right augments
  ivy/functional/backends/jax/experimental/random.py
  ivy/functional/backends/torch/experimental/random.py
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#13938 Implemented `Less` Math functionality for TensorFlow frontend.
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#14021 Add bernoulli to Torch frontend
  ivy/functional/frontends/torch/random_sampling.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_random_sampling.py
Labels: PyTorch Frontend

#14061 adding subtract_ to torch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#14059 Added ensure_shape
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#14063 add size with testing and implimentation #14008
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#13100 Added real function and test to torch frontend
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#14025 Made the Requested Changes
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#13106 Added sin to tensorflow frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend, Stale

#13964 Updated inline comment for Mish
  ivy/functional/ivy/activations.py
Labels: Function Reformatting

#13425 Add normal to Torch frontend
  ivy/functional/frontends/torch/random_sampling.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_random_sampling.py
Labels: PyTorch Frontend

#14130 added softplus
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#13811 round
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#13814 lp_pool2d torch
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pooling_functions.py
Labels: PyTorch Frontend

#13248 #12400 Added conj to ivy frontend
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/mathematical_functions/handling_complex_numbers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_handling_complex_numbers.py
Labels: NumPy Frontend, Stale

#13798 added broadcast_arrays
  ivy/functional/frontends/numpy/manipulation_routines/changing_number_of_dimensions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_changing_number_of_dimensions.py
Labels: NumPy Frontend

#14097 Add torch frontend fix
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#14121 index_copy
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#13909 add jax.random.dirichlet frontend
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
Labels: JAX Frontend

#14028 jax frontend mask_indices, diag_indices_from
  ivy/functional/frontends/jax/numpy/indexing.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_indexing.py
Labels: JAX Frontend, Ivy API Experimental

#14060 is_inf
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#14043 Handle axis argument of ivy.unique_all and numpy_frontend.unique
  ivy/data_classes/array/set.py
  ivy/data_classes/container/set.py
  ivy/functional/backends/jax/set.py
  ivy/functional/backends/numpy/set.py
  ivy/functional/backends/paddle/set.py
  ivy/functional/backends/tensorflow/set.py
  ivy/functional/backends/torch/set.py
  ivy/functional/frontends/numpy/manipulation_routines/adding_and_removing_elements.py
  ivy/functional/ivy/set.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_adding_and_removing_elements.py
  ivy_tests/test_ivy/test_functional/test_core/test_set.py
Labels: NumPy Frontend, Ivy Functional API, Paddle Paddle Backend

#13076 nextafter
  ivy/functional/frontends/numpy/mathematical_functions/floating_point_routines.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_floating_point_routines.py
Labels: NumPy Frontend, Stale

#14153 Add torch randn_like function to Pytorch frontend
  ivy/functional/frontends/torch/random_sampling.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_random_sampling.py
Labels: PyTorch Frontend

#14183 added type-hints to function _get_devices
  ivy/functional/ivy/device.py
Labels: Ivy Functional API

#14223 Use ivy_array for torch Tensor `__setitem__` instead of a list
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#14157 Added Reverse to Tensorflow RawOps
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#14237 Fixes grammer error
  docs/overview/deep_dive/ivy_frontends_tests.rst
Labels: Bug Report

#13954 sgn
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#14185 Implement `reciprocal` math functionality for TensorFlow frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#13652 Torch instance clip
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#14137 Adding arccosh to torch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#13576 data mode casting
  ivy/__init__.py
  ivy/func_wrapper.py
Labels: Stale

#14206 Adding arcsinh to torch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#14204 concat_from_sequence
  ivy/data_classes/array/experimental/manipulation.py
  ivy/data_classes/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Ivy Functional API, Paddle Paddle Backend

#14231 Fixes grammtical error
  docs/overview/deep_dive/function_types.rst
Labels: Bug Report

#14236 Fixes grammer error
  docs/overview/related_work/wrapper_frameworks.rst
Labels: Bug Report

#14209 Add random permutation to Torch frontend
  ivy/functional/frontends/torch/random_sampling.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_random_sampling.py
Labels: PyTorch Frontend

#14125 Added tensorflow.math.zeta to Tensorflow Ivy Frontends
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#14285 implemented poisson function and tests in random tensorflow frontend
  ivy/functional/frontends/tensorflow/random.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_random.py
Labels: TensorFlow Frontend

#14293 Fixed the bug in Experimental section
  docs/_templates/top_functional_module.rst
Labels: Bug Report

#13695 Add jax.random.poisson frontend
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
Labels: JAX Frontend

#14141 Added torch randint function
  ivy/functional/frontends/torch/random_sampling.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_random_sampling.py
Labels: PyTorch Frontend

#14307 Fix some numpy and jax.numpy frontend functions
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/numpy/manipulation_routines/changing_number_of_dimensions.py
Labels: JAX Frontend, NumPy Frontend

#14135 identity_n
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#14126 added log1p
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#14364 Add double to jax.numpy creation functions
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#14066 Add the FFT function in tensorflow.raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#14084 Adding support_native_out and handle_out_decorator to mixed_functions
  docs/overview/deep_dive/inplace_updates.rst
  ivy/func_wrapper.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/layers.py
Labels: Ivy Functional API

#14088 imag
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#14108 Add torch frontend float_power
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#13863 added jax.numpy.pad function
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend

#13124 add: support for jax.numpy.where
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_searching_sorting.py
Labels: JAX Frontend

#14109 Add frombuffer to Torch frontend
  ivy/functional/frontends/torch/creation_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
Labels: PyTorch Frontend

#13694 histogram
  ivy/data_classes/array/experimental/statistical.py
  ivy/data_classes/container/experimental/statistical.py
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/numpy/experimental/statistical.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/ivy/experimental/statistical.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_statistical.py
Labels: Ivy Functional API

#14439 replaced *size with size in the function call for ones, zeros, empty
  ivy/data_classes/container/creation.py
  ivy/functional/ivy/creation.py
Labels: Ivy Functional API

#14404 Rename wrappers new_fn to reflect the decorators applied
  ivy/func_wrapper.py
  ivy/functional/frontends/jax/func_wrapper.py
  ivy/functional/frontends/mxnet/func_wrapper.py
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/frontends/tensorflow/func_wrapper.py
  ivy/functional/frontends/torch/func_wrapper.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/data_type.py
  ivy/stateful/module.py
  ivy/utils/backend/handler.py
  ivy/utils/exceptions.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Ivy Functional API, Exhaustive CI

#14415 Add searchsorted to jax frontend
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_jax/.ivy/key.pem
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_searching_sorting.py
Labels: JAX Frontend

#14450 add unique to jax.numpy frontend
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_searching_sorting.py
Labels: JAX Frontend

#14308 signbit implementation for paddle
  ivy/functional/backends/paddle/experimental/elementwise.py
Labels: JAX Frontend, Paddle Paddle Backend

#14507 implements torch.tensor.remainder
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#14230 Fixes typo error
  docs/overview/deep_dive/ivy_frontends.rst
Labels: Bug Report

#14510 remove the Gradient tracking context manager
  ivy/functional/ivy/gradients.py
Labels: Ivy Functional API

#14512 fix Acosh tensorflow tests
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#14202 Numpy Frontend: fft.ifftshift() function
  ivy/functional/frontends/numpy/fft/discrete_fourier_transform.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_fft/test_discrete_fourier_transform.py
Labels: NumPy Frontend

#11680 #10861 : Added modf in numpy frontend
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/mathematical_functions/arithmetic_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_arithmetic_operations.py
Labels: NumPy Frontend, Stale

#14026 greater_equal
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend, Stale

#14484 add jax.random.gumbel frontend
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
Labels: JAX Frontend

#14095 logical_not
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#14502 add jax.random.generalized_normal frontend
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
Labels: JAX Frontend

#14503 add jax.random.rademacher frontend
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
Labels: JAX Frontend

#14524 Using paddle.assign for inplace_decrement paddle backend function
  ivy/functional/backends/paddle/general.py
Labels: Paddle Paddle Backend

#12986 Frontend numpy cross function
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/linalg/matrix_and_vector_products.py
  ivy_tests/test_ivy/test_frontends/test_numpy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_matrix_and_vector_products.py
Labels: NumPy Frontend

#14414 Added jax.numpy.csingle
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#14552 add jax.random.randint frontend
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
Labels: JAX Frontend

#14191 Added __complex__ instance method and fixed other instance methods and tests
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend
