Repository ivy-llc/ivy, pull requests merged in 2023-07, with the labels that each got.

#17732 added sufficient_statistics and its test
  ivy/functional/frontends/tensorflow/nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
Labels: TensorFlow Frontend

#15973 Add 'native_sparse_array' and 'native_sparse_array_to_indices_values_…
  ivy/functional/backends/paddle/experimental/sparse_array.py
Labels: Stale, PaddlePaddle Backend, Paddle Paddle Backend

#18108 Reformat default_dtype function
  ivy/functional/ivy/data_type.py
Labels: Ivy Functional API

#14005 tostring
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend, Stale

#17685 Floor divide #17658
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17909 diagflat
  ivy/functional/frontends/paddle/tensor/creation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_creation.py
Labels: Paddle Frontend

#17996 add paddle.transpose
  ivy/functional/frontends/paddle/tensor/linalg.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_linalg.py
Labels: Paddle Frontend

#18132 paddle frontend Tensor isclose instance method
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17859 Update for NN tensorflow method ctc_unique_labels #17626
  ivy/functional/frontends/tensorflow/nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
Labels: TensorFlow Frontend

#17935 Add cholesky instance method to tensor
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#17570 Add random.multinomial to Paddle Backend
  ivy/functional/backends/paddle/random.py
  ivy_tests/test_ivy/test_functional/test_core/test_random.py
Labels: PaddlePaddle Backend

#17878 Paddle tensor 'divide' frontend function
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17834 #16753 added bitwise_or method to paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#18145 migrate `ivy.deserialize` and `ivy.get` to tensorflow frontend
  ivy/functional/backends/tensorflow/activations.py
  ivy/functional/frontends/tensorflow/keras/activations.py
  ivy/functional/ivy/activations.py
Labels: TensorFlow Frontend, Ivy Functional API

#17833 added `unsorted_segment_min` to ivy functional API
  ivy/data_classes/array/experimental/creation.py
  ivy/data_classes/container/experimental/creation.py
  ivy/functional/backends/jax/experimental/creation.py
  ivy/functional/backends/numpy/experimental/creation.py
  ivy/functional/backends/paddle/experimental/creation.py
  ivy/functional/backends/tensorflow/experimental/creation.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/ivy/experimental/creation.py
  ivy/utils/assertions.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, PaddlePaddle Backend

#17875 Logical and
  ivy/functional/frontends/paddle/tensor/logic.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_logic.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#18037 added expm1 to Paddle frontend
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
Labels: Paddle Frontend

#17953 ENH: equal_all is added in paddle tesnor.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#18140 Implemented conjugate method and related tests in jax frontend api.
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
Labels: JAX Frontend

#18217 EHN: adding conj in paddle tesnor.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17421 Update the pdist() function for PyTorch frontend pdist #17097
  ivy/functional/frontends/torch/nn/functional/distance_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_distance_functions.py
Labels: PyTorch Frontend

#14975 refactor multi_head_attention
  ivy/data_classes/array/layers.py
  ivy/data_classes/container/layers.py
  ivy/functional/ivy/layers.py
  ivy/stateful/layers.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: Ivy Functional API, Stale

#18206 Implemented cast frontend in paddle.tensor.manipulation
  ivy/functional/frontends/paddle/tensor/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_manipulation.py
Labels: Paddle Frontend

#18190 add floor_ function and its test paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#18208 Implemented expand paddle frontend at paddle.tensor.manipulation
  ivy/functional/frontends/paddle/tensor/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_manipulation.py
Labels: Paddle Frontend

#18204 Implemented meshgrid in paddle.tensor.creation
  ivy/functional/frontends/paddle/tensor/creation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_creation.py
Labels: Paddle Frontend

#18198 Added zeropad2d function and its test paddle frontend
  ivy/functional/frontends/paddle/nn/functional/common.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_paddle_common.py
Labels: Paddle Frontend

#18252 Implemented paddle.tensor.manipulation.broadcast_to
  ivy/functional/frontends/paddle/tensor/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_manipulation.py
Labels: Paddle Frontend

#18128 added jax.numpy.round function
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#18000 Make `Numpy` args compitable with `torch` function.
  ivy/functional/frontends/torch/func_wrapper.py
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy/functional/frontends/torch/reduction_ops.py
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_func_wrapper.py
Labels: PyTorch Frontend, Ivy Functional API

#18273 add torch.masked_fill frontend
  ivy/functional/backends/torch/searching.py
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#17927 equal
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17708 Implemented and tested Rot90 for Paddle frontends
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17565 added trunc function to frontend.paddle.tensor.math
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
Labels: Paddle Frontend

#17890 Added dropout1d to Paddle Backend Experimental Layers
  ivy/functional/backends/paddle/experimental/layers.py
Labels: PaddlePaddle Backend, Paddle Paddle Backend

#17127 EHN: adding isnan method in paddle.tensor.tensor
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17879 Reciprocal
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#18297 Paddle frontend tensor math issue 18240
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
Labels: Paddle Frontend

#17458 EHN: adding logical_not funct in paddle tensor.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#18034 Update ivy.Array__deepcopy__ to avoid non-leaf tensor errors
  ivy/data_classes/array/array.py
Labels: Array API

#18311 Adding dot to Tensor instance methods
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#18192 Add Gumbel distribution sampling to NumPy frontend
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#17523 Added neg method to tensor class of frontend.paddle.tensor.tensor
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17986 Added dot to paddle frontend API
  ivy/functional/frontends/paddle/tensor/linalg.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_linalg.py
Labels: Paddle Frontend

#17597 Imag for tf.raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#18323 added missing mixed_backend_wrappers attribute to some mixed functions
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/experimental/creation.py
  ivy/functional/ivy/experimental/general.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/norms.py
Labels: Ivy Functional API, Ivy API Experimental

#18178 added dropout3d and test_torch_dropout3d for pytorch frontend
  ivy/functional/frontends/torch/nn/functional/dropout_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_dropout_functions.py
Labels: PyTorch Frontend

#17722 implementing Bitwise_not at paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#18321 Added group norm to functional API
  ivy/data_classes/array/experimental/norms.py
  ivy/data_classes/container/experimental/norms.py
  ivy/functional/backends/torch/experimental/norms.py
  ivy/functional/frontends/torch/nn/functional/norms.py
  ivy/functional/ivy/experimental/norms.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_norms.py
Labels: PyTorch Frontend, Array API, Ivy Functional API, Ivy API Experimental

#18287 Add fftshift to Paddle Frontend
  ivy/functional/frontends/paddle/fft.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_paddle_fft.py
Labels: Paddle Frontend

#16040 EHN: ACOSH added in paddle.tensor.tensor.Tensor class from acosh #16007form list of function #15115
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17675 added paddle.median frontend function with its test
  ivy/functional/frontends/paddle/tensor/stat.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_stat.py
Labels: Paddle Frontend

#17417 Implement set_item to avoid scatter_nd errors + Refactor get_item to support all cases
  ivy/data_classes/array/array.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/paddle/general.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/torch/general.py
  ivy/functional/ivy/general.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
  ivy_tests/test_ivy/test_misc/test_array.py
Labels: Array API, Ivy Functional API, PaddlePaddle Backend

#15772 Refactor ivy.asarray in all backends
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/numpy/creation.py
  ivy/functional/backends/paddle/creation.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/data_type.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
Labels: Ivy Functional API

#18181 EHN: adding cond in paddle tensor.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#18103 updating docs
  docs/overview/deep_dive/function_wrapping.rst
Labels: Paddle Frontend

#18929 bincount
  ivy/functional/frontends/paddle/tensor/linalg.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_linalg.py
Labels: Paddle Frontend

#18276 Added log2 instance method to Paddle Tensor #16419
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#18936 Fix torch.mean signature and improve test_torch_mean
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#18532 Add log_loss for Paddle frontend and test
  ivy/functional/frontends/paddle/nn/functional/loss.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_paddle_loss.py
Labels: Paddle Frontend

#18935 will close issue 18239
  ivy/functional/frontends/paddle/tensor/math.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#18963 Implemented is_empty() in paddle.tensor.logic
  .idea/runConfigurations/_template__of_Python.xml
  ivy/functional/frontends/paddle/tensor/logic.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_logic.py
Labels: Paddle Frontend

#18341 ENH: Add Leaky ReLU in paddle frontend
  ivy/functional/frontends/paddle/nn/functional/activation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_paddle_activation.py
Labels: Paddle Frontend

#15643 Implemented torch.nn.functional.dropout2d
  ivy/functional/frontends/torch/nn/functional/dropout_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_dropout_functions.py
Labels: PyTorch Frontend

#18990 Fix torch.reduction_ops.unique which was calling ivy.unique_all with wrong arguments order
  ivy/functional/frontends/torch/reduction_ops.py
Labels: PyTorch Frontend

#18987 Added paddle.tensor.random.rand function
  ivy/functional/frontends/paddle/tensor/random.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_random.py
Labels: Paddle Frontend

#18982 Added mathematical function jax.numpy.imag
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy/test_math.py
Labels: JAX Frontend

#17847 Add maximum to paddle frontend
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
Labels: Paddle Frontend

#17858 EHN: adding function ifft in paddle fft.py file
  ivy/functional/frontends/paddle/fft.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_paddle_fft.py
Labels: Paddle Frontend

#17629 Implemented Extended Ivy Function API - Modf
  ivy/data_classes/array/experimental/elementwise.py
  ivy/data_classes/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/mxnet/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy API Experimental

#17512 Sign_ for torch frontend instance method
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#18961 refactor `inv` adjoint=True to work for `N-D` input.
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#19030 atanh #18992
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#17973 Add tolist to Paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#18022 Paddle frontend clip
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#18286 ENH: Add softplus to paddle frontend
  ivy/functional/frontends/paddle/nn/functional/activation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_paddle_activation.py
Labels: Paddle Frontend

#19072 ivy.fill_diagonal
  ivy/data_classes/array/experimental/manipulation.py
  ivy/data_classes/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Next Release, Suggestion, Ivy API Experimental

#18974 __Invert__ instance method - Numpy's ndarray class
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#16136 adding fft in paddle layers
  ivy/functional/backends/paddle/experimental/layers.py
Labels: Stale, PaddlePaddle Backend, Paddle Paddle Backend

#18334 adding compress to numpy frontend
  ivy/functional/frontends/numpy/indexing_routines/indexing_like_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_indexing_like_operations.py
Labels: NumPy Frontend

#19184 Updated the `execute_with_gradients` function and `README` examples for better usability
  README.rst
  ivy/functional/backends/jax/gradients.py
  ivy/functional/backends/mxnet/gradients.py
  ivy/functional/backends/numpy/gradients.py
  ivy/functional/backends/paddle/gradients.py
  ivy/functional/backends/tensorflow/experimental/gradients.py
  ivy/functional/backends/tensorflow/gradients.py
  ivy/functional/backends/torch/gradients.py
  ivy/functional/ivy/gradients.py
  ivy_tests/test_ivy/test_functional/test_core/test_gradients.py
Labels: Ivy Functional API, Paddle Paddle Backend

#19262 Updated decorator links and added missing sections for view handling, shape conversion and handle_array_function in the Function Wrappers page of the deep dive
  docs/overview/deep_dive/function_wrapping.rst
Labels: Documentation, IN-Documentation

#18268 added searchsorted function to paddlepaddle frontend
  ivy/functional/frontends/paddle/tensor/search.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_search.py
Labels: Paddle Frontend

#17623 Add automatic device shifting decorator and soft device handling functions
  ivy/__init__.py
  ivy/func_wrapper.py
  ivy/functional/backends/numpy/device.py
  ivy/functional/backends/tensorflow/device.py
  ivy/functional/ivy/activations.py
  ivy/functional/ivy/control_flow_ops.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/experimental/activations.py
  ivy/functional/ivy/experimental/creation.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy/functional/ivy/experimental/general.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/experimental/norms.py
  ivy/functional/ivy/experimental/random.py
  ivy/functional/ivy/experimental/searching.py
  ivy/functional/ivy/experimental/sorting.py
  ivy/functional/ivy/experimental/statistical.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/norms.py
  ivy/functional/ivy/random.py
  ivy/functional/ivy/searching.py
  ivy/functional/ivy/set.py
  ivy/functional/ivy/sorting.py
  ivy/functional/ivy/statistical.py
  ivy_tests/test_ivy/test_functional/test_core/test_device.py
Labels: Ivy Functional API, Ivy API Experimental, PaddlePaddle Backend

#17680 Implemented min in paddle.tensor
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#18133 docstring_example_added_ivy_functional_ivy_activations_sigmoid
  ivy/functional/ivy/activations.py
Labels: Ivy Functional API

#19023 add paddle bitwise_not
  ivy/functional/frontends/paddle/tensor/logic.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_logic.py
Labels: Paddle Frontend

#18259 numpy frontend ptp implementation
  ivy/functional/frontends/numpy/statistics/order_statistics.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_order_statistics.py
Labels: NumPy Frontend

#14777 added ndarray as alias
  ivy/functional/frontends/jax/numpy/creation.py
Labels: JAX Frontend

#19217 Added LogSoftmax to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#18223 Atan2
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#19303 updated compress function of jax
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_creation.py
Labels: JAX Frontend

#14082 Handling <unsupported/supported> <dypes/devices> for mixed functions
  docs/overview/deep_dive/ivy_tests.rst
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/layers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/dtype_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/general_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/number_helpers.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_dropout_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_linear_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_norms.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_norms.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: PyTorch Frontend, Ivy Functional API

#19314 Fix torch.as_strided for non-contiguous tensors
  ivy/functional/frontends/torch/creation_ops.py
Labels: PyTorch Frontend, Array API

#19275 Torch Frontend linalg refactor
  ivy/functional/backends/jax/experimental/linear_algebra.py
  ivy/functional/backends/numpy/experimental/linear_algebra.py
  ivy/functional/backends/paddle/experimental/linear_algebra.py
  ivy/functional/backends/paddle/linear_algebra.py
  ivy/functional/backends/tensorflow/experimental/linear_algebra.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, Paddle Paddle Backend

#18339 Max math
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Array API, Paddle Frontend

#19363 Jax devicearray T
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_devicearray.py
Labels: JAX Frontend

#19373 Jax devicearray copy
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_devicearray.py
Labels: JAX Frontend

#19378 Jax devicearray flatten
  ivy/functional/frontends/jax/devicearray.py
Labels: JAX Frontend

#19370 Jax devicearray argsort
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_devicearray.py
Labels: JAX Frontend

#19326 Fixed jax.numpy.convolve test
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
Labels: JAX Frontend

#18051 added rfftn function at backend
  ivy/data_classes/array/experimental/layers.py
  ivy/data_classes/container/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/paddle/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#18925 Add Paddle smooth l1 loss implementation to frontend and test
  ivy/functional/frontends/paddle/nn/functional/loss.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_loss.py
Labels: Paddle Frontend

#19315 Frombufferlatest
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_creation.py
Labels: JAX Frontend

#19226 Add asinh paddle math frontend
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#19120 double_sided_maxwell #18931
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_random.py
Labels: JAX Frontend

#19361 avg_pool1d #18973
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/frontends/paddle/nn/functional/pooling.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_pooling.py
Labels: Paddle Frontend

#19413 adding the l1 loss in paddle.nn.functional.loss
  ivy/functional/frontends/paddle/nn/functional/loss.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_loss.py
Labels: Paddle Frontend

#18290 Added paddle linear function + test
  ivy/functional/frontends/paddle/nn/functional/common.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_common.py
Labels: Paddle Frontend

#19098 implementing numpy.round frontend function and tests.
  ivy/functional/frontends/numpy/mathematical_functions/rounding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_rounding.py
Labels: NumPy Frontend

#18031 STD
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#19515 add __floordiv__ to torch.Tensor
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#19532 Embedding
  ivy/stateful/layers.py
  ivy_tests/test_ivy/test_stateful/test_layers.py
Labels: Ivy Stateful API

#19374 Jax devicearray diagonal
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_devicearray.py
Labels: JAX Frontend

#19366 Jax devicearray any
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_devicearray.py
Labels: JAX Frontend

#15727 Added Torch select
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#16699 Add ball random function in Jax frontend
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_random.py
Labels: JAX Frontend, Stale

#19446 EHN: Added lerp in twnsoe math.py
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#19537 Fix paddle_stat.test_paddle_median #19257
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_stat.py
Labels: Paddle Frontend

#19372 Jax devicearray astype
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_devicearray.py
Labels: JAX Frontend

#18560 EHN: function outer is added in math.py
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#19013 implemented tensorflow frontend linalg qr
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#19445 bernoulli_instance
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#19328 added log_sigmoid to paddle frontend
  ivy/functional/frontends/paddle/nn/functional/activation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_activation.py
Labels: Paddle Frontend

#18186 Implement torch.Tensor.apply_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#16536 Add erf to torch tensor
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#19504 Implementation of tril_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#18288 Implement torch.Tensor.backward
  ivy/functional/frontends/torch/func_wrapper.py
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#19561 max_unpool1d #19547
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Ivy Functional API, Ivy API Experimental

#19588 update creation functions to align to array API
  ivy/functional/ivy/creation.py
Labels: Ivy Functional API

#19177 ivy.lgamma
  ivy/data_classes/array/experimental/elementwise.py
  ivy/data_classes/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/mxnet/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Next Release, Suggestion, Ivy API Experimental

#19477 EHN: adding heaviside in padde math.py
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#18337 avg_pool2d function + test to paddlepaddle
  ivy/functional/frontends/paddle/nn/functional/pooling.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_pooling.py
Labels: Paddle Frontend

#19606 updated rest submodules to align array API
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/searching.py
  ivy/functional/ivy/statistical.py
Labels: Ivy Functional API

#19427 added numpy broadcast class and its tests
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/broadcast/__init__.py
  ivy/functional/frontends/numpy/broadcast/methods.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_broadcast/__init__.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_broadcast/test_methods.py
Labels: NumPy Frontend

#18101 passing postitional args as kw for `paddle.Tensor.astype` at paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
Labels: Paddle Frontend

#19282 add torch frontend erfc
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#19615 Fixes for `paddle.tensor.math` frontends functions
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#19648 ivy-core -> ivy update in READM.md
  .gitignore
  README.rst
Labels: Documentation

#19649 ivy-core -> ivy update in Repo Files
  README.rst
  docs/overview/contributing/open_tasks.rst
  docs/overview/contributing/setting_up.rst
Labels: Documentation

#19635 Fixing failing tests
  ivy_tests/test_ivy/test_frontends/test_torch/test_comparison_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_distance_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_dropout_functions.py
Labels: PyTorch Frontend

#19658 adaptive_avg_pool2d
  ivy/functional/frontends/paddle/nn/functional/pooling.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_pooling.py
Labels: Paddle Frontend

#19660 max_unpool1d
  ivy/functional/frontends/paddle/nn/functional/pooling.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_pooling.py
Labels: Paddle Frontend

#19430 Adds ifftshift to Paddle Frontend
  ivy/functional/frontends/paddle/fft.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_fft.py
Labels: Paddle Frontend

#19428 add gamma and test_gamma to numpy frontend
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#19349 Added eigvals fct to Tensorflow frontend tf.linalg.eigvals
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#18357 adding size attribute to ndarray
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#19687 Add Ivy containers type hints to instance and static methods
  ivy/data_classes/container/activations.py
  ivy/data_classes/container/conversions.py
  ivy/data_classes/container/creation.py
  ivy/data_classes/container/data_type.py
  ivy/data_classes/container/device.py
  ivy/data_classes/container/elementwise.py
  ivy/data_classes/container/experimental/activations.py
  ivy/data_classes/container/experimental/creation.py
  ivy/data_classes/container/experimental/elementwise.py
  ivy/data_classes/container/experimental/general.py
  ivy/data_classes/container/experimental/layers.py
  ivy/data_classes/container/experimental/linear_algebra.py
  ivy/data_classes/container/experimental/manipulation.py
  ivy/data_classes/container/experimental/norms.py
  ivy/data_classes/container/experimental/random.py
  ivy/data_classes/container/experimental/searching.py
  ivy/data_classes/container/experimental/sorting.py
  ivy/data_classes/container/experimental/statistical.py
  ivy/data_classes/container/general.py
  ivy/data_classes/container/gradients.py
  ivy/data_classes/container/layers.py
  ivy/data_classes/container/linear_algebra.py
  ivy/data_classes/container/losses.py
  ivy/data_classes/container/manipulation.py
  ivy/data_classes/container/norms.py
  ivy/data_classes/container/random.py
  ivy/data_classes/container/searching.py
  ivy/data_classes/container/set.py
  ivy/data_classes/container/sorting.py
  ivy/data_classes/container/statistical.py
  ivy/data_classes/container/utility.py
  ivy/data_classes/container/wrapping.py
Labels: Ivy API Experimental

#18093 Initial attempt at NumPy trapz() function - Issue #17939
  ivy/functional/frontends/numpy/mathematical_functions/sums_products_differences.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_sums_products_differences.py
Labels: NumPy Frontend, Stale

#16438 added atanh tensor instance method and test to PaddlePaddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend
