Repository ivy-llc/ivy, pull requests merged in 2023-11, with the labels that each got.

#27090 refactor: Refactoring for efficiency and better readability
  ivy/data_classes/array/array.py
  ivy/data_classes/container/base.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/paddle/data_type.py
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/paddle/layers.py
  ivy/functional/backends/tensorflow/control_flow_ops.py
  ivy/functional/backends/tensorflow/data_type.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/data_type.py
  ivy/functional/backends/torch/experimental/gradients.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/sparse_array.py
  ivy/functional/backends/torch/gradients.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/backends/torch/statistical.py
  ivy/functional/frontends/jax/numpy/dtype.py
  ivy/functional/frontends/mindspore/ops/function/nn_func.py
  ivy/functional/frontends/numpy/data_type_routines/general.py
  ivy/functional/frontends/numpy/matrix/methods.py
  ivy/functional/frontends/paddle/fft.py
  ivy/functional/frontends/paddle/linalg.py
  ivy/functional/frontends/paddle/manipulation.py
  ivy/functional/frontends/paddle/nn/functional/pooling.py
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/torch/func_wrapper.py
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/layers.py
  ivy_tests/array_api_testing/write_array_api_tests_k_flag.py
  ivy_tests/test_ivy/conftest.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/dtype_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/general_helpers.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_mindspore/test_ops/test_function/test_mindspore_nn_func.py
  ivy_tests/test_ivy/test_frontends/test_numpy/helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_func_wrapper.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_inserting_data_into_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_padding_arrays.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_func_wrapper.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_pooling_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
  ivy_tests/test_ivy/test_functional/test_core/test_device.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
  ivy_tests/test_ivy/test_functional/test_core/test_gradients.py
  ivy_tests/test_ivy/test_functional/test_core/test_meta.py
  ivy_tests/test_ivy/test_misc/test_exceptions.py
  ivy_tests/test_ivy/test_misc/test_factorized_tensor/test_cp_tensor.py
  ivy_tests/test_ivy/test_misc/test_factorized_tensor/test_tucker_tensor.py
  scripts/run_tests/run_tests.py
  scripts/setup_tests/synchronize_db.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Array API, Ivy Functional API, Ivy API Experimental, Paddle Frontend, Paddle Paddle Backend

#27191 refactor dynamic backend to make use of DLPack
  docs/overview/deep_dive/backend_setting.rst
  ivy/__init__.py
  ivy/data_classes/array/array.py
  ivy/functional/backends/paddle/gradients.py
  ivy/functional/ivy/device.py
  ivy/utils/backend/handler.py
  ivy_tests/test_ivy/test_misc/test_backend_utils/test_backend_handler.py
Labels: Array API, Ivy Functional API, Paddle Paddle Backend

#23493 feat: Paddle Frontend: max_pool2d
  ivy/functional/frontends/paddle/nn/functional/pooling.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_pooling.py
Labels: Paddle Frontend

#27160 refactor: Reformatted and Refactored some files.
  ivy/data_classes/container/base.py
  ivy/data_classes/container/elementwise.py
  ivy/data_classes/container/experimental/elementwise.py
  ivy/data_classes/container/general.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/jax/layers.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/mxnet/general.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/numpy/experimental/statistical.py
  ivy/functional/backends/numpy/sorting.py
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/paddle/experimental/layers.py
  ivy/functional/backends/paddle/experimental/statistical.py
  ivy/functional/backends/paddle/general.py
  ivy/functional/backends/paddle/manipulation.py
  ivy/functional/backends/tensorflow/device.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/frontends/__init__.py
  ivy/functional/frontends/jax/numpy/__init__.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/broadcast/methods.py
  ivy/functional/frontends/numpy/random/functions.py
  ivy/functional/frontends/numpy/statistics/order_statistics.py
  ivy/functional/frontends/pandas/index.py
  ivy/functional/frontends/tensorflow/linalg.py
  ivy/functional/frontends/torch/__init__.py
  ivy/functional/frontends/torch/func_wrapper.py
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy/functional/frontends/torch/random_sampling.py
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/experimental/creation.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/nest.py
  ivy/stateful/activations.py
  ivy/utils/backend/sub_backend_handler.py
  ivy/utils/binaries.py
  ivy/utils/einsum_parser.py
  ivy_tests/test_ivy/helpers/multiprocessing.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_lax/test_operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/helpers.py
  ivy_tests/test_ivy/test_functional/test_core/test_device.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
  ivy_tests/test_ivy/test_misc/test_factorized_tensor/test_tt_tensor.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#22700 feat: manual dtype casting removal
  ivy/functional/backends/paddle/activations.py
  ivy/functional/backends/paddle/data_type.py
  ivy/functional/backends/paddle/elementwise.py
Labels: PyTorch Frontend, Ivy Functional API, Paddle Paddle Backend

#27087 fix(jax-backend): fix failing test for sum
  ivy/functional/backends/paddle/statistical.py
  ivy_tests/test_ivy/test_functional/test_core/test_statistical.py
Labels: Paddle Paddle Backend

#26321 feat(paddle frontend): added paddle.mod to ivy paddle frontend
  ivy/functional/frontends/paddle/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: Paddle Frontend

#27216 fix: some fixes to torch.autograd.backward
  ivy/functional/frontends/torch/func_wrapper.py
Labels: PyTorch Frontend

#27222 feat: Add checks to handle `tf.TensorArrays` used extensively by `tf.keras.LSTM`
  ivy/data_classes/array/array.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/tensorflow/device.py
  ivy/functional/backends/tensorflow/general.py
Labels: Array API

#21059 Hamming window
  ivy/functional/frontends/torch/spectral_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_spectral_ops.py
Labels: PyTorch Frontend

#26762 feat: Implement is_complex tensor Instance Methods to paddle Frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27218 refactor: Refactored few files to make the code better.
  ivy/func_wrapper.py
  ivy/functional/backends/jax/experimental/creation.py
  ivy/functional/backends/numpy/experimental/creation.py
  ivy/functional/backends/paddle/experimental/norms.py
  ivy/functional/backends/paddle/set.py
  ivy/functional/backends/tensorflow/set.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/backends/torch/set.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/numpy/indexing_routines/inserting_data_into_arrays.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/ivy/layers.py
  ivy/stateful/converters.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_layer_functions.py
  ivy_tests/test_ivy/test_functional/test_core/test_device.py
  ivy_tests/test_ivy/test_functional/test_core/test_dtype.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
  ivy_tests/test_ivy/test_misc/test_backend_utils/test_backend_handler.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Ivy Functional API, Paddle Paddle Backend

#27232 fix: Removed un-necessary trailing comma on bare `tuple`.
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy_tests/test_ivy/test_misc/test_assertions.py
Labels: PyTorch Frontend

#27238 fix: Fixed wrong key-word arguments when calling the function `helpers.dtype_and_values()`
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_sums_products_differences.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: NumPy Frontend

#27156 fix: failing test for sin
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Paddle Paddle Backend

#21087 sequence_mask
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend, Stale

#27243 feat: update jax vversion to 0.4.20
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/jax/experimental/random.py
  ivy/functional/backends/jax/experimental/sorting.py
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/jax/searching.py
  ivy/functional/backends/jax/sorting.py
  ivy/functional/backends/jax/statistical.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy/functional/frontends/jax/numpy/logic.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy/functional/frontends/jax/random.py
Labels: JAX Frontend

#27245 fix: Fixed passing `positional only` arguments in few functions
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy/functional/frontends/mindspore/ops/function/nn_func.py
  ivy/functional/frontends/mxnet/numpy/random.py
  ivy/functional/frontends/scipy/spatial/distance.py
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
Labels: PyTorch Frontend, JAX Frontend

#27249 fix: Fixed key-word arguments in `torch_frontend.quantile()` function call.
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#27071 fix: Reformatted gather to use torch backend for its backend-specific implementation. Updated docstrings.
  ivy/data_classes/array/general.py
  ivy/data_classes/container/general.py
  ivy/functional/backends/torch/general.py
  ivy/functional/ivy/general.py
Labels: Array API, Ivy Functional API

#27279 fix: Raised `exception` statements that are Unraised
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/frontends/tensorflow/ragged/ragged.py
Labels: TensorFlow Frontend

#27255 fix: Updated type annotations to use `Optional` when default parameter is `None`.
  ivy/data_classes/array/conversions.py
  ivy/data_classes/array/experimental/layers.py
  ivy/data_classes/array/experimental/manipulation.py
  ivy/data_classes/container/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/mxnet/manipulation.py
  ivy/functional/backends/numpy/creation.py
  ivy/functional/backends/numpy/experimental/creation.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/paddle/experimental/layers.py
  ivy/functional/backends/paddle/experimental/norms.py
  ivy/functional/backends/paddle/general.py
  ivy/functional/backends/paddle/linear_algebra.py
  ivy/functional/backends/paddle/manipulation.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/tensorflow/experimental/creation.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/random.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/tensorflow/sub_backends/tf_probability/experimental/random.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/backends/torch/general.py
  ivy/functional/frontends/tensorflow/func_wrapper.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/manipulation.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_keras/test_activations.py
  ivy_tests/test_ivy/test_misc/test_inspection.py
  scripts/eager_mode_benchmark/benchmark.py
Labels: TensorFlow Frontend, Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#27294 feat: Updated `torch` version mapping from `2.1.0` to `2.1.1`
  ivy/functional/backends/torch/__init__.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/backends/torch/data_type.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/backends/torch/experimental/losses.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/norms.py
  ivy/functional/backends/torch/experimental/random.py
  ivy/functional/backends/torch/experimental/sorting.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/backends/torch/general.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/backends/torch/manipulation.py
  ivy/functional/backends/torch/norms.py
  ivy/functional/backends/torch/random.py
  ivy/functional/backends/torch/searching.py
  ivy/functional/backends/torch/set.py
  ivy/functional/backends/torch/sorting.py
  ivy/functional/backends/torch/statistical.py
  ivy/functional/frontends/__init__.py
  ivy/functional/frontends/torch/blas_and_lapack_ops.py
  ivy/functional/frontends/torch/comparison_ops.py
  ivy/functional/frontends/torch/creation_ops.py
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy/functional/frontends/torch/linalg.py
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy/functional/frontends/torch/nn/functional/convolution_functions.py
  ivy/functional/frontends/torch/nn/functional/distance_functions.py
  ivy/functional/frontends/torch/nn/functional/dropout_functions.py
  ivy/functional/frontends/torch/nn/functional/layer_functions.py
  ivy/functional/frontends/torch/nn/functional/linear_functions.py
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy/functional/frontends/torch/nn/functional/norms.py
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy/functional/frontends/torch/nn/functional/sparse_functions.py
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy/functional/frontends/torch/random_sampling.py
  ivy/functional/frontends/torch/reduction_ops.py
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/frontends/torch/tensor_functions.py
  ivy/functional/frontends/torch/utilities.py
  ivy/functional/frontends/torchvision/ops.py
Labels: PyTorch Frontend

#26470 feat: added paddle chunk method with test
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27297 feat: Add training support to `ivy.Module` converted `tf.keras.Model` instances
  ivy/data_classes/array/conversions.py
  ivy/functional/frontends/torch/nn/modules/module.py
  ivy/stateful/converters.py
Labels: PyTorch Frontend, Array API

#27293 feat: Updated `TensorFlow` version mapping from `2.14.0` to `2.15.0`
  ivy/functional/backends/tensorflow/__init__.py
  ivy/functional/backends/tensorflow/activations.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/tensorflow/data_type.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/creation.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/linear_algebra.py
  ivy/functional/backends/tensorflow/experimental/losses.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/norms.py
  ivy/functional/backends/tensorflow/experimental/random.py
  ivy/functional/backends/tensorflow/experimental/searching.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/tensorflow/layers.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/tensorflow/searching.py
  ivy/functional/backends/tensorflow/set.py
  ivy/functional/backends/tensorflow/sorting.py
  ivy/functional/backends/tensorflow/statistical.py
  ivy/functional/backends/tensorflow/sub_backends/tf_probability/experimental/random.py
  ivy/functional/backends/tensorflow/sub_backends/tf_probability/experimental/statistical.py
  ivy/functional/backends/torch/experimental/losses.py
  ivy/functional/frontends/__init__.py
  ivy/functional/frontends/jax/numpy/dtype.py
  ivy/functional/frontends/tensorflow/compat/v1/nn.py
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/tensorflow/image/cropping.py
  ivy/functional/frontends/tensorflow/keras/activations.py
  ivy/functional/frontends/tensorflow/linalg.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/nn.py
  ivy/functional/frontends/tensorflow/random.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy/functional/frontends/tensorflow/signal.py
  ivy/functional/frontends/tensorflow/tensor.py
Labels: JAX Frontend, TensorFlow Frontend

#27316 feat: Paddle Frontend: tensor __or__
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27313 feat: Paddle Frontend: tensor __le__
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27311 feat: Paddle Frontend: tensor __ge__
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27309 feat: Paddle Frontend: tensor __gt__
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27307 feat: Paddle Frontend: tensor __mul__
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27305 feat: Paddle Frontend: tensor __sub__
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27303 feat: Paddle Frontend: tensor __radd__
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27341 feat: Add __ne__ method to Paddle Tensor class
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27343 feat: Add __rmul__ method to Paddle Tensor class
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27348 feat: Add __neg__ method to PaddleTensor class
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27350 feat: Add __int__ method to PaddleTensor class
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27268 feat: implemented "trace" method for NumPy
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#27295 feat: Paddle frontend implementation for fft2 function
  ivy/functional/frontends/paddle/fft.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_fft.py
Labels: Paddle Frontend

#27300 fix: Fixed passing `key-word` arguments in 2 functions
  ivy/functional/backends/torch/layers.py
  ivy/functional/frontends/jax/numpy/statistical.py
Labels: JAX Frontend

#27357 fix: Fixed positional arguments for 2 `staticmethod` calls.
  ivy/data_classes/container/creation.py
  ivy/data_classes/container/experimental/creation.py
Labels: Ivy API Experimental

#27363 fix: Fixed passing `shape` argument in 2 functions.
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend, Paddle Frontend

#27373 fix: Fixed passing `prob` argument in 1 function.
  ivy/functional/frontends/paddle/nn/functional/common.py
Labels: Paddle Frontend

#27376 fix: Fixed passing `dims` argument in 1 function
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#27374 refactor: cleaning up the ivy.Module class
  ivy/functional/frontends/torch/nn/modules/module.py
  ivy/stateful/activations.py
  ivy/stateful/helpers.py
  ivy/stateful/layers.py
  ivy/stateful/losses.py
  ivy/stateful/module.py
  ivy/stateful/norms.py
  ivy/stateful/sequential.py
  ivy_tests/test_ivy/test_stateful/test_layers.py
  ivy_tests/test_ivy/test_stateful/test_modules.py
  ivy_tests/test_ivy/test_stateful/test_sequential.py
Labels: PyTorch Frontend

#27385 fix: Fixed passing of arguments in `ivy.layer_norm` function call.
  ivy/functional/frontends/paddle/nn/functional/norm.py
Labels: Paddle Frontend

#27399 fix: Fixed passing of argument `seed` to class `Generator`
  ivy/functional/frontends/numpy/random/Generator/Generator.py
Labels: NumPy Frontend

#27397 feat: Implementation of Numpy max
  ivy/functional/frontends/numpy/mathematical_functions/extrema_finding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_extrema_finding.py
Labels: NumPy Frontend

#27410 feat: Implemented `numpy.isin` in `numpy` frontend
  ivy/functional/frontends/numpy/logic/array_contents.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_array_contents.py
Labels: NumPy Frontend

#27413 fix: Fixed import error in `test_tensor.py` in torch frontend
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend, Bug Report

#27411 fix: added support for dilation in torch.nn.functional.conv_transpose2d
  ivy/functional/frontends/torch/nn/functional/convolution_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_convolution_functions.py
Labels: PyTorch Frontend
