Repository ivy-llc/ivy, pull requests merged in 2023-02, with the labels that each got.

#10176 Add EyeLike Ivy Functional API
  ivy/array/experimental/creation.py
  ivy/container/experimental/creation.py
  ivy/functional/ivy/experimental/creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
Labels: Array API, Ivy Functional API

#10230 temporary fix for unsupported dtypes in Trigonometric ufuncs
  ivy_tests/test_ivy/helpers/testing_helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_trigonometric_functions.py
Labels: NumPy Frontend

#9462 Added PadV2 to raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#10111 rint
  ivy/functional/frontends/numpy/mathematical_functions/rounding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_rounding.py
Labels: NumPy Frontend

#10234 numpy frontend random generator class
  ivy/functional/frontends/numpy/random/Generator/Generator.py
  ivy/functional/frontends/numpy/random/Generator/__init__.py
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_Generator.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#10180 Allowing custom backward passes during gradient computation
  ivy/functional/backends/jax/experimental/gradients.py
  ivy/functional/backends/numpy/experimental/gradients.py
  ivy/functional/backends/tensorflow/experimental/gradients.py
  ivy/functional/backends/torch/experimental/gradients.py
  ivy/functional/ivy/experimental/gradients.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_gradients.py
Labels: Ivy Functional API

#9752 Fix jax_nn_activations.test_jax_nn_one_hot
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_nn_activations.py
Labels: JAX Frontend, Stale

#9795 Add jax.numpy.extract jax Frontend
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_searching_sorting.py
Labels: JAX Frontend, Stale

#9843 Add jax.numpy.ndim jax Frontend
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend, Stale

#9961 Add instance_norm Ivy Experimental API
  ivy/array/experimental/norms.py
  ivy/container/experimental/norms.py
  ivy/functional/backends/jax/experimental/norms.py
  ivy/functional/backends/numpy/experimental/norms.py
  ivy/functional/backends/tensorflow/experimental/norms.py
  ivy/functional/backends/torch/experimental/norms.py
  ivy/functional/ivy/experimental/norms.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_norms.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#9967 Fix test_numpy_isfinite Frontend test
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_array_type_testing.py
Labels: NumPy Frontend, Stale

#9708 add fabs jax implementation
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#9933 Added Raw Ops operation: Elu to Tensorflow Frontend
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#10241 margin_ranking_loss in pytorch frontend
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: PyTorch Frontend

#10243 Fix raw_ops.test_tensorflow_AddN
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#10257 Add tf.image.extract_patches
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/tensorflow/image/__init__.py
  ivy/functional/frontends/tensorflow/image/cropping.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_image/__init__.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_image/test_cropping.py
Labels: TensorFlow Frontend

#10155 added row_stack pytorch frontend function
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#9691 boolean_mask #9684
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#10228 added arctan2 function
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#10302 frontends.torch.hsplit
  ivy/array/experimental/manipulation.py
  ivy/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: PyTorch Frontend, Array API, Ivy Functional API, Ivy API Experimental

#9940 Added diff to jax.numpy frontend
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#9761 add fused_batch_norm to tf frontend
  ivy/functional/frontends/tensorflow/compat/v1/nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_compat/test_v1/test_nn.py
Labels: TensorFlow Frontend

#10115 added __floordiv__
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#10100 added jax.numpy.logical_not frontend and test
  ivy/functional/frontends/jax/numpy/logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
Labels: JAX Frontend

#9747 #9599
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#9690 add frontend jax numpy atleast_1d function
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend, Stale

#10351 Added jax.numpy.positive fixes #8426
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#10144 `max_pool2d` superset behavior
  ivy/array/experimental/layers.py
  ivy/container/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/numpy/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#9979 frontends.jax.numpy: add full func
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend, Stale

#10338 Add torch.clamp_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#10162 Adding __array_function__
  docs/partial_source/deep_dive/arrays.rst
  ivy/array/array.py
  ivy/func_wrapper.py
  ivy/functional/ivy/activations.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/losses.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/meta.py
  ivy/functional/ivy/norms.py
  ivy/functional/ivy/random.py
  ivy/functional/ivy/searching.py
  ivy/functional/ivy/set.py
  ivy/functional/ivy/sorting.py
  ivy/functional/ivy/statistical.py
  ivy/functional/ivy/utility.py
  ivy_tests/test_ivy/test_misc/test_array.py
Labels: Array API, Ivy Functional API, Exhaustive CI

#9983 Fix linalg.test_torch_cross torch Frontend
  ivy/functional/frontends/torch/linalg.py
Labels: PyTorch Frontend, Stale

#9941 fix test_docstrings
  ivy_tests/test_docstrings.py
Labels: Bug

#9921 add inner for jax.numpy frontend
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend, Stale

#10322 Added jax numpy logic isfinite
  ivy/functional/frontends/jax/numpy/logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
Labels: JAX Frontend

#10379 Adding nanmedian compute statistical functions
  ivy/array/experimental/statistical.py
  ivy/container/experimental/statistical.py
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/numpy/experimental/statistical.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/ivy/experimental/statistical.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#9884 Reformat conv2d
  ivy/array/layers.py
  ivy/container/layers.py
  ivy/functional/backends/jax/layers.py
  ivy/functional/backends/numpy/layers.py
  ivy/functional/backends/tensorflow/layers.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/ivy/layers.py
Labels: Array API, Ivy Functional API

#10398 Docker exploration multiversion
  ivy_tests/test_ivy/conftest.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/globals.py
Labels: PyTorch Frontend

#9765 added dynamic_backend feature to the ivy.Array and ivy.Container class
  ivy/__init__.py
  ivy/array/array.py
  ivy/backend_handler.py
  ivy/container/base.py
  ivy/container/container.py
  ivy/stateful/converters.py
  ivy/stateful/module.py
  ivy_tests/test_ivy/test_misc/test_backend_handler.py
Labels: Array API, Exhaustive CI

#10254 Close #10248
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#9556 Interpolate
  ivy/array/experimental/layers.py
  ivy/container/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: NumPy Frontend, Array API, Ivy Functional API, Ivy API Experimental

#10442 fixed trace, svd and rint in numpy frontend
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/frontends/numpy/linalg/decompositions.py
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_decompositions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_norms_and_other_numbers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_rounding.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: NumPy Frontend

#10329 Fix backends._.diff
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#10362 torch frontend convolution functions
  ivy/functional/frontends/torch/nn/functional/convolution_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_convolution_functions.py
Labels: PyTorch Frontend

#10317 Added LP normalization function to ivy experimental API
  ivy/array/experimental/norms.py
  ivy/container/experimental/norms.py
  ivy/functional/backends/jax/experimental/norms.py
  ivy/functional/backends/numpy/experimental/norms.py
  ivy/functional/backends/tensorflow/experimental/norms.py
  ivy/functional/backends/torch/experimental/norms.py
  ivy/functional/ivy/experimental/norms.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_norms.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#10355 Jax.numpy.creation.empty like
  .idea/ivy.iml
  .idea/misc.xml
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#10429 change from is_native_array to is_ivy array in get_all_arrays_in_memory
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#10270 np.linalg.lstsq frontend function implementattion (with tests)
  ivy/functional/frontends/numpy/linalg/solving_equations_and_inverting_matrices.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_solving_equations_and_inverting_matrices.py
Labels: NumPy Frontend

#10380 added __ifloordiv__
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#10465 numpy frontend instance tobytes
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#10473 added superset "adjoint" for matmul in linalg
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: Function Reformatting, Ivy Functional API

#10296 Add cosine_embedding_loss to pytorch frontend
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: PyTorch Frontend

#10271 add frontend numpy API: ndarray.__array__ - Close #10249
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#10160 add backend implementation for lexsort
  ivy/array/experimental/sorting.py
  ivy/container/experimental/sorting.py
  ivy/functional/backends/jax/experimental/sorting.py
  ivy/functional/backends/numpy/experimental/sorting.py
  ivy/functional/backends/numpy/sorting.py
  ivy/functional/backends/tensorflow/experimental/sorting.py
  ivy/functional/backends/torch/experimental/sorting.py
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy/functional/frontends/numpy/sorting_searching_counting/sorting.py
  ivy/functional/ivy/experimental/sorting.py
  ivy/functional/ivy/sorting.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_sorting_searching_counting/test_sorting.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_sorting.py
Labels: JAX Frontend, NumPy Frontend, Array API, Ivy Functional API, Ivy API Experimental

#10304 frontends.torch.vsplit
  ivy/array/experimental/manipulation.py
  ivy/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend, Array API, Ivy Functional API, Ivy API Experimental

#9501 Permutation function for numpy frontend Ivy API
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#10491 Added jax numpy logic isscalar
  ivy/functional/frontends/jax/numpy/logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
Labels: JAX Frontend

#10178 add as_strided to PyTorch Frontends #10128
  ivy/functional/frontends/torch/creation_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
Labels: PyTorch Frontend, TensorFlow Frontend, Stale

#9963 added binarizer to experimental api
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#9955 numpy frontend scalar fix in handling casting
  ivy/assertions.py
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/func_wrapper.py
Labels: NumPy Frontend

#10482 function reformatting of iinfo function
  ivy/array/data_type.py
  ivy/container/data_type.py
Labels: Array API

#10472 Add divmod method for jax frontend
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#10525 adding superset conjugate for transpose in linalg
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: Function Reformatting, Ivy Functional API

#10463 reformatting get_all_arrays_in_memory in general.py
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#10354 tensorflow.roll
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#10447 add fix for torch tensor reshape tests
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#10481 Hypothesis Helpers Documentation
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/dtype_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/general_helpers.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_metrics.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
  ivy_tests/test_ivy/test_functional/test_core/test_device.py
  ivy_tests/test_ivy/test_functional/test_core/test_dtype.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
  ivy_tests/test_ivy/test_functional/test_core/test_gradients.py
  ivy_tests/test_ivy/test_functional/test_core/test_manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_norms.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_statistical.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
  ivy_tests/test_ivy/test_stateful/test_optimizers.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend

#9883 Reformat conv1d_transpose
  ivy/array/layers.py
  ivy/container/layers.py
  ivy/functional/backends/jax/layers.py
  ivy/functional/backends/numpy/layers.py
  ivy/functional/backends/tensorflow/layers.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/ivy/layers.py
Labels: Array API, Ivy Functional API, Stale

#10573 torch.quantile() (issue #10292)
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#10494 adding arctan2_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#10487 Adding cumsum_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#10540 torch frontend implementation of torch.nn.functional.interpolate
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_vision_functions.py
Labels: PyTorch Frontend, Single Function

#10561 _assert
  ivy/functional/frontends/torch/utilities.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_utilities.py
Labels: PyTorch Frontend

#10327 Add `ivy.with_backend` to allow for multiple instances of Ivy.
  ivy/__init__.py
  ivy/array/array.py
  ivy/container/base.py
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/tensorflow/__init__.py
  ivy/functional/backends/torch/__init__.py
  ivy/functional/ivy/activations.py
  ivy/functional/ivy/control_flow_ops.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/experimental/activations.py
  ivy/functional/ivy/experimental/creation.py
  ivy/functional/ivy/experimental/data_type.py
  ivy/functional/ivy/experimental/gradients.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/experimental/norms.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/random.py
  ivy/functional/ivy/searching.py
  ivy/functional/ivy/statistical.py
  ivy/stateful/converters.py
  ivy/utils/__init__.py
  ivy/utils/_importlib.py
  ivy/utils/backend/__init__.py
  ivy/utils/backend/ast_helpers.py
  ivy/utils/backend/handler.py
  ivy/utils/dynamic_import.py
  ivy/verbosity.py
  ivy_tests/test_docstrings.py
  ivy_tests/test_ivy/test_misc/test_backend_handler.py
  ivy_tests/test_ivy/test_misc/test_with_backend.py
Labels: Array API, Ivy Functional API, Exhaustive CI

#10588 feat: add t function, issue 10474
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#10476 Add Matmul function for Torch Frontend
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#10595 Docker exploration multiversion
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/torch/general.py
  ivy_tests/test_ivy/conftest.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/globals.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/dtype_helpers.py
  multiversion_frontend_test.py
Labels: Exhaustive CI

#9885 Sort
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_searching_sorting.py
Labels: JAX Frontend

#10457 Function reformatting vector_norm
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
Labels: Array API, Function Reformatting, Ivy Functional API

#10565 isfortran
  ivy/functional/frontends/numpy/logic/truth_value_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_truth_value_testing.py
Labels: NumPy Frontend

#9807 fixing the tf.math.reduce_variance frontend test
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#10170 added log_softmax in math.py of tensorflow frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#10432 reformatting num_arrays_in_memory in general.py
  ivy/functional/ivy/general.py
Labels: Ivy Functional API, Stale

#10656 Added _init_overload param to frontend torch.Tensor and numpy.ndarray
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy/functional/frontends/torch/func_wrapper.py
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend, NumPy Frontend

#10316 added jax numpy logic_or
  ivy/functional/frontends/jax/numpy/logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
Labels: JAX Frontend

#10667 refactored code to be more readable
  ivy/functional/frontends/torch/func_wrapper.py
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#10381 Add aminmax torch frontend instance method
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#10634 Updated docstring
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#10597 Introducing Ivy Array view functionality
  ivy/__init__.py
  ivy/array/array.py
  ivy/array/experimental/manipulation.py
  ivy/array/manipulation.py
  ivy/func_wrapper.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/torch/general.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/manipulation.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
Labels: Array API, Ivy Functional API

#10647 Reformating assert_supports_inplace
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/ivy/general.py
Labels: Array API, Ivy Functional API

#10637 Updated docstring
  ivy/functional/ivy/device.py
Labels: Ivy Functional API

#10676 Fixed `flake8` linting failures
  ivy/array/activations.py
  ivy/func_wrapper.py
  ivy/functional/backends/numpy/experimental/statistical.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy/stateful/converters.py
  ivy/stateful/module.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, Array API

#10134 mean_absolute_error frontend function added
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_metrics.py
Labels: TensorFlow Frontend, Bug Report

#10633 Reformat supports_inplace_updates
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/ivy/general.py
Labels: Array API, Ivy Functional API

#10714 frontends.numpy.dsplit
  ivy/functional/frontends/numpy/manipulation_routines/splitting_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_splitting_arrays.py
Labels: NumPy Frontend

#10641 An implementation of dropout3d from scratch for all frameworks.
  ivy/array/layers.py
  ivy/container/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_docstrings.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Array API, Ivy Functional API

#10572 left_shift #10568
  ivy/functional/frontends/jax/numpy/logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
Labels: JAX Frontend

#10743 Add asarray to Paddle Backend
  ivy/functional/backends/paddle/creation.py
Labels: Paddle Backend

#10726 Docker exploration multiversion
  ivy/functional/backends/jax/general.py
  ivy_tests/test_ivy/conftest.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/globals.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
  multiversion_frontend_test.py
Labels: Exhaustive CI

#10774 add elementwise cos to Paddle Backend
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Backend

#10770 Elementwise asin() implementation for paddle backend
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Backend

#10684 Update `get_valid` strategy
  ivy_tests/test_ivy/conftest.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/globals.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/dtype_helpers.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
  ivy_tests/test_ivy/test_frontends/conftest.py
Labels: Exhaustive CI

#10191 Add bitwise_not instance method from torch tensor
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, Stale

#10748 frontend.jax.dsplit
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend

#10636 Updated docstring
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#10640 Ivy eigh tridiagonal
  ivy/array/experimental/linear_algebra.py
  ivy/container/experimental/linear_algebra.py
  ivy/functional/backends/tensorflow/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_linalg.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#10690 Torch frontend lerp
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#10736 Reformated scatter_flat
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/torch/general.py
  ivy/functional/ivy/general.py
Labels: Array API, Ivy Functional API

#10840 Adding numpy dtype routine functions to numpy frontend
  ivy/functional/frontends/numpy/data_type_routines/data_type_information.py
  ivy/functional/frontends/numpy/data_type_routines/general.py
  ivy/functional/frontends/numpy/logic/truth_value_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_data_type_routines/test_general.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_truth_value_testing.py
Labels: NumPy Frontend

#10830 implemented bitwise_invert in paddle backend
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Backend

#10686 Added: abs: tensorflow_frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#10483 Add numpy.real to Numpy frontend
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/mathematical_functions/handling_complex_numbers.py
  ivy/functional/frontends/numpy/ufunc/methods.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_handling_complex_numbers.py
Labels: NumPy Frontend

#10872 Tf Variable and IndexedSlices class
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/tensorflow/variable.py
Labels: TensorFlow Frontend

#10562 Improving test failure logging
  ivy/functional/ivy/general.py
  ivy/utils/exceptions.py
  ivy_tests/conftest.py
  ivy_tests/test_ivy/conftest.py
  ivy_tests/test_ivy/helpers/assertions.py
  ivy_tests/test_ivy/helpers/function_testing.py
Labels: Ivy Functional API

#10716 frontends.numpy.vsplit
  ivy/functional/frontends/numpy/manipulation_routines/splitting_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_splitting_arrays.py
Labels: NumPy Frontend

#10851 implemented squared_difference function for Tensorflow frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#10603 jax.numpy.convolve frontend function and test. issue #10499
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend, JAX Frontend

#10810 fix frontends.torch.{h,v,d}split
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#10908 Update `handle_test` and `handle_method` to work without a function tree is set.
  ivy_tests/test_ivy/conftest.py
  ivy_tests/test_ivy/helpers/globals.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
Labels: Exhaustive CI

#10759 frontends.jax.vsplit
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend

#10502 frontends.numpy.split
  ivy/array/manipulation.py
  ivy/container/manipulation.py
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/numpy/manipulation.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/backends/torch/manipulation.py
  ivy/functional/frontends/numpy/manipulation_routines/splitting_arrays.py
  ivy/functional/ivy/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_splitting_arrays.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: NumPy Frontend, Array API, Ivy Functional API

#10907 Changes in the function arguments
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/torch/general.py
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#10871 Added LinSpace to Raw_Ops for tf frontends
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#10742 Isreal function
  ivy/functional/frontends/jax/numpy/logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
Labels: JAX Frontend

#10455 Update math.py
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend, Stale

#9958 added conj elementwise function to ivy experimental API
  ivy/array/experimental/elementwise.py
  ivy/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#10906 numpy frontend unique
  ivy/functional/frontends/numpy/manipulation_routines/adding_and_removing_elements.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_adding_and_removing_elements.py
Labels: NumPy Frontend

#10925 Elementwise atanh implementation for paddle backend
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#11002 add code for deg2grad
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#10993 Added zeros function to paddle backend
  ivy/functional/backends/paddle/creation.py
Labels: Paddle Paddle Backend

#10989 Added elementwise log function to paddle backend
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#10937 Added subtract
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#10935 Added PaddlePaddle elementwise functions
  ivy/functional/backends/paddle/elementwise.py
  ivy/functional/backends/paddle/experimental/elementwise.py
Labels: Paddle Paddle Backend

#11001 Added eye function to paddle backend
  ivy/functional/backends/paddle/creation.py
Labels: Paddle Paddle Backend

#10869 Adding multiple Statistical functions to paddle backend
  ivy/functional/backends/paddle/statistical.py
Labels: Paddle Paddle Backend

#11036 Adding multiple creation functions to paddle backend
  ivy/functional/backends/paddle/creation.py
Labels: Paddle Paddle Backend

#10587 Reimplement ReLu6 in the backends and frontends
  ivy/array/experimental/activations.py
  ivy/container/experimental/activations.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/frontends/tensorflow/nn.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy/functional/ivy/experimental/activations.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, Array API, Function Reformatting, Ivy Functional API, Ivy API Experimental

#11045 Adding multiple creation functions to paddle backend
  ivy/functional/backends/paddle/creation.py
Labels: Paddle Paddle Backend

#10870 Add beta
  .devcontainer/devcontainer.json
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#10713 feat: Added signbit function for torch frontend
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#10814 resize #10764
  ivy/functional/frontends/numpy/manipulation_routines/changing_array_shape.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
Labels: NumPy Frontend

#10857 tf_asin
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#10531 poisson_nll_loss in pytorch frontend
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: PyTorch Frontend

#10489 Adding log_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#10858 Cross
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#11043 Added PadlePadle bitwise_right_shift function
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#10365 added lu_factor to torch frontend. Tests failing
  ivy/functional/frontends/torch/linalg.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend, Array API, Ivy Functional API, Ivy API Experimental

#11061 Add from_dlpack for PaddlePaddle backend
  ivy/functional/backends/paddle/creation.py
Labels: Paddle Paddle Backend

#11118 tf math sqrt, negative
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#11080 Add arange for PaddlePaddle backend
  ivy/functional/backends/paddle/creation.py
Labels: Paddle Paddle Backend
