Repository ivy-llc/ivy, pull requests merged in 2023-10, with the labels that each got.

#26075 refactor: dev_util
  ivy/functional/ivy/device.py
Labels: Function Reformatting, Ivy Functional API

#25936 feat : added paddle instance method not_equal with test
  ivy/functional/frontends/paddle/logic.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#26238 refactor: remove bfloat16 from decorators
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#18799 feat: Add diagonal function to paddle.tensor.math
  ivy/functional/frontends/paddle/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: Paddle Frontend

#26043 style: reformat qr
  ivy/data_classes/array/linear_algebra.py
  ivy/data_classes/container/linear_algebra.py
  ivy/functional/backends/mxnet/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
Labels: Array API, Ivy Functional API

#26086 Tanhshrink
  ivy/data_classes/array/experimental/activations.py
  ivy/data_classes/container/experimental/activations.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/paddle/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/ivy/experimental/activations.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#26465 Addmm paddle tensor method. Closes #25985
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#25982 update(torch-frontend): Scalars to be converted to default 0d torch Tensors
  ivy/functional/frontends/torch/__init__.py
  ivy/functional/frontends/torch/func_wrapper.py
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#22764 Update: ivy.compile( ) updated to ivy.trace_graph( )
  README.md
  docs/overview/contributing/error_handling.rst
  docs/overview/deep_dive/containers.rst
  docs/overview/deep_dive/ivy_frontends.rst
  docs/overview/deep_dive/superset_behaviour.rst
  docs/overview/design.rst
  docs/overview/design/building_blocks.rst
  docs/overview/design/ivy_as_a_framework.rst
  docs/overview/design/ivy_as_a_framework/ivy_stateful_api.rst
  docs/overview/design/ivy_as_a_transpiler.rst
  docs/overview/faq.rst
  docs/overview/get_started.rst
  docs/overview/glossary.rst
  docs/overview/one_liners.rst
  docs/overview/one_liners/trace.rst
  docs/overview/one_liners/transpile.rst
  docs/overview/one_liners/unify.rst
  docs/overview/related_work/what_does_ivy_add.rst
Labels: Documentation

#23586 feat: implemented cumsum function in paddle frontend
  ivy/functional/frontends/paddle/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: Paddle Frontend

#22827 start formatting
  ivy/data_classes/array/linear_algebra.py
Labels: Array API

#26440 refactor: updated docstring and function arguments for get_referrers_…
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#23562 feat(paddle): Add frontend index_sample to search.py
  ivy/functional/frontends/paddle/search.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_search.py
Labels: Paddle Frontend

#26196 refactor: reformat all_nested_indices docstring
  ivy/functional/ivy/nest.py
Labels: Ivy Functional API

#26427 feat: Added bmm tensor instance in frontend paddle
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#26273 feat: added frac method to paddle tensor class
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#26306 feat: add rad2deg instance method to PyTorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#26533 Update: _compile to trace_graph
  ivy/compiler/compiler.py
Labels: Compiler

#23796 feat: Adds tf.math.mod alias
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#23570 feat: Update set.py
  ivy/functional/backends/jax/set.py
  ivy/functional/backends/mxnet/set.py
  ivy/functional/backends/numpy/set.py
  ivy/functional/backends/paddle/set.py
  ivy/functional/backends/tensorflow/set.py
  ivy/functional/backends/torch/set.py
  ivy/functional/ivy/set.py
  ivy_tests/test_ivy/test_functional/test_core/test_set.py
Labels: PyTorch Frontend, Ivy Functional API, Paddle Paddle Backend

#26276 feat(Paddle frontend API): added t tensor method and test
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#26391 feat: Added lgamma tensorflow function
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#26560 fix: Add missing `ivy` import in one file.
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_layer_functions.py
Labels: PyTorch Frontend

#22336 feat: adding np.ndarray.var to the frontends
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#24962 feat: Binary cross entropy loss added to funtional experimental
  ivy/data_classes/array/experimental/losses.py
  ivy/data_classes/container/experimental/losses.py
  ivy/functional/backends/jax/experimental/losses.py
  ivy/functional/backends/numpy/experimental/losses.py
  ivy/functional/backends/paddle/experimental/losses.py
  ivy/functional/backends/tensorflow/experimental/losses.py
  ivy/functional/backends/torch/experimental/losses.py
  ivy/functional/ivy/experimental/losses.py
  ivy/functional/ivy/losses.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_losses.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#24377 feat: add diagonal_scatter to PyTorch frontend
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#26547 feat: Add gather #26436
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#23799 feat: `ivy.experimental.tensor_train` #26583
  ivy/data_classes/array/experimental/linear_algebra.py
  ivy/data_classes/container/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_linalg.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#26279 refactor(torch-frontend & testing): Updates the handling of `inplace` so that functions always return frontend arrays even when the inputs are ivy arrays
  ivy/functional/frontends/torch/func_wrapper.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_func_wrapper.py
Labels: PyTorch Frontend

#25873 fix(paddle_backend.round): align rounding behavior with `np.round`
  ivy/functional/backends/paddle/elementwise.py
  ivy/functional/frontends/paddle/math.py
Labels: Paddle Paddle Backend

#26589 refactor: test `test_torch___invert__` for interger and bool both
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#26265 feat: Implement is_floating_point Instance Methods to PyTorch Frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#26155 feat: implemented bind_custom_gradient_function
  ivy/functional/backends/paddle/experimental/gradients.py
Labels: Paddle Paddle Backend

#26467 feat(frontends): Add nanmedian to PyTorch reduction ops
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#26603 feat(ivy_functional_api): add experimental elementwise amax function
  ivy/data_classes/array/experimental/elementwise.py
  ivy/data_classes/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/mxnet/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#26456 refactor: reformat scatter_nd
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#26610 refactor: updated frontend function signature to match with torch.clone
  ivy/functional/frontends/torch/miscellaneous_ops.py
Labels: PyTorch Frontend

#26609 fix: added tensorflow support for bool to ivy.greater and extended testing for torch.tensor.__gt__ to all valid dtypes
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#26596 refactor: extended testing coverage for torch.argmax
  ivy/functional/frontends/torch/reduction_ops.py
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#26544 feat(ivy_functional_api): add experimental elementwise amin function
  ivy/data_classes/array/experimental/elementwise.py
  ivy/data_classes/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/mxnet/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#26640 Minor typo correction in elementwise.py
  ivy/functional/ivy/elementwise.py
Labels: Ivy Functional API

#26499 feat: implementation of concatfromsequence ONNX function
  ivy/data_classes/container/experimental/manipulation.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#26217 feat: add qr function to jax.lax frontend
  ivy/functional/frontends/jax/lax/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_lax/test_linalg.py
Labels: JAX Frontend

#23356 feat: implement celu activation
  ivy/data_classes/array/experimental/activations.py
  ivy/data_classes/container/experimental/activations.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/mxnet/experimental/activations.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/paddle/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/frontends/paddle/nn/functional/activation.py
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy/functional/ivy/experimental/activations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_nn/test_non_linear_activations.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_activation.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_non_linear_activation_functions.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
Labels: PyTorch Frontend, JAX Frontend, Array API, Ivy Functional API, Paddle Frontend, Paddle Paddle Backend

#26601 trim_zeros
  ivy/data_classes/array/experimental/manipulation.py
  ivy/data_classes/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#26538 build: adding lu_unpack for paddle frontend
  ivy/functional/frontends/paddle/linalg.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_linalg.py
Labels: Paddle Frontend

#25886 feat(Paddle-frontend): Adds paddle.fft.ihfft2
  ivy/functional/frontends/paddle/fft.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_fft.py
Labels: Paddle Frontend

#26606 feat: add paddle tolist
  ivy/functional/frontends/paddle/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_manipulation.py
Labels: Paddle Frontend

#25492 feat: Implement frontend for paddle.multinomial and tests
  ivy/functional/frontends/paddle/random.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_random.py
Labels: Paddle Frontend

#24961 __irshift__
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#26646 feat(jax_frontend): add interp function
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_mathematical_functions.py
Labels: JAX Frontend

#26535 feat: Issue #26495 (added Tensor instance method split)
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#26292 feat: added TensorArray class to tensorflow
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
Labels: TensorFlow Frontend

#26237 refactor: removed lambda function and added type hints.
  ivy/functional/ivy/creation.py
Labels: Ivy Functional API

#26641 feat(testing): support all dtypes by default when a new version relea…
  ivy/functional/ivy/data_type.py
Labels: Ivy Functional API

#25951 feat(functional): Added docstring examples to maml_step function
  ivy/functional/ivy/meta.py
Labels: Ivy Functional API

#26329 fix: Few simple changes to make the code better
  .github/pull_request_template.md
  ivy/func_wrapper.py
  ivy/functional/frontends/numpy/func_wrapper.py
Labels: NumPy Frontend, Bug Report

#26737 fix: Update module converters to correctly handle tuple outputs in their `_forward` methods
  ivy/stateful/module.py
Labels: Ivy Stateful API

#26361 tensor_scatter_nd_add
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#26727 feat(tensorflow): Add FFT3D function to tensorflow.raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#26862 feat(ivy_functional_api): add rfft ivy api experimental layers
  ivy/data_classes/array/experimental/layers.py
  ivy/data_classes/container/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/mxnet/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/paddle/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#23246 feat: Added std instance method to jax frontend
  ivy/functional/frontends/jax/array.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_array.py
Labels: JAX Frontend

#26509 feat(tensorflow frontend): add max_pool3d and its test function
  ivy/functional/frontends/tensorflow/nn.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#26412 feat: extended functional api of nanmin
  ivy/data_classes/array/experimental/statistical.py
  ivy/data_classes/container/experimental/statistical.py
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/numpy/experimental/statistical.py
  ivy/functional/backends/paddle/experimental/statistical.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/ivy/experimental/statistical.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_statistical.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#26746 fix: Replace use of `default mutable arguments` in a function.
  ivy/functional/backends/jax/gradients.py
  ivy/functional/backends/mxnet/gradients.py
  ivy/functional/backends/numpy/gradients.py
  ivy/functional/backends/paddle/gradients.py
  ivy/functional/backends/tensorflow/gradients.py
  ivy/functional/backends/torch/gradients.py
  ivy/functional/ivy/gradients.py
  ivy/utils/assertions.py
Labels: Ivy Functional API, Paddle Paddle Backend

#26543 feat(torch-frontend): Adds torch.lstm
  ivy/functional/frontends/torch/__init__.py
  ivy/functional/frontends/torch/nn/functional/layer_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_layer_functions.py
Labels: PyTorch Frontend

#26657 feat(docs): add example to clip_vector_norm doc
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#26787 fix: Updated docstrings and comments in the set_min_base function
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#27028 feat(ivy_functional_api): add take ivy api experimental manipulation
  ivy/data_classes/array/experimental/manipulation.py
  ivy/data_classes/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/mxnet/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#26964 feat: Added 'all' Paddle frontend function
  ivy/functional/frontends/paddle/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: Paddle Frontend

#26691 feat: adds torch tensor cov
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#26407 feat: added diagonal frontend
  ivy/functional/frontends/paddle/linalg.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#26493 feat(ivy-framework): added the `softshrink` to the ivy experimental API
  ivy/data_classes/array/experimental/activations.py
  ivy/data_classes/container/experimental/activations.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/paddle/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/ivy/experimental/activations.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#25852 fix paddle backend `to_numpy` behaviour with bfloat16
  ivy/functional/backends/paddle/general.py
Labels: Paddle Paddle Backend

#23574 feat(paddle): Add broadcast_shape function to Paddle Frontend
  ivy/functional/frontends/paddle/math.py
  ivy/functional/frontends/torch/comparison_ops.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: PyTorch Frontend, Paddle Frontend

#26932 fix: Consider using `super()` without arguments.
  README.md
  docs/overview/design/ivy_as_a_transpiler.rst
  docs/overview/one_liners/transpile.rst
  ivy/functional/backends/jax/device.py
  ivy/functional/backends/numpy/device.py
  ivy/functional/backends/paddle/device.py
  ivy/functional/backends/tensorflow/device.py
  ivy/functional/backends/torch/device.py
  ivy/functional/ivy/experimental/sparse_array.py
  ivy_tests/test_ivy/test_stateful/test_converters.py
Labels: Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#26184 feat: Implemented standard exponential for numpy
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#26645 feat: Implement unsorted_segment_min function in Tensorflow frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#22785 fixed Nonetype error in scipy.test_eigh_tridiagonal
  ivy_tests/test_ivy/test_frontends/test_scipy/test_linalg/test_linalg.py
Labels: Bug Report, Stale

#27070 feat: Update `black` formatter version and modified files according to it.
  .pre-commit-config.yaml
  ivy/functional/backends/jax/activations.py
  ivy/functional/backends/jax/layers.py
  ivy/functional/backends/mxnet/activations.py
  ivy/functional/backends/mxnet/device.py
  ivy/functional/backends/mxnet/layers.py
  ivy/functional/backends/mxnet/random.py
  ivy/functional/backends/paddle/activations.py
  ivy/functional/backends/paddle/experimental/norms.py
  ivy/functional/backends/paddle/general.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/backends/torch/device.py
  ivy/functional/backends/torch/general.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/norms.py
  ivy/stateful/converters.py
  ivy/stateful/layers.py
  ivy_tests/test_ivy/helpers/globals.py
  ivy_tests/test_ivy/test_functional/test_core/test_statistical.py
Labels: Ivy Functional API, Paddle Paddle Backend

#26561 docs: Updated docstrings and examples
  ivy/data_classes/array/linear_algebra.py
  ivy/data_classes/container/linear_algebra.py
  ivy/functional/ivy/linear_algebra.py
Labels: Array API, Ivy Functional API

#19683 Implemented testing for copy
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/test_parameter_flags.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_mindspore/test_numpy.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_from_existing_data.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_numerical_ranges.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_creation.py
  ivy_tests/test_ivy/test_frontends/test_sklearn/test_utils/test_validation.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
  ivy_tests/test_ivy/test_functional/test_core/test_dtype.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
  ivy_tests/test_ivy/test_functional/test_core/test_manipulation.py
  ivy_tests/test_ivy/test_functional/test_core/test_sorting.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Stale

#27079 fix(jax-backend): update jax version in __init__ to 0.4.19
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/jax/experimental/random.py
  ivy/functional/backends/jax/experimental/sorting.py
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/jax/searching.py
  ivy/functional/backends/jax/sorting.py
  ivy/functional/backends/jax/statistical.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy/functional/frontends/jax/numpy/logic.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy/functional/frontends/jax/random.py
Labels: JAX Frontend

#26871 feat: Implement positive Instance Methods to Pytorch Frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#27089 fix: Fix broken module converter tests
  ivy/functional/ivy/gradients.py
Labels: Ivy Functional API

#27104 fix _to_tf_padding
  ivy/functional/ivy/experimental/manipulation.py
Labels: Ivy Functional API, Ivy API Experimental

#27003 feat: Implemented Jax numpy einsum_path
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/utils/einsum_path_helpers.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_mathematical_functions.py
Labels: JAX Frontend

#26617 feat(Numpy Frontend): implemented mask_indices function to numpy frontend
  ivy/functional/frontends/numpy/indexing_routines/generating_index_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_generating_index_arrays.py
Labels: NumPy Frontend

#26568 Fix: Reformatted multiprocessing (Reformat General)
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#26122 feat: add paddle tensor tile method and tests
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27012 feat : (adeded the hardshrink to ivy experimental)
  ivy/data_classes/array/experimental/activations.py
  ivy/data_classes/container/experimental/activations.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/paddle/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/ivy/experimental/activations.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#27093 fix: Raised `ValueError` to improve error handling.
  ivy/functional/frontends/paddle/vision/transforms.py
Labels: Paddle Frontend

#27076 fix: Added missing `return` for 2 functions.
  ivy_tests/test_ivy/test_frontends/test_jax/test_random.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_random_sampling.py
Labels: PyTorch Frontend, JAX Frontend

#23303 Added polyval to Ivy experimental API
  ivy/data_classes/array/experimental/creation.py
  ivy/data_classes/container/experimental/creation.py
  ivy/functional/backends/jax/experimental/creation.py
  ivy/functional/backends/numpy/experimental/creation.py
  ivy/functional/backends/paddle/experimental/creation.py
  ivy/functional/backends/tensorflow/experimental/creation.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/ivy/experimental/creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#26654 feat(jax_frontend): implement numpy nanpercentile #25724
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_statistical.py
Labels: JAX Frontend

#23718 Driver handling in svdvals function in torch_frontend
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/mxnet/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/paddle/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/frontends/torch/linalg.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend, Ivy Functional API

#26845 feat(numpy): add signbit
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/mathematical_functions/floating_point_routines.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_floating_point_routines.py
Labels: NumPy Frontend

#26489 added the threshold activation to ivy experimental api
  ivy/data_classes/array/experimental/activations.py
  ivy/data_classes/container/experimental/activations.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/paddle/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/ivy/experimental/activations.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#23448 feat: Add ifftn to Paddle Frontend
  ivy/functional/frontends/paddle/fft.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_fft.py
Labels: Paddle Frontend

#26205 feat: Added expand function to Paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27125 fix: bug where fn_unsupported_dnd is a tuple on the latest paddle ver…
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#26937 fix: Remove `re-imports` present in few files.
  ivy/engines/XLA/__init__.py
  ivy/functional/backends/paddle/experimental/__init__.py
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/tensorflow/__init__.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_statistical.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Paddle Paddle Backend

#26979 feat: Implementation of inv function in Paddle frontend.
  ivy/functional/frontends/paddle/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: Paddle Frontend

#27133 fix: Fixed missing mandatory keyword argument `backend_to_test` in function calls
  ivy_tests/test_ivy/test_frontends/test_jax/test_lax/test_operators.py
  ivy_tests/test_ivy/test_frontends/test_mindspore/test_numpy.py
  ivy_tests/test_ivy/test_frontends/test_mindspore/test_ops/test_function/test_mindspore_nn_func.py
  ivy_tests/test_ivy/test_frontends/test_mindspore/test_ops/test_mindspore_nn_func.py
  ivy_tests/test_ivy/test_frontends/test_onnx/test_elementwise.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_stat.py
  ivy_tests/test_ivy/test_frontends/test_pandas/test_dataframe.py
  ivy_tests/test_ivy/test_frontends/test_pandas/test_series.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
  ivy_tests/test_ivy/test_misc/test_shape.py
  ivy_tests/test_ivy/test_stateful/test_activations.py
  ivy_tests/test_ivy/test_stateful/test_losses.py
Labels: PyTorch Frontend, JAX Frontend, Paddle Frontend

#27139 fix: Fixed few missing mandatory `key-word arguments`
  ivy/functional/backends/paddle/creation.py
  ivy/functional/backends/torch/creation.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, NumPy Frontend, Paddle Paddle Backend

#26740 feat: add heaviside method to paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#26513 feat: added swapaxes instance method and test function for it
  ivy/functional/frontends/jax/array.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_array.py
Labels: JAX Frontend

#27153 feat: pytorch frontend instance based corrcoef and test function
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#24984 feat: Added unsorted_segment_mean function
  ivy/data_classes/array/experimental/creation.py
  ivy/data_classes/container/experimental/creation.py
  ivy/functional/backends/jax/experimental/creation.py
  ivy/functional/backends/numpy/experimental/creation.py
  ivy/functional/backends/paddle/experimental/creation.py
  ivy/functional/backends/tensorflow/experimental/creation.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/ivy/experimental/creation.py
  ivy/utils/assertions.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
  ivy_tests/test_ivy/test_misc/test_assertions.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#27099 fix(torch-frontend): fix failing test for torch.nn.functional.alpha_dropout
  ivy/functional/frontends/torch/nn/functional/dropout_functions.py
Labels: PyTorch Frontend

#27165 fix: Fixed a type annotation of `Tuple`.
  ivy/functional/backends/paddle/experimental/statistical.py
Labels: Paddle Paddle Backend

#27116 fix(torch-frontend): fix failing test for torch.Tensor.reshape_as with the paddle backend
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#26874 feat: add bartlett manipulation to JAX frontend
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_manipulations.py
Labels: JAX Frontend

#27113 feat: Add TensorShape class to the TensorFlow frontend
  ivy/functional/frontends/tensorflow/tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensorshape.py
Labels: TensorFlow Frontend

#27082 fix: Fixed passing `positional` arguments in few functions
  ivy/data_classes/array/experimental/manipulation.py
  ivy/functional/frontends/paddle/nn/functional/pooling.py
  ivy/functional/frontends/sklearn/model_selection/_split.py
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/frontends/xgboost/sklearn.py
Labels: PyTorch Frontend, Array API, Ivy API Experimental, Paddle Frontend
