Repository ivy-llc/ivy, pull requests merged in 2023-03, with the labels that each got.

#11137 frontends.numpy.hsplit
  ivy/functional/frontends/numpy/manipulation_routines/splitting_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_splitting_arrays.py
Labels: NumPy Frontend

#11151 Numpy Frontend tri, triu
  ivy/functional/frontends/numpy/creation_routines/building_matrices.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_building_matrices.py
Labels: NumPy Frontend

#11360 axis is "None" docstring
  ivy/functional/ivy/experimental/manipulation.py
Labels: Ivy Functional API

#11328 add examples for arange function
  ivy/functional/ivy/creation.py
Labels: Ivy Functional API

#11501 Add Elementwise(Experimental) Functions to Paddle Backend
  ivy/functional/backends/paddle/experimental/elementwise.py
Labels: Paddle Paddle Backend

#11506 Implementation non_zero - PaddlePaddle Elementwise function to Paddle Backend
  ivy/functional/backends/paddle/experimental/elementwise.py
Labels: Paddle Paddle Backend

#11160 Post push functional multi dot
  ivy/array/experimental/linear_algebra.py
  ivy/container/experimental/linear_algebra.py
  ivy/functional/backends/jax/experimental/linear_algebra.py
  ivy/functional/backends/numpy/experimental/linear_algebra.py
  ivy/functional/backends/tensorflow/experimental/linear_algebra.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_linalg.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#11147 frontends.numpy.array_split
  ivy/functional/frontends/numpy/manipulation_routines/splitting_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_splitting_arrays.py
Labels: NumPy Frontend

#11514 copy_array implementation
  ivy/functional/backends/paddle/creation.py
Labels: Paddle Paddle Backend

#11158 frontends.torch.tensor_split
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#11354 Add tf/general_functions::repeat
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#11523 Add is_nan
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#11531 Docker exploration multiversion
  docker/Dockerfile
  requirements/optional.txt
Labels: Build Docker Files, Exhaustive CI

#11510 Fix optional typehint for array and container functions
  ivy/array/activations.py
  ivy/array/array.py
  ivy/array/creation.py
  ivy/array/experimental/activations.py
  ivy/array/experimental/elementwise.py
  ivy/array/experimental/general.py
  ivy/array/experimental/layers.py
  ivy/array/experimental/linear_algebra.py
  ivy/array/experimental/manipulation.py
  ivy/array/experimental/norms.py
  ivy/array/experimental/random.py
  ivy/array/experimental/sorting.py
  ivy/array/experimental/statistical.py
  ivy/array/general.py
  ivy/array/gradients.py
  ivy/array/layers.py
  ivy/array/linear_algebra.py
  ivy/array/losses.py
  ivy/array/manipulation.py
  ivy/array/searching.py
  ivy/array/sorting.py
  ivy/array/statistical.py
  ivy/container/activations.py
  ivy/container/conversions.py
  ivy/container/creation.py
  ivy/container/data_type.py
  ivy/container/elementwise.py
  ivy/container/experimental/activations.py
  ivy/container/experimental/creation.py
  ivy/container/experimental/elementwise.py
  ivy/container/experimental/general.py
  ivy/container/experimental/layers.py
  ivy/container/experimental/linear_algebra.py
  ivy/container/experimental/manipulation.py
  ivy/container/experimental/norms.py
  ivy/container/experimental/random.py
  ivy/container/experimental/statistical.py
  ivy/container/general.py
  ivy/container/layers.py
  ivy/container/linear_algebra.py
  ivy/container/manipulation.py
  ivy/container/random.py
  ivy/container/searching.py
  ivy/container/sorting.py
  ivy/container/statistical.py
  ivy/container/wrapping.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/sorting.py
Labels: Array API, Ivy API Experimental

#11553 added diag_indices in jax
  ivy/functional/frontends/jax/numpy/indexing.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_indexing.py
Labels: JAX Frontend

#11547 tf.math.square
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#11591 feat: implement paddle unique_counts function
  ivy/functional/backends/paddle/set.py
Labels: Paddle Paddle Backend

#11609 added some experimental_functions
  ivy/functional/backends/paddle/experimental/elementwise.py
Labels: Paddle Paddle Backend

#11217 Added is_finite implementation for tf math
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#11678 add tf.linalg.svd
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#11152 frontends.jax.split & frontends.jax.array_split
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend

#11687 Support ivy.Array creation using np.array in the constructor
  ivy/array/array.py
Labels: Array API

#11167 added asarray examples and docstring in creation.py files
  ivy/array/creation.py
  ivy/container/creation.py
  ivy/functional/ivy/creation.py
Labels: Array API, Ivy Functional API

#11173 Reformat inplace_update
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/torch/general.py
  ivy/functional/ivy/general.py
Labels: Array API, Ivy Functional API

#11713 Updated docstring
  ivy/functional/ivy/meta.py
Labels: Ivy Functional API

#11705 add torch.meshgrid to torch frontend
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#11632 issues #11630, #11636, #1137 and #1167
  ivy/functional/backends/paddle/experimental/manipulation.py
Labels: Paddle Paddle Backend

#11652 top_k
  ivy/functional/backends/paddle/experimental/manipulation.py
Labels: Paddle Paddle Backend

#11801 `jax.numpy` delivers `ediff1d` on mathematical functions
  ivy/array/experimental/elementwise.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend, Array API, Ivy Functional API

#11844 Roll raw_ops
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#11675 fixed itruediv tests
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#11174 Reformat einops_reduce
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/ivy/general.py
Labels: Array API, Ivy Functional API

#11906 #11699 : added ADDV2 RawOps Operations for TensorFlow frontend
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#11915 #11756 Paddle seed
  ivy/functional/backends/paddle/random.py
Labels: Paddle Paddle Backend

#11682 feat: implement paddle unique_inverse function
  ivy/functional/backends/paddle/set.py
Labels: Paddle Paddle Backend

#11834 added take_along_axis
  ivy/functional/frontends/jax/numpy/indexing.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_indexing.py
Labels: JAX Frontend

#11890 add scale_factor and bicubic mode to ivy.interpolate
  ivy/array/experimental/layers.py
  ivy/container/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Array API, Next Release, Ivy Functional API, Suggestion, Ivy API Experimental

#11967 Module level unsupported
  ivy/array/experimental/elementwise.py
  ivy/array/experimental/layers.py
  ivy/array/experimental/linear_algebra.py
  ivy/array/experimental/manipulation.py
  ivy/array/general.py
  ivy/container/experimental/layers.py
  ivy/container/experimental/manipulation.py
  ivy/container/general.py
  ivy/func_wrapper.py
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/jax/experimental/linear_algebra.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/linear_algebra.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/tensorflow/__init__.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/linear_algebra.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/torch/__init__.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/frontends/jax/numpy/indexing.py
  ivy/functional/frontends/numpy/fft/discrete_fourier_transform.py
  ivy/functional/frontends/tensorflow/compat/v1/nn.py
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy/functional/frontends/torch/linalg.py
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/experimental/statistical.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/meta.py
Labels: Exhaustive CI

#11544 triplet_margin_loss
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: PyTorch Frontend

#11935 Add logspace for jax frontend and its test
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#11928 Fix promote_types_of_inputs device for scalar and array input
  ivy/functional/frontends/jax/numpy/__init__.py
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/torch/__init__.py
  ivy/functional/ivy/data_type.py
Labels: PyTorch Frontend, JAX Frontend, NumPy Frontend, Ivy Functional API

#11956 instance frontends.torch.tensor_split
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#11784 Throwing warning if frameworks get imported on importing ivy
  ivy/__init__.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, Array API, Ivy Functional API, Ivy API Experimental

#11918 Implemented front jax numpy subtract
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#11592 Unstack
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#11709 Updated docstring
  ivy/array/general.py
  ivy/container/general.py
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#11561 unique_all implementation
  ivy/functional/backends/paddle/set.py
Labels: Paddle Paddle Backend

#11831 Fliplr
  ivy/functional/backends/paddle/experimental/manipulation.py
Labels: Paddle Paddle Backend

#11951 Adding statistical functions to paddle backend
  ivy/functional/backends/paddle/experimental/statistical.py
Labels: Paddle Paddle Backend

#11897 Added diff to torch frontend
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#11838 append function
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy/functional/frontends/numpy/manipulation_routines/adding_and_removing_elements.py
  ivy/functional/frontends/numpy/manipulation_routines/changing_number_of_dimensions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_adding_and_removing_elements.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_changing_number_of_dimensions.py
Labels: NumPy Frontend

#11932 added broadcast_arrays & broadcast_shapes functions
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: JAX Frontend

#12135 Add logical_xor to jax numpy logic frontend
  ivy/functional/frontends/jax/numpy/logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
Labels: JAX Frontend

#12197 re_uploading nanstd function
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend

#12201 Fixing logic functions in the numpy frontend
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_logical_operations.py
Labels: NumPy Frontend

#12097 Add FloorMod operation for Tensorflow frontend
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#11695 adding unravel_index, hstack and vstack
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/backends/paddle/experimental/statistical.py
Labels: Paddle Paddle Backend

#12132 Paddle paddle
  ivy/functional/backends/paddle/experimental/statistical.py
Labels: Paddle Paddle Backend

#12179 functional: paddle.random: implement randint and random_uniform
  ivy/functional/backends/paddle/random.py
  ivy/functional/ivy/random.py
Labels: Ivy Functional API, Paddle Paddle Backend

#12210 added jax.numpy.roll function
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend

#12104 isreal
  ivy/functional/frontends/numpy/logic/truth_value_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_truth_value_testing.py
Labels: NumPy Frontend

#11830 added atleast1d
  ivy/functional/frontends/numpy/manipulation_routines/changing_number_of_dimensions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_changing_number_of_dimensions.py
Labels: NumPy Frontend

#12206 Implement multilabel_soft_margin_loss
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: PyTorch Frontend

#12320 #11197 : Added block in jax.numpy frontend
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend, Ivy API Experimental

#12123 Modifying array construction to support `isinstance` checks
  ivy/functional/backends/jax/data_type.py
  ivy/functional/backends/numpy/data_type.py
  ivy/functional/backends/tensorflow/data_type.py
  ivy/functional/backends/torch/data_type.py
Labels: Array API

#11828 tril_indices for numpy frontend
  .gitignore
  ivy/functional/frontends/numpy/indexing_routines/indexing_like_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_indexing_like_operations.py
Labels: NumPy Frontend

#12008 ApproximateEqual
  .idea/ivy.iml
  .idea/misc.xml
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#11899 Added torch.trapezoid frontend and tested
  ivy/functional/frontends/torch/blas_and_lapack_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_blas_and_lapack_ops.py
Labels: PyTorch Frontend

#12173 Added an assertion to check if the x64 flag is enabled, also checks i…
  ivy/func_wrapper.py
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/jax/data_type.py
  ivy/functional/backends/numpy/creation.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/data_type.py
  ivy/utils/assertions.py
Labels: Ivy Functional API

#11852 added add_n function
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#12202 added top_k
  ivy/functional/frontends/jax/lax/operators.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
Labels: JAX Frontend

#11994 gaussian_nll_loss
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_loss_functions.py
Labels: PyTorch Frontend

#11980 Add jax creation identity
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#12363 jax.numpy: Added around function to jax frontend.
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#12377 Closes #12032 (frontend.numpy.logic.iscomplexobj)
  ivy/functional/frontends/numpy/logic/truth_value_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_truth_value_testing.py
Labels: NumPy Frontend

#12009 Angle
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#11789 Updated ivy.linear to be a mixed function
  ivy/func_wrapper.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/ivy/layers.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
  ivy_tests/test_ivy/test_misc/test_func_wrapper.py
Labels: Ivy Functional API

#12124 Fix the Import behaviour of nvidia-ml-py ( pynvml )
  ivy/functional/ivy/device.py
  ivy_tests/test_ivy/test_functional/test_core/test_device.py
Labels: Ivy Functional API

#12325 added jax.numpy.rot90 function
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend

#12205 nanvar
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend

#12322 added jax.numpy.dstack function
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend

#12108 Fix failing test
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#12219 Adding vstack to paddle backend
  ivy/functional/backends/paddle/experimental/manipulation.py
Labels: Paddle Paddle Backend

#12335 Added Bitwise_or_ in Pytorch instance method
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#12447 fix frontend torch.numpy to return the numpy frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#12434 #12433
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_searching_sorting.py
Labels: JAX Frontend

#12431 Added lu_matrix_inversrse to tf.linalg frontend #12373
  ivy/functional/frontends/tensorflow/linalg.py
Labels: TensorFlow Frontend

#12459 Add avg pool1d torch frontend
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pooling_functions.py
Labels: PyTorch Frontend

#11806 added atan2_ tensor function
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#12328 added bitwise_and_ tensor function
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#12469 sort_complex_function
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_searching_sorting.py
Labels: JAX Frontend

#12480 Added logaddexp function to paddle backend
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#12392 implemented tril_indices and respective tests
  ivy/functional/frontends/jax/numpy/indexing.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_indexing.py
Labels: JAX Frontend

#12462 Bug fix no Numpy frontend prod on TensorFlow
  ivy/functional/frontends/numpy/mathematical_functions/sums_products_differences.py
Labels: NumPy Frontend

#12095 trim_zeros
  ivy/functional/frontends/numpy/manipulation_routines/adding_and_removing_elements.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_adding_and_removing_elements.py
Labels: NumPy Frontend

#11985 Repair `torch.nn.functional.gelu` function
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#11978 conj
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#11808 Implementing frontend.numpy.isrealobj
  ivy/functional/frontends/numpy/logic/truth_value_testing.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_logic/test_truth_value_testing.py
Labels: NumPy Frontend

#12429 Reformat linear_algebra/Outer
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
Labels: Array API

#12515 added std in jax frontend
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend

#12374 Added Paddle shuffle Function
  ivy/functional/backends/paddle/random.py
Labels: Paddle Paddle Backend

#11919 Implementing the `dot` BLAS and LAPACK Operation
  ivy/functional/frontends/torch/blas_and_lapack_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_blas_and_lapack_ops.py
Labels: PyTorch Frontend

#12178 Add copy for jax frontend and its test
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#12529 Add frexp for jax frontend and its test
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#12483 Exploring and fixing support of device submodule functions on the GPU (First half)
  ivy/functional/backends/jax/device.py
  ivy/functional/backends/numpy/device.py
  ivy/functional/backends/tensorflow/device.py
  ivy/functional/backends/torch/device.py
  ivy/functional/ivy/device.py
  ivy_tests/test_ivy/test_functional/test_core/test_device.py
Labels: Ivy Functional API

#12567 torch broadcast_shapes
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#12578 lint fixes as the lint bot is not commiting these days (#1)
  ivy/__init__.py
  ivy/array/linear_algebra.py
  ivy/container/linear_algebra.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/torch/blas_and_lapack_ops.py
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_image/test_cropping.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_blas_and_lapack_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pooling_functions.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
  multiversion_backend_test.py
  multiversion_frontend_test.py
  run_tests.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, Array API, Ivy Functional API

#12588 row_stack
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_searching_sorting.py
Labels: JAX Frontend

#11867 Omarragi9 patch 3
  ivy/functional/frontends/numpy/manipulation_routines/rearranging_elements.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#12100 Adding multiple Raw Ops to TensorFlow frontend
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#12506 Eigh frontends + tests for numpy & torch
  ivy/functional/frontends/numpy/linalg/matrix_eigenvalues.py
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_matrix_eigenvalues.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend, NumPy Frontend

#12552 Add angle function to NumPy Frontend
  ivy/functional/frontends/numpy/mathematical_functions/handling_complex_numbers.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_handling_complex_numbers.py
Labels: NumPy Frontend, Ivy Functional API

#12623 Adding complex dtypes to numeric
  ivy/__init__.py
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/tensorflow/__init__.py
  ivy/functional/backends/torch/__init__.py
  ivy_tests/test_ivy/test_functional/test_core/test_dtype.py
Labels: Ivy Functional API

#11526 Add single for jax frontend and test
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#12110 adding nanpercentile to numpy frontend
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
Labels: NumPy Frontend

#12339 Implement and test Tensorflow random shuffle function
  ivy/functional/frontends/tensorflow/random.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_random.py
Labels: TensorFlow Frontend

#12732 Added sqrt_ function to torch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#12514 added rollaxis to numpy frontend
  ivy/functional/frontends/numpy/manipulation_routines/transpose_like_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_transpose_like_operations.py
Labels: NumPy Frontend

#12410 add eig to numpy frontend
  ivy/functional/frontends/numpy/linalg/matrix_eigenvalues.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_matrix_eigenvalues.py
Labels: NumPy Frontend

#12767 Atleast 2d
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#12802 added jax.numpy.tile function
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
Labels: JAX Frontend

#12805 Fix tensorflow shuffle issue
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/torch/random.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_random.py
Labels: TensorFlow Frontend

#12549 Updated docstring with relevant error raise and examples
  ivy/data_classes/array/set.py
  ivy/data_classes/container/set.py
  ivy/functional/ivy/set.py
Labels: Array API, Ivy Functional API

#12783 added fliplr and tested
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#13003 #12907 reciprocal funct added to numpy frontend
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
Labels: NumPy Frontend

#13020 Update test_raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#13028 fixed inplace updates problem in ivy.nested_map
  ivy/functional/ivy/nest.py
Labels: Ivy Functional API

#13013 added constant_pad to paddle backend
  ivy/functional/backends/paddle/manipulation.py
Labels: Paddle Paddle Backend

#13008 Implementing bitwise_xor method to PyTorch Frondend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#13032 atleast_1d
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#11921 #10505 : Conv2D Operations for TensorFlow frontend
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#13080 Add adjoint function for TensorFlow frontend
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#12781 Corrcoefjax
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend

#12908 to_ivy support for `np.ndarrays` in all backends
  ivy/data_classes/array/conversions.py
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/ivy/creation.py
Labels: Exhaustive CI

#12858 added standard_normal function
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: JAX Frontend, NumPy Frontend

#12913 Adding PaddlePaddle to general functions
  ivy/functional/backends/paddle/general.py
Labels: Paddle Paddle Backend

#12914 Adding general function in PaddlePaddle
  ivy/functional/backends/paddle/general.py
Labels: Paddle Paddle Backend

#13049 Reformat gather
  ivy/data_classes/array/general.py
  ivy/data_classes/container/general.py
  ivy/functional/ivy/general.py
Labels: Reformatting, Ivy Functional API

#12950 added gather function to paddle backend
  ivy/functional/backends/paddle/general.py
Labels: Paddle Paddle Backend

#13177 jax tril_indices_from
  ivy/functional/frontends/jax/numpy/indexing.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_indexing.py
Labels: JAX Frontend

#12997 All
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#13143 tensorflow_sinh
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend, NumPy Frontend

#13021 Fixed ndarray.test_numpy_instance_abs__ #12456
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#12455 Generating frontend arrays in frontend tests
  ivy/functional/frontends/jax/__init__.py
  ivy/functional/frontends/jax/numpy/__init__.py
  ivy/functional/frontends/mxnet/__init__.py
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/torch/__init__.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/test_parameter_flags.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
Labels: Exhaustive CI

#12948 Added floor function to numpy frontend
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/mathematical_functions/rounding.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_rounding.py
Labels: NumPy Frontend

#13068 Reformat einops_repeat
  ivy/data_classes/array/general.py
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#13176 Jax frontend triu_indices_from, triu_indices
  ivy/functional/frontends/jax/numpy/indexing.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_indexing.py
Labels: JAX Frontend

#13170 Fixes sequence of wrapper decorators for ivy functions
  ivy/functional/ivy/activations.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/experimental/activations.py
  ivy/functional/ivy/experimental/creation.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/losses.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/experimental/random.py
  ivy/functional/ivy/experimental/statistical.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/losses.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/norms.py
  ivy/functional/ivy/random.py
  ivy/functional/ivy/searching.py
  ivy/functional/ivy/set.py
  ivy/functional/ivy/sorting.py
  ivy/functional/ivy/statistical.py
  ivy/functional/ivy/utility.py
Labels: Ivy Functional API

#13202 Adding inplace_variables_supported to PaddlePaddle backend
  ivy/functional/backends/paddle/general.py
Labels: Paddle Paddle Backend

#13196 Merge Paddle branch with master
  ivy/data_classes/container/base.py
  ivy/functional/backends/paddle/__init__.py
  ivy/functional/backends/paddle/activations.py
  ivy/functional/backends/paddle/control_flow_ops.py
  ivy/functional/backends/paddle/creation.py
  ivy/functional/backends/paddle/data_type.py
  ivy/functional/backends/paddle/device.py
  ivy/functional/backends/paddle/elementwise.py
  ivy/functional/backends/paddle/experimental/__init__.py
  ivy/functional/backends/paddle/experimental/activations.py
  ivy/functional/backends/paddle/experimental/compilation.py
  ivy/functional/backends/paddle/experimental/converters.py
  ivy/functional/backends/paddle/experimental/creation.py
  ivy/functional/backends/paddle/experimental/data_type.py
  ivy/functional/backends/paddle/experimental/device.py
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/paddle/experimental/general.py
  ivy/functional/backends/paddle/experimental/gradients.py
  ivy/functional/backends/paddle/experimental/layers.py
  ivy/functional/backends/paddle/experimental/linear_algebra.py
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/backends/paddle/experimental/norms.py
  ivy/functional/backends/paddle/experimental/random.py
  ivy/functional/backends/paddle/experimental/searching.py
  ivy/functional/backends/paddle/experimental/set.py
  ivy/functional/backends/paddle/experimental/sorting.py
  ivy/functional/backends/paddle/experimental/sparse_array.py
  ivy/functional/backends/paddle/experimental/statistical.py
  ivy/functional/backends/paddle/experimental/utility.py
  ivy/functional/backends/paddle/general.py
  ivy/functional/backends/paddle/gradients.py
  ivy/functional/backends/paddle/layers.py
  ivy/functional/backends/paddle/linear_algebra.py
  ivy/functional/backends/paddle/manipulation.py
  ivy/functional/backends/paddle/random.py
  ivy/functional/backends/paddle/searching.py
  ivy/functional/backends/paddle/set.py
  ivy/functional/backends/paddle/sorting.py
  ivy/functional/backends/paddle/statistical.py
  ivy/functional/backends/paddle/utility.py
  ivy/functional/frontends/numpy/__init__.py
  ivy_tests/test_ivy/conftest.py
  ivy_tests/test_ivy/helpers/available_frameworks.py
  ivy_tests/test_ivy/helpers/globals.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
  ivy_tests/test_ivy/test_functional/test_core/test_dtype.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
  requirements/optional.txt
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Ivy Functional API, Paddle Paddle Backend
