Repository ivy-llc/ivy, pull requests merged in 2023-12, with the labels that each got.

#26064 feat: added `floor_mod` in paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27426 fix: Fixed typos (used `codespell` pre-commit hook)
  ivy/data_classes/array/experimental/creation.py
  ivy/data_classes/container/base.py
  ivy/data_classes/container/experimental/creation.py
  ivy/engines/XLA/rust_api/xla_rs/xla_rs.cc
  ivy/functional/ivy/experimental/activations.py
  ivy/functional/ivy/experimental/creation.py
  ivy/functional/ivy/general.py
  ivy/stateful/module.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/general_helpers.py
  scripts/backend_generation/generate.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#27424 refactor: Refactored to make the code more readable and better.
  ivy/data_classes/array/conversions.py
  ivy/data_classes/container/container.py
  ivy/functional/backends/jax/experimental/losses.py
  ivy/functional/backends/numpy/experimental/losses.py
  ivy/functional/backends/paddle/experimental/losses.py
  ivy/functional/backends/tensorflow/device.py
  ivy/functional/backends/tensorflow/experimental/losses.py
  ivy/functional/backends/torch/sorting.py
  ivy/functional/frontends/jax/numpy/fft.py
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/numpy/broadcast/methods.py
  ivy/functional/frontends/numpy/fft/discrete_fourier_transform.py
  ivy/functional/frontends/numpy/linalg/solving_equations_and_inverting_matrices.py
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/torch/linalg.py
  ivy/functional/frontends/torch/nn/modules/module.py
  ivy/stateful/converters.py
  ivy/utils/einsum_path_helpers.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_lax/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_random.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linalg/test_decompositions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linalg/test_matrix_and_vector_products.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linalg/test_matrix_eigenvalues.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linalg/test_solving_equations_and_inverting_matrices.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
  ivy_tests/test_ivy/test_frontends/test_scipy/test_linalg/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_keras/test_activations.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_blas_and_lapack_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
  ivy_tests/test_ivy/test_misc/test_backend_utils/test_backend_handler.py
  scripts/test_dependencies.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Array API, Paddle Frontend, Paddle Paddle Backend

#27445 fix: Improved error handling by raising `ValueError`
  ivy/functional/frontends/tensorflow/linalg.py
Labels: TensorFlow Frontend

#27448 fix: Added missing `staticmethod` decorator
  ivy/data_classes/factorized_tensor/parafac2_tensor.py
Labels: IN-Ivy Data Classes

#27453 Added logical_xor to torch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#27442 feat: Updated `jax` version to 0.4.21
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/jax/experimental/random.py
  ivy/functional/backends/jax/experimental/sorting.py
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/jax/searching.py
  ivy/functional/backends/jax/sorting.py
  ivy/functional/backends/jax/statistical.py
  ivy/functional/frontends/__init__.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy/functional/frontends/jax/numpy/logic.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy/functional/frontends/jax/random.py
Labels: JAX Frontend

#25940 feat: implement add
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#26013 feat(frontends): Implemented acos for Paddle.tensor.tensor.Tensor
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27462 feat: add Numpy take function and its test
  ivy/functional/frontends/numpy/indexing_routines/indexing_like_operations.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_indexing_like_operations.py
Labels: NumPy Frontend

#27457 feat: implemeneted "argmin" sorting/searching method for JAX
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_searching_sorting.py
Labels: JAX Frontend

#27464 fix: Broke down `assertion statements` into multiple parts for better `debugging` purposes
  ivy/functional/backends/jax/sorting.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/numpy/sorting.py
  ivy/functional/backends/paddle/sorting.py
  ivy/functional/backends/tensorflow/sorting.py
  ivy/functional/backends/torch/sorting.py
  ivy_tests/test_ivy/test_functional/test_core/test_random.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_random.py
Labels: Paddle Paddle Backend

#27651 feat: Paddle Frontend: tensor __lt__
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27732 feat: Added the data_format argument to ivy.adaptive_avg_pool2d to allow channel last input passed to the function, similar to other conv and pooling layers.
  ivy/data_classes/array/experimental/layers.py
  ivy/data_classes/container/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/frontends/mindspore/ops/function/nn_func.py
  ivy/functional/frontends/paddle/nn/functional/pooling.py
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy/functional/ivy/experimental/layers.py
  ivy/stateful/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
  ivy_tests/test_ivy/test_stateful/test_layers.py
Labels: PyTorch Frontend, Array API, Ivy Functional API, Ivy API Experimental, Paddle Frontend

#27736 fix: Fixed raising `TypeError` instead or `ValueError`
  ivy/functional/backends/jax/experimental/losses.py
  ivy/functional/backends/numpy/experimental/creation.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/losses.py
  ivy/functional/backends/numpy/sorting.py
  ivy/functional/backends/paddle/experimental/creation.py
  ivy/functional/backends/paddle/sorting.py
  ivy/functional/backends/tensorflow/experimental/losses.py
  ivy/functional/backends/tensorflow/sorting.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/backends/torch/sorting.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy/functional/frontends/torch/creation_ops.py
  ivy/utils/assertions.py
Labels: Bug Report

#27740 feat: Updated `black` formatter version and modified all the files according to it.
  .pre-commit-config.yaml
  ivy/data_classes/container/base.py
  ivy/data_classes/factorized_tensor/cp_tensor.py
  ivy/data_classes/factorized_tensor/tucker_tensor.py
  ivy/data_classes/nested_array/base.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/mxnet/creation.py
  ivy/functional/backends/mxnet/experimental/linear_algebra.py
  ivy/functional/backends/mxnet/experimental/norms.py
  ivy/functional/backends/mxnet/set.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/tensorflow/set.py
  ivy/functional/backends/torch/general.py
  ivy/functional/backends/torch/random.py
  ivy/functional/backends/torch/set.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/nest.py
  ivy/utils/backend/handler.py
  ivy/utils/exceptions.py
  ivy_tests/test_ivy/conftest.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/multiprocessing.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
  scripts/backend_generation/generate.py
  scripts/determine_tests/determine_tests.py
Labels: Ivy Functional API, Ivy API Experimental

#27753 feat: Updated `jax` version to 0.4.23
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/jax/experimental/random.py
  ivy/functional/backends/jax/experimental/sorting.py
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/jax/searching.py
  ivy/functional/backends/jax/sorting.py
  ivy/functional/backends/jax/statistical.py
  ivy/functional/frontends/__init__.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy/functional/frontends/jax/numpy/logic.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy/functional/frontends/jax/random.py
Labels: JAX Frontend

#27761 feat: Replaced `pydocstyle` with `ruff` and modified files accordingly
  .pre-commit-config.yaml
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/ivy/device.py
  ivy_tests/test_docstrings.py
  pyproject.toml
Labels: PyTorch Frontend, Ivy Functional API, Paddle Paddle Backend

#27734 refactor: Refactored and reformatted for better readability and efficiency
  ivy/data_classes/container/base.py
  ivy/functional/backends/jax/data_type.py
  ivy/functional/backends/jax/experimental/losses.py
  ivy/functional/backends/numpy/data_type.py
  ivy/functional/backends/numpy/experimental/losses.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/paddle/data_type.py
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/paddle/experimental/losses.py
  ivy/functional/backends/paddle/random.py
  ivy/functional/backends/tensorflow/data_type.py
  ivy/functional/backends/tensorflow/experimental/losses.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/torch/data_type.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/backends/torch/random.py
  ivy/functional/frontends/jax/lax/control_flow_operators.py
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/numpy/logic/truth_value_testing.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy/functional/frontends/paddle/nn/functional/common.py
  ivy/functional/frontends/paddle/nn/functional/loss.py
  ivy/functional/frontends/paddle/nn/functional/pooling.py
  ivy/functional/frontends/sklearn/tree/_splitter.py
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/tensorflow/tensor.py
  ivy/functional/frontends/tensorflow/variable.py
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy/functional/frontends/torch/nn/modules/module.py
  ivy/stateful/helpers.py
  ivy/stateful/module.py
  ivy/utils/assertions.py
  ivy/utils/backend/handler.py
  ivy/utils/einsum_path_helpers.py
  ivy/utils/exceptions.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_common.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
  ivy_tests/test_ivy/test_functional/test_core/test_nest.py
  ivy_tests/test_ivy/test_stateful/test_modules.py
  scripts/run_tests/run_tests.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Ivy Functional API, Paddle Frontend, Paddle Paddle Backend

#27762 feat: implemented tensorflow backend for lstm on cpu and gpu, and updated torch frontend lstm to use ivy.lstm_update
  ivy/functional/backends/tensorflow/layers.py
  ivy/functional/frontends/torch/nn/functional/layer_functions.py
  ivy/functional/ivy/layers.py
Labels: PyTorch Frontend, Ivy Functional API

#27760 feat: Updated `torch` version mapping from `2.1.1` to `2.1.2`
  ivy/functional/backends/torch/__init__.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/backends/torch/data_type.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/backends/torch/experimental/losses.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/norms.py
  ivy/functional/backends/torch/experimental/random.py
  ivy/functional/backends/torch/experimental/sorting.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/backends/torch/general.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/backends/torch/manipulation.py
  ivy/functional/backends/torch/norms.py
  ivy/functional/backends/torch/random.py
  ivy/functional/backends/torch/searching.py
  ivy/functional/backends/torch/set.py
  ivy/functional/backends/torch/sorting.py
  ivy/functional/backends/torch/statistical.py
  ivy/functional/frontends/__init__.py
  ivy/functional/frontends/torch/blas_and_lapack_ops.py
  ivy/functional/frontends/torch/comparison_ops.py
  ivy/functional/frontends/torch/creation_ops.py
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy/functional/frontends/torch/linalg.py
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy/functional/frontends/torch/nn/functional/convolution_functions.py
  ivy/functional/frontends/torch/nn/functional/distance_functions.py
  ivy/functional/frontends/torch/nn/functional/dropout_functions.py
  ivy/functional/frontends/torch/nn/functional/layer_functions.py
  ivy/functional/frontends/torch/nn/functional/linear_functions.py
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy/functional/frontends/torch/nn/functional/norms.py
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy/functional/frontends/torch/nn/functional/sparse_functions.py
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy/functional/frontends/torch/random_sampling.py
  ivy/functional/frontends/torch/reduction_ops.py
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/frontends/torch/tensor_functions.py
  ivy/functional/frontends/torch/utilities.py
  ivy/functional/frontends/torchvision/ops.py
Labels: PyTorch Frontend

#27459 feat: add segment_sum function to Ivy TensorFlow frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#27733 (fix)(TF backend): optimized the backend implementation of `ivy.linear` for TF backend to make use of `tf.matmul` for the 2D input case
  ivy/functional/backends/tensorflow/layers.py
Labels: Ivy Functional API

#27783 feat: implemented invert paddle instance method
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27777 feat: added numpy column stack function and its test
  ivy/functional/frontends/numpy/manipulation_routines/joining_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_joining_arrays.py
Labels: NumPy Frontend

#27433 feat: Paddle Frontend Implementation of Special method __long__
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#21745 fixed expm1 method in the PyTorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, Stale

#21804 Added logaddexp2 method to the PyTorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, Stale

#27365 feat: implement UnsortedSegmentProd function for Tensorflow Frontend
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#22587 Added flatten method to the Paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#22493 Added reshape_ method to the Paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#22460 Added squeeze method to the Paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27152 feat: Add extra arguments to min
  ivy/data_classes/array/statistical.py
  ivy/data_classes/container/statistical.py
  ivy/functional/backends/jax/statistical.py
  ivy/functional/backends/numpy/statistical.py
  ivy/functional/backends/paddle/statistical.py
  ivy/functional/backends/tensorflow/statistical.py
  ivy/functional/backends/torch/statistical.py
  ivy/functional/ivy/statistical.py
  ivy_tests/test_ivy/test_functional/test_core/test_statistical.py
Labels: Array API, Ivy Functional API, PaddlePaddle Backend

#27779 feat: Replaced `flake8` with `ruff` and removed `setup.cfg` by merging the configurations into `pyproject.toml`
  .pre-commit-config.yaml
  ivy/__init__.py
  ivy/data_classes/array/experimental/linear_algebra.py
  ivy/data_classes/container/base.py
  ivy/data_classes/factorized_tensor/cp_tensor.py
  ivy/data_classes/factorized_tensor/parafac2_tensor.py
  ivy/data_classes/factorized_tensor/tt_tensor.py
  ivy/functional/backends/numpy/manipulation.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/frontends/jax/numpy/manipulations.py
  ivy/functional/frontends/numpy/manipulation_routines/transpose_like_operations.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/losses.py
  ivy/utils/backend/handler.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
  ivy_tests/test_ivy/test_functional/test_core/test_device.py
  pyproject.toml
  setup.cfg
Labels: PyTorch Frontend, JAX Frontend, NumPy Frontend, Array API, Ivy Functional API, Ivy API Experimental, Paddle Frontend

#27738 refactor: Replaced `lambda` expressions with `def` functions
  ivy/__init__.py
  ivy/func_wrapper.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/ivy/experimental/layers.py
  ivy/utils/assertions.py
Labels: JAX Frontend, NumPy Frontend, Ivy Functional API, Ivy API Experimental

#27789 fix(torch-frontend): failing test for torch.Tensor.expand
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#26564 fix: torch.pow frontend function
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#22654 Added matmul method to the Paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27794 fix: Fixed passing of wrong key-word argument in `paddle.nn.functional.smooth_l1_loss()`
  ivy/functional/backends/paddle/experimental/losses.py
Labels: Paddle Paddle Backend

#27078 fix(torch-frontend): fix failing test for torch.nn.functional.group_norm
  ivy/functional/ivy/experimental/norms.py
Labels: Ivy Functional API, Ivy API Experimental

#27771 Added tf.keras.backend frontends and fixed unsupported dtypes function
  ivy/data_classes/array/array.py
  ivy/data_classes/container/experimental/layers.py
  ivy/functional/backends/jax/control_flow_ops.py
  ivy/functional/backends/numpy/control_flow_ops.py
  ivy/functional/backends/paddle/control_flow_ops.py
  ivy/functional/backends/paddle/elementwise.py
  ivy/functional/backends/paddle/manipulation.py
  ivy/functional/backends/paddle/random.py
  ivy/functional/backends/tensorflow/control_flow_ops.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/control_flow_ops.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/frontends/tensorflow/keras/__init__.py
  ivy/functional/frontends/tensorflow/keras/backend.py
  ivy/functional/frontends/tensorflow/nn.py
  ivy/functional/ivy/control_flow_ops.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/nest.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_keras/test_backend.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_linalg.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: TensorFlow Frontend, Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#27004 feat: implementation of torch.cdist function to pytorch frontend.
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#27805 Fixed the test failures for tensor.torch.Tensor.__rmul__
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#27817 fix: fixed tanh paddle backend failing test
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend
