Repository ivy-llc/ivy, pull requests merged in 2023-06, with the labels that each got.

#16018 Implemented ivy.reduce and refactored jax.lax.reduce_window
  ivy/data_classes/array/experimental/general.py
  ivy/data_classes/container/base.py
  ivy/data_classes/container/experimental/general.py
  ivy/func_wrapper.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/numpy/experimental/general.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/tensorflow/experimental/linear_algebra.py
  ivy/functional/backends/torch/general.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/ivy/experimental/general.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_general.py
Labels: JAX Frontend, Array API, Ivy Functional API, Ivy API Experimental

#14677 Added 'cond' function to tensorflow frontend with testing
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#15959 added avg_pool1d to TensorFlow nn frontend and tested
  ivy/functional/frontends/tensorflow/nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
Labels: TensorFlow Frontend

#16131 Add rfftfreq numpy frontend
  ivy/functional/frontends/numpy/fft/discrete_fourier_transform.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_fft/test_discrete_fourier_transform.py
Labels: NumPy Frontend

#16135 Fix ivy.fft
  ivy/data_classes/container/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Ivy Functional API, Ivy API Experimental

#16158 `tf.linalg.matmul` fix
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#16159 fixed item method not working for single element with more than one dimension
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#15963 Xbouroseu/experimental/idct
  ivy/data_classes/array/experimental/layers.py
  ivy/data_classes/container/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#16033 addr_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#16123 implemented cummax function to PyTorch Frontend
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#15738 Add ihfft to numpy frontend
  ivy/functional/frontends/numpy/fft/discrete_fourier_transform.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_fft/test_discrete_fourier_transform.py
Labels: NumPy Frontend

#16206 fix fast fourier transforms for tensorflow backend
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/frontends/numpy/fft/discrete_fourier_transform.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_fft/test_discrete_fourier_transform.py
Labels: NumPy Frontend, Ivy Functional API, Ivy API Experimental

#15923 Iterable jax
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#16212 paddle moveaxis doesn't support tuple axis
  ivy/functional/backends/paddle/linear_algebra.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: Paddle Paddle Backend

#16192 Added hardtanh activation function and test to PaddlePaddle frontend
  ivy/functional/frontends/paddle/nn/functional/activation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_paddle_activation.py
Labels: PaddlePaddle Frontend

#16209 Close #16208
  ivy/functional/backends/paddle/experimental/random.py
  ivy/functional/backends/paddle/experimental/statistical.py
Labels: PaddlePaddle Backend, Paddle Paddle Backend

#15830 Jax numpy size
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_creation.py
Labels: JAX Frontend

#16250 Test sweep list for test_frontends.test_jax
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_manipulation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend

#16305 update the supported dtypes in the activations submodule
  ivy/functional/backends/jax/activations.py
  ivy/functional/backends/numpy/activations.py
  ivy/functional/backends/paddle/activations.py
  ivy/functional/backends/paddle/experimental/activations.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
Labels: Paddle Paddle Backend

#15528 Adding torch backend decorator to handle numpy arrays
  ivy/func_wrapper.py
  ivy/functional/backends/torch/elementwise.py
Labels: NumPy Frontend, Exhaustive CI

#16155 Moved jax.lax.reduce_window to the experimental api
  ivy/data_classes/array/experimental/layers.py
  ivy/data_classes/container/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/ivy/experimental/general.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_lax_operators.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: JAX Frontend, Array API, Ivy Functional API, Ivy API Experimental

#15652 Test sweep list for test_frontends.test_torch
  ivy_tests/test_ivy/test_frontends/test_torch/test_blas_and_lapack_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_comparison_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_distance_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#15992 Test sweep list for test_frontends.test_tensorflow
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_signal.py
Labels: TensorFlow Frontend

#16297 fix torch.addcdiv tests by adding unsupported dtype is bfloat16 as there was a little difference between ground truth and backend
  ivy/functional/frontends/torch/pointwise_ops.py
Labels: PyTorch Frontend

#16302 add asfarray implementation and test
  ivy/functional/frontends/numpy/manipulation_routines/changing_array_shape.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_changing_array_shape.py
Labels: NumPy Frontend

#16341 Revert "fix tests of torch.lerp function by define min and max value"
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/.ivy/key.pem
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#16358 update elementwise functions supported dtypes
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Paddle Paddle Backend

#14974 polydiv
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#16219 Added truncatediv to tensorflow frontend
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#16365 unsupported dtypes update for linalg submodule
  ivy/functional/backends/paddle/experimental/linear_algebra.py
  ivy/functional/backends/paddle/linear_algebra.py
  ivy/functional/ivy/experimental/linear_algebra.py
Labels: Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#16380 Fixed failing __setitem__ case
  ivy/data_classes/array/array.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/paddle/general.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/torch/general.py
Labels: Array API

#16247 eq_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#16407 Update the tests of random experimental submodule
  ivy/data_classes/array/experimental/random.py
  ivy/data_classes/container/experimental/random.py
  ivy/functional/backends/jax/experimental/random.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/paddle/random.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/torch/experimental/random.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_random.py
Labels: Array API, Ivy API Experimental, Paddle Paddle Backend

#16421 Fixed failing __setitem__ case
  ivy/data_classes/array/array.py
Labels: Array API

#16406 ivy.with_backend parameter refactor
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_matrix/test_methods.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_Generator.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: Next Release, Suggestion, Ivy API Experimental

#16443 Changed unsupported dtypes to exclude bfloat16 because it was cause i…
  ivy/functional/frontends/torch/reduction_ops.py
Labels: PyTorch Frontend

#14392 Numpy Frontend Random Binomial Implementation
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#16306 greater_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#16288 tf_not_equal fix
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#16354 added weibull_min function and test to Jax frontend
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
Labels: JAX Frontend

#15806 #15805-expm1-torch-frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#16461 fixed clip in numpy frontend
  ivy/functional/backends/torch/manipulation.py
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
Labels: NumPy Frontend

#16487 Added the as_array argument to check_less, check_greater, check_equal, check_all, check_any and check_all_or_any_fn to avoid using ivy functions when the arguments aren't ivy arrays as it slowed down ivy.Shape creation and many other usages
  ivy/__init__.py
  ivy/data_classes/array/array.py
  ivy/data_classes/container/base.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/paddle/general.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/torch/general.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/frontends/numpy/ma/MaskedArray.py
  ivy/functional/frontends/numpy/matrix/methods.py
  ivy/functional/frontends/numpy/statistics/correlating.py
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/tensorflow/keras/metrics.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/nn.py
  ivy/functional/frontends/tensorflow/variable.py
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy/functional/frontends/torch/nn/functional/convolution_functions.py
  ivy/functional/frontends/torch/nn/functional/sparse_functions.py
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/experimental/sparse_array.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/random.py
  ivy/stateful/initializers.py
  ivy/utils/assertions.py
  ivy/utils/backend/handler.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_func_wrapper.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_func_wrapper.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_matrix/test_methods.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_func_wrapper.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
  ivy_tests/test_ivy/test_misc/test_array.py
  ivy_tests/test_ivy/test_misc/test_backend_handler.py
  ivy_tests/test_ivy/test_misc/test_exceptions.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#16495 docs: superset_behaviour bug from issue #16087
  docs/overview/deep_dive/superset_behaviour.rst
Labels: Bug Report

#16395 Add dropout2d and refactor dropout into primary and partial mixed implementations
  ivy/data_classes/array/layers.py
  ivy/data_classes/container/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/mxnet/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/paddle/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/frontends/torch/nn/functional/dropout_functions.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/layers.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_dropout_functions.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: PyTorch Frontend, Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#16311 global parameter properties
  ivy/__init__.py
  ivy/data_classes/array/array.py
  ivy/data_classes/array/general.py
  ivy/data_classes/container/base.py
  ivy/data_classes/container/general.py
  ivy/func_wrapper.py
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/frontends/numpy/ma/MaskedArray.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/general.py
  ivy/stateful/norms.py
  ivy/utils/exceptions.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
  ivy_tests/test_ivy/test_misc/test_exceptions.py
  ivy_tests/test_ivy/test_stateful/test_norms.py
Labels: NumPy Frontend, Array API, Ivy Functional API

#16573 Updating unsupported dtypes in set submodule
  ivy/functional/backends/paddle/set.py
  ivy/functional/backends/torch/set.py
Labels: Paddle Paddle Backend

#16555 remove `# noqa` from docstrings
  ivy/data_classes/array/elementwise.py
  ivy/data_classes/array/linear_algebra.py
  ivy/data_classes/container/elementwise.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/searching.py
  ivy/functional/ivy/set.py
  ivy/functional/ivy/sorting.py
  ivy/functional/ivy/statistical.py
  ivy/functional/ivy/utility.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#13910 added function put_along_axis in indexing_like_operations
  ivy/functional/frontends/numpy/indexing_routines/indexing_like_operations.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_indexing_like_operations.py
Labels: NumPy Frontend, Ivy Functional API, Ivy API Experimental

#16632 paddle tensorinv supports ndim from 0 to 9
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_solving_equations_and_inverting_matrices.py
Labels: NumPy Frontend

#16486 Updating unsupported dtypes in statistical submodule
  ivy/functional/backends/jax/statistical.py
  ivy/functional/backends/numpy/statistical.py
  ivy/functional/backends/paddle/experimental/statistical.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/tensorflow/statistical.py
  ivy/functional/backends/torch/statistical.py
Labels: Paddle Paddle Backend

#16655 Manipulation functions of dimension changing update for copy value from None to Default Boolean
  ivy/data_classes/array/experimental/manipulation.py
  ivy/data_classes/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#16239 Fixes inplace_update function
  ivy/func_wrapper.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/paddle/general.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/torch/general.py
  ivy/functional/ivy/general.py
Labels: Ivy Functional API, Paddle Paddle Backend

#16449 Revert changes made to ivy.Array.__iter__ with paddle backend in 1ade426
  ivy/data_classes/array/array.py
Labels: Array API

#16629 updated docs, added examples, fixed a bug with casting modes
  docs/overview/deep_dive/data_types.rst
  ivy/func_wrapper.py
Labels: Bug Report

#15067 Fixing cov test in numpy
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
Labels: NumPy Frontend, Ivy Functional API, Ivy API Experimental

#16134 adding max pool 3d in paddle layers
  ivy/functional/backends/paddle/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: PaddlePaddle Backend, Paddle Paddle Backend

#15796 adding max pool 2d in paddle backend
  ivy/functional/backends/paddle/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: PaddlePaddle Backend, Paddle Paddle Backend

#15769 fft2 #15557
  ivy/data_classes/array/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Ivy Functional API, Ivy API Experimental

#16731 add missing @to_ivy_arrays_and_back to torch frontend activations
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
Labels: PyTorch Frontend

#16494 added torch frontend linalg function solve_ex
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#16548 Added jax.random.pareto and the test functions.
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_random.py
Labels: JAX Frontend

#16270 Add torch.Tensor.var implementation and test
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#16538 added band_part to tensorflow frontend
  ivy/functional/frontends/tensorflow/linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
Labels: TensorFlow Frontend

#16275 Add torch.Tensor.narrow implementation and test
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#16268 Add torch.Tensor.as_strided implementation and test
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#17004 Add torch.Tensor.baddbmm implementation and test
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#16303 Added truncatemod tensorflow frontend function
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#16718 fix reduce_window
  ivy/functional/ivy/experimental/layers.py
Labels: Ivy Functional API, Ivy API Experimental

#16463 Add frontend numpy require
  ivy/functional/frontends/numpy/manipulation_routines/changing_array_shape.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_changing_array_shape.py
Labels: NumPy Frontend

#16667 added AdaptiveAvgPool1d stateful and test
  ivy/functional/ivy/experimental/layers.py
  ivy/stateful/layers.py
  ivy_tests/test_ivy/test_stateful/test_layers.py
Labels: Ivy Functional API, Ivy API Experimental

#17000 Add torch.Tensor.floor_ implementation and test
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#17079 Add torch.Tensor.diag implementation and test
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#17080 Fix the torch.Tensor.floor_ signature to match the one from the actual pytorch one
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#16467 added frontend test for jax.numpy.conjugate
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_math.py
Labels: JAX Frontend

#16091 added bincount function to numpy frontend
  ivy/functional/frontends/numpy/statistics/histograms.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_histograms.py
Labels: NumPy Frontend

#14064 Implemented frombuffer frontend and testing
  ivy/functional/frontends/numpy/creation_routines/from_existing_data.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_creation_routines/test_from_existing_data.py
Labels: NumPy Frontend

#17062 Add torch.Tensor.gather implementation and test
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#17150 Add torch.Tensor.take_along_dim implementation and test
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#16586 is_quantized added to torch.frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#16068 added partition and its testing to numpy frontend.
  ivy/functional/frontends/numpy/sorting_searching_counting/sorting.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_sorting_searching_counting/test_sorting.py
Labels: NumPy Frontend

#17361 Changed tests of torch.tensordot instead of adding min_value and max_…
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#16652 Added Cumsum instance method to Jax NUmpy Frontend
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
Labels: JAX Frontend

#16317 Jax devicearray sort
  ivy/functional/frontends/jax/devicearray.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_devicearray.py
Labels: JAX Frontend

#17154 fix 'embedding' function in the ivy functional api
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
Labels: Ivy Functional API, Ivy API Experimental

#16991 EHN: adiing isinf in paddle.tenisr.tesnor.tesnor
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17158 fix 'embedding' frontend function for torch and tf
  ivy/functional/frontends/torch/nn/functional/sparse_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_sparse_functions.py
Labels: PyTorch Frontend, TensorFlow Frontend

#17090 fixed paddle.tanh not supporting `float16` dtype natively
  ivy/functional/frontends/paddle/tensor/math.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#16381 Fixing __repr__ function in array
  ivy/__init__.py
Labels: Array API

#16717 Fixing array stacking functions tests
  ivy/functional/frontends/numpy/manipulation_routines/joining_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_generating_index_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_inserting_data_into_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_joining_arrays.py
Labels: NumPy Frontend

#17213 Bug fix for `stop_after_n_found` argument in `nested_argwhere`
  ivy/functional/ivy/nest.py
Labels: Ivy Functional API

#17403 binomial approximation using poisson
  ivy/functional/frontends/numpy/random/functions.py
Labels: NumPy Frontend

#17092 solve-paddle-frontend
  ivy/functional/frontends/paddle/tensor/linalg.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_linalg.py
Labels: Paddle Frontend

#17053 EHN: adding isfinite inpaddle.tesnor.tensor.tesnor
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#16440 Fix reptile_step implementation
  ivy/functional/ivy/meta.py
Labels: Ivy Functional API

#17406 Fix torch.tensor.logical_not_ method causing test_torch_instance_logical_not_ failure
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#17162 integer-paddle-frontend
  ivy/functional/frontends/paddle/tensor/attribute.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_attribute.py
Labels: Paddle Frontend

#17365 Fix reduction_ops.test_torch_unique
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#16996 add paddle.tensor.math.deg2rad
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
Labels: Paddle Frontend

#17401 Added arccosh to frontend and added testing
  ivy/functional/frontends/numpy/mathematical_functions/trigonometric_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_trigonometric_functions.py
Labels: NumPy Frontend

#17433 paddle.tile
  ivy/functional/frontends/paddle/tensor/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_manipulation.py
Labels: Paddle Frontend

#17170 real-paddle-frontend
  ivy/functional/frontends/paddle/tensor/attribute.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_attribute.py
Labels: Paddle Frontend

#16553 EHN: adding erf in paddle.tensor.tensor.Tensor
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#16186 Adding `tf.foldl` to ivy frontends along with tests
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#15884 Pool (#15879)
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/frontends/tensorflow/nn.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
Labels: TensorFlow Frontend, Ivy Functional API, Ivy API Experimental

#16633 Frontend paddle tensor tensor multiply
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17399 add jax.numpy.cov to jax frontend
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_jax_numpy_statistical.py
Labels: JAX Frontend

#17506 Fix torch.tensor.new_zeros signature and args passing to torch_frontend.zeros which were causing test_torch_instance_new_zeros failing
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#17149 added amax feature
  ivy/functional/frontends/paddle/tensor/math.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#16489 EHN: adding subtract paddle.tenor.tensor.Tensor
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#16291 Added mish activation function and test for PaddlePaddle frontend
  ivy/functional/frontends/paddle/nn/functional/activation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_paddle_activation.py
Labels: Paddle Frontend

#17171 imag-paddle-frontend
  ivy/functional/frontends/paddle/tensor/attribute.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_attribute.py
Labels: Paddle Frontend

#16436 add numpy spacing frontend function
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/mathematical_functions/floating_point_routines.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_floating_point_routines.py
Labels: JAX Frontend, NumPy Frontend

#17561 Fix for Amax
  ivy/functional/frontends/paddle/tensor/math.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17419 logaddexp overflow prevention
  ivy/functional/backends/paddle/elementwise.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_exponents_and_logarithms.py
Labels: PyTorch Frontend, JAX Frontend, NumPy Frontend, Ivy Functional API, Ivy API Experimental, PaddlePaddle Backend, Paddle Frontend

#14667 Updated README.rst example code
  README.rst
Labels: Stale

#17516 fix ivy.dropout returning native arrays/tensors
  ivy/functional/ivy/layers.py
Labels: Ivy Functional API

#17462 EHN: adding square in paddle math.py
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
Labels: Paddle Frontend

#17448 multi_head_attention_forward torch frontend function
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#17397 added `ifftn` to ivy functional api
  ivy/data_classes/array/experimental/layers.py
  ivy/data_classes/container/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/paddle/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, PaddlePaddle Backend

#17589 Fixed exponent and logarithmic functions tests in the numpy frontend
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_exponents_and_logarithms.py
Labels: NumPy Frontend, PaddlePaddle Backend

#17594 fixed and made the trace function test exhaustive in numpy frontend
  ivy/functional/backends/paddle/linear_algebra.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_norms_and_other_numbers.py
Labels: NumPy Frontend, PaddlePaddle Backend

#16201 Added cosh instance method and test to PaddlePaddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17089 Add allclose, any and astype instance method to paddle.tensor.tensor.Tensor
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17538 Reciprocal
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
Labels: Paddle Frontend

#16319 added __rshift__ and its test
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#17617 fix the numpy slogdet failing tests due to unsupported dtype and squeeze positional args
  ivy/functional/backends/paddle/creation.py
  ivy/functional/frontends/numpy/linalg/norms_and_other_numbers.py
Labels: NumPy Frontend, PaddlePaddle Backend

#17586 Added gumbel_softmax
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#16719 Add support for list and tuple input in meshgrid function for torch_frontend
  ivy/functional/frontends/torch/miscellaneous_ops.py
Labels: PyTorch Frontend

#17518 Add 'isinf' instance method for PyTorch with testing.
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#17557 add frontend torch instance heaviside
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#16400 frontend numpy.linalg.cond
  ivy/functional/frontends/numpy/linalg/norms_and_other_numbers.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_linear_algebra/test_norms_and_other_numbers.py
Labels: JAX Frontend, NumPy Frontend

#17416 EHN: adding bitwise funtion in paddle tensor.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17474 Add 'Sign' paddle frontend
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
Labels: Paddle Frontend

#17635 Tensorflow unravel_index
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#17360 added paddle.nanquantile
  ivy/functional/frontends/paddle/tensor/stat.py
  ivy/functional/ivy/experimental/statistical.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_stat.py
Labels: Ivy Functional API, Ivy API Experimental, Paddle Frontend

#17443 Added the atan2 function for the paddle.tensor.math
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
Labels: Paddle Frontend

#17695 EHN: adding logical_xor in paddle tesnor.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#16768 Fixed inplace frontend testing and torch frontend inplace handling
  ivy/func_wrapper.py
  ivy/functional/frontends/torch/func_wrapper.py
  ivy/functional/frontends/torch/nn/functional/dropout_functions.py
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy_tests/test_ivy/helpers/function_testing.py
Labels: PyTorch Frontend

#16284 Implemented frontend for paddle.tensor.math.conj
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
Labels: Paddle Frontend

#17753 Add bfloat16 to torch.tensor.round unsupported dtypes
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#17081 added log_poisson_loss
  ivy/functional/frontends/tensorflow/nn.py
  ivy/functional/ivy/losses.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
  ivy_tests/test_ivy/test_functional/test_nn/test_losses.py
Labels: TensorFlow Frontend, Ivy Functional API

#17429 empty_like
  ivy/functional/frontends/paddle/tensor/creation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_creation.py
Labels: Paddle Frontend

#17664 paddle dropout function
  ivy/functional/frontends/paddle/nn/functional/common.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_paddle_common.py
Labels: Paddle Frontend

#17504 bitwise_not_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#17615 EHN: logical_or added in paddle tesnor.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17713 add paddle.split to paddle frontend
  ivy/functional/frontends/paddle/tensor/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_manipulation.py
Labels: Paddle Frontend

#17651 rsqrt-paddle-frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Paddle Frontend

#17660 All paddle frontend bug fix
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_tensor.py
Labels: Bug Report, Paddle Frontend

#16176 Added cumprod function and test in paddle.tensor.math for paddlepaddle Frontend
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_paddle_math.py
Labels: Paddle Frontend
