Repository ivy-llc/ivy, pull requests merged in 2023-09, with the labels that each got.

#22876 docstring formatting on ivy/functional/ivy/searching.py
  `_
  ivy/functional/ivy/searching.py
Labels: Ivy Functional API

#22370 Laplace Implementation
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#22704 Argmin
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#22281 Make ivy.sparse_array inherit from ivy.array
  ivy/data_classes/array/array.py
  ivy/functional/ivy/experimental/sparse_array.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_sparse_array.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#22806 hfft function and test implemented.
  ivy/functional/frontends/paddle/fft.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_fft.py
Labels: Paddle Frontend

#21997 Refactor `ivy.clip` function
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/numpy/manipulation.py
  ivy/functional/backends/paddle/manipulation.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/backends/torch/manipulation.py
  ivy_tests/test_ivy/test_functional/test_core/test_manipulation.py
Labels: Ivy Functional API, Paddle Paddle Backend

#22585 added sigmoid_focal_loss to paddle frontend and refactored mse_loss in paddle frontend
  ivy/functional/frontends/paddle/nn/functional/loss.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_loss.py
Labels: Paddle Frontend

#22462 Added squeeze_ method to the Paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#22896 fixed the bug in topk function
  ivy/functional/frontends/paddle/tensor/search.py
Labels: Paddle Frontend

#22504 Added ceil_ method to the Paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#22892 Added the test method for clip
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#22454 Added unsqueeze_ method to the Paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#21968 Added foldr for tensorflow frontend
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#22942 added the ceil_ function in paddle tensor math and test for it
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#22779 nansum added to paddle.tensor.math
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#21822 add frontend method torch.tensor.negative
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#22108 fixed paddle_linalg.test_paddle_norm
  ivy/functional/frontends/paddle/tensor/linalg.py
Labels: Paddle Frontend

#22590 Update nest.py
  ivy/functional/ivy/nest.py
Labels: Ivy Functional API

#22825 unique
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#20893 Paddle qr
  ivy/functional/frontends/paddle/tensor/linalg.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_linalg.py
Labels: PyTorch Frontend, Paddle Frontend

#22824 add reciprocal inplace function in paddle and passed all tests
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#22906 added clip_ frontend method
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#21549 Add `standard_t` function to numpy frontend
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#22805 add torch tensor maximum instance method with its test
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#22821 xlogy_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#22916 added_stop_gradient_tf
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#22959 added `digamma` in paddle frontend
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#22573 Added lerp_ method to the Paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#22485 Added rsqrt_ method to the Paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#22440 Numpy choice
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#22832 unique_consecutive
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#22947 add numpy.asscalar()
  ivy/functional/frontends/numpy/manipulation_routines/changing_kind_of_array.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_manipulation_routines/test_changing_kind_of_array.py
Labels: NumPy Frontend

#22911 Added paddle frontend softmax with cross entropy loss
  ivy/functional/frontends/paddle/nn/functional/loss.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_loss.py
Labels: Paddle Frontend

#22638 Fixed the Wrongly implemented dot function
  ivy/data_classes/array/experimental/linear_algebra.py
  ivy/data_classes/container/experimental/linear_algebra.py
  ivy/functional/backends/paddle/experimental/linear_algebra.py
  ivy/functional/backends/tensorflow/experimental/linear_algebra.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_linalg.py
Labels: Array API, Ivy API Experimental, Paddle Paddle Backend

#22907 added zipf function to numpy front end
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#22663 Added conjugate instance method to NumPy ndarray
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_ndarray/test_ndarray.py
Labels: NumPy Frontend

#17971 Added is_floating_point for Paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Stale, Paddle Frontend

#22384 Added torch frontend function diagflat
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#22366 Added tensorflow frontend function in raw_ops.py FFT2D
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#22150 Added random_ to torch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#22998 Updated deep dive section of docs.
  docs/overview/deep_dive/array_api_tests.rst
  docs/overview/deep_dive/arrays.rst
  docs/overview/deep_dive/backend_setting.rst
  docs/overview/deep_dive/building_the_docs_pipline.rst
  docs/overview/deep_dive/containers.rst
  docs/overview/deep_dive/continuous_integration.rst
  docs/overview/deep_dive/data_types.rst
  docs/overview/deep_dive/devices.rst
  docs/overview/deep_dive/docstring_examples.rst
  docs/overview/deep_dive/docstrings.rst
  docs/overview/deep_dive/exception_handling.rst
  docs/overview/deep_dive/formatting.rst
  docs/overview/deep_dive/function_arguments.rst
  docs/overview/deep_dive/function_types.rst
  docs/overview/deep_dive/function_wrapping.rst
  docs/overview/deep_dive/gradients.rst
  docs/overview/deep_dive/inplace_updates.rst
  docs/overview/deep_dive/ivy_frontends.rst
  docs/overview/deep_dive/ivy_frontends_tests.rst
  docs/overview/deep_dive/ivy_tests.rst
  docs/overview/deep_dive/navigating_the_code.rst
  docs/overview/deep_dive/superset_behaviour.rst
Labels: Documentation

#23005 added normal random at paddle frontend
  ivy/functional/frontends/paddle/tensor/random.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_random.py
Labels: Paddle Frontend

#22790 Renamed sqrt test function paddle
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#21855 Add OptionalGetElement Experimental Api
  ivy/data_classes/array/experimental/utility.py
  ivy/data_classes/container/experimental/utility.py
  ivy/functional/ivy/experimental/utility.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_utility.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#22078 Extend ivy functional API With mel_weight_matrix
  ivy/data_classes/array/experimental/creation.py
  ivy/data_classes/container/experimental/creation.py
  ivy/functional/backends/jax/experimental/creation.py
  ivy/functional/backends/numpy/experimental/creation.py
  ivy/functional/backends/paddle/experimental/creation.py
  ivy/functional/backends/tensorflow/experimental/creation.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/ivy/experimental/creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#23027 Fix : paddle_solve bug
  ivy/functional/frontends/paddle/tensor/linalg.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_linalg.py
Labels: Paddle Frontend

#22739 triu
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#23108 fix: nested maps on torch.compile for torch tensors
  ivy/data_classes/array/conversions.py
  ivy/data_classes/container/conversions.py
  ivy/func_wrapper.py
  ivy/functional/frontends/jax/func_wrapper.py
  ivy/functional/frontends/mxnet/func_wrapper.py
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/frontends/onnx/func_wrapper.py
  ivy/functional/frontends/paddle/func_wrapper.py
  ivy/functional/frontends/tensorflow/func_wrapper.py
  ivy/functional/frontends/torch/func_wrapper.py
  ivy/functional/ivy/nest.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Array API, Ivy Functional API, Paddle Frontend

#22993 Refactor exists
  ivy/data_classes/array/general.py
  ivy/data_classes/container/general.py
  ivy/functional/ivy/general.py
Labels: Array API, Ivy Functional API

#22539 Add torch frontend grid_sample and test function
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_vision_functions.py
Labels: PyTorch Frontend

#22610 feat(functional API): add general_inner_product and its test
  ivy/data_classes/array/experimental/linear_algebra.py
  ivy/data_classes/container/linear_algebra.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_linalg.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#23124 fix(ivy): uncommented handle_device_shifting from inplace update
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#22309 Added fft2 to Jax frontend
  ivy/functional/frontends/jax/numpy/fft.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_fft.py
Labels: JAX Frontend

#19716 Adding normalize to paddle frontend
  ivy/functional/frontends/paddle/nn/functional/norm.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_norm.py
Labels: Stale, Paddle Frontend

#23161 making asarray decorators private
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/mxnet/creation.py
  ivy/functional/backends/numpy/creation.py
  ivy/functional/backends/paddle/creation.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/ivy/creation.py
Labels: Ivy Functional API, Paddle Paddle Backend

#22925 Stanh
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#23070 frontend paddle exponential_
  ivy/functional/frontends/paddle/tensor/random.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_random.py
Labels: Paddle Frontend

#23186 refractored ivy-test nested-map
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: TensorFlow Frontend

#23183 Add frontend tensorflow meshgrid
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#22286 Add(torch.mvlgamma): Add mvlgamma to PyTorch Frontend
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
Labels: PyTorch Frontend

#23139 Frontend Paddle : repeat_interleave
  ivy/functional/frontends/paddle/tensor/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_manipulation.py
Labels: Paddle Frontend

#23193 22781 logistic jax frontend
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_random.py
Labels: JAX Frontend

#21955 `torch.linalg.norm` frontend
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#23114 Added updated digamma function for TensorFlow frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#23213 Made logit function support complex dtypes
  ivy/data_classes/array/experimental/activations.py
  ivy/data_classes/container/experimental/activations.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/paddle/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/ivy/experimental/activations.py
  ivy/stateful/activations.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
  ivy_tests/test_ivy/test_stateful/test_activations.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#22570 Update general.py
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#22872 Added trace method
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#22995 Added swish activation in Paddle frontend
  ivy/functional/frontends/paddle/nn/functional/activation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_activation.py
Labels: Paddle Frontend

#23289 Frontend Paddle: pixel_unshuffle
  ivy/functional/frontends/paddle/nn/functional/vision.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_vision.py
Labels: Paddle Frontend

#22637 Feature/add frontend function pytorch eigh
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#21858 fixed numpy.prod failing tests
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/frontends/numpy/mathematical_functions/sums_products_differences.py
Labels: NumPy Frontend

#23110 Ivy Functional API column_stack
  ivy/data_classes/array/experimental/manipulation.py
  ivy/data_classes/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#23358 fixing maxwell() for jax frontend
  ivy/functional/frontends/jax/random.py
Labels: JAX Frontend

#21264 For double sided maxwell
  ivy/functional/frontends/jax/random.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_random.py
Labels: JAX Frontend

#23058 Reformatted array_equal
  ivy/data_classes/array/general.py
  ivy/data_classes/container/general.py
  ivy/functional/backends/tensorflow/general.py
Labels: Array API

#23278 added paddle.nanmean function frontend and test for it
  ivy/functional/frontends/paddle/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: Paddle Frontend

#23273 added complex type decorator and arguments for logsigmoid
  ivy/data_classes/array/experimental/activations.py
  ivy/data_classes/container/experimental/activations.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/paddle/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/ivy/experimental/activations.py
  ivy/stateful/activations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_nn/test_non_linear_activations.py
Labels: JAX Frontend, Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#23389 fixed wrong returned shape of paddle.mean function
  ivy/functional/frontends/paddle/stat.py
Labels: Paddle Frontend

#23310 Simplified conditional logic using `De Morgan's law` at few places.
  ivy/functional/frontends/numpy/linalg/norms_and_other_numbers.py
  ivy/functional/frontends/torch/linalg.py
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy/functional/ivy/experimental/sparse_array.py
  ivy_tests/array_api_testing/write_array_api_tests_k_flag.py
  ivy_tests/test_ivy/test_functional/test_core/test_device.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
  ivy_tests/test_ivy/test_misc/test_array.py
  ivy_tests/test_ivy/test_misc/test_shape.py
  run_tests_CLI/array_api_det_coverage.py
Labels: PyTorch Frontend, NumPy Frontend, Ivy Functional API, Ivy API Experimental

#20909 Loss function for multilabel_soft_margin_loss in paddle frontend
  ivy/functional/frontends/paddle/nn/functional/loss.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_loss.py
Labels: Paddle Frontend

#23306 rfftfreq
  ivy/functional/frontends/paddle/fft.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_fft.py
Labels: Paddle Frontend

#22396 lcm_
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#22571 Added lerp method to the Paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#23054 Added kl_div loss to ivy experimental api
  ivy/data_classes/array/experimental/losses.py
  ivy/data_classes/container/experimental/losses.py
  ivy/functional/backends/jax/experimental/losses.py
  ivy/functional/backends/numpy/experimental/losses.py
  ivy/functional/backends/paddle/experimental/losses.py
  ivy/functional/backends/tensorflow/experimental/losses.py
  ivy/functional/backends/torch/experimental/losses.py
  ivy/functional/ivy/experimental/losses.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_losses.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#23445 Jax Frontend: from_dlpack
  ivy/functional/frontends/jax/numpy/creation.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_creation.py
Labels: JAX Frontend

#23364 Updated black formatter version in `.pre-commit-config.yaml` file and modified all the files according to it.
  .pre-commit-config.yaml
Labels: PyTorch Frontend, JAX Frontend, NumPy Frontend, Ivy Functional API, Paddle Frontend, Paddle Paddle Backend

#23442 fix(paddle_frontend): reinstate `repeat_interleave` at `manipulation.py` after namespace fix.
  ivy/functional/frontends/paddle/manipulation.py
Labels: Paddle Frontend

#23465 control_flow_ops refactor
  ivy/functional/backends/jax/control_flow_ops.py
  ivy/functional/backends/numpy/control_flow_ops.py
  ivy/functional/backends/tensorflow/control_flow_ops.py
  ivy/functional/backends/torch/control_flow_ops.py
  ivy/functional/frontends/torch/utilities.py
  ivy/functional/ivy/control_flow_ops.py
Labels: PyTorch Frontend, Ivy Functional API

#22934 Topk method added to paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#22870 Added jax.numpy.linalg.lstsq to JAX frontend
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_linalg.py
Labels: JAX Frontend

#22592 Update meta.py
  ivy/functional/ivy/meta.py
Labels: Ivy Functional API

#22581 Implement_stft_functional_api
  ivy/data_classes/array/experimental/layers.py
  ivy/data_classes/container/experimental/layers.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/paddle/experimental/layers.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/ivy/experimental/layers.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: TensorFlow Frontend, NumPy Frontend, Array API, Ivy Functional API, Ivy API Experimental

#23436 Complex dtype sigmoid
  ivy/data_classes/array/activations.py
  ivy/data_classes/container/activations.py
  ivy/functional/backends/jax/activations.py
  ivy/functional/backends/numpy/activations.py
  ivy/functional/backends/paddle/activations.py
  ivy/functional/backends/tensorflow/activations.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/ivy/activations.py
  ivy/stateful/activations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_nn/test_non_linear_activations.py
  ivy_tests/test_ivy/test_functional/test_nn/test_activations.py
Labels: JAX Frontend, Array API, Ivy Functional API, Paddle Paddle Backend

#22517 feat(frontend): Added kaiser_bessel_derived_window to tensorflow frontend
  ivy/functional/frontends/tensorflow/signal.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_signal.py
Labels: TensorFlow Frontend

#23479 feat: add subtract_
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#23599 Activation complex dtype relu6
  ivy/data_classes/array/experimental/activations.py
  ivy/data_classes/container/experimental/activations.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/paddle/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/frontends/tensorflow/nn.py
  ivy/functional/ivy/experimental/activations.py
  ivy/stateful/activations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_nn/test_non_linear_activations.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
Labels: JAX Frontend, Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#21754 pixel_unshuffle function added for Paddle Frontend
  ivy/functional/frontends/paddle/nn/functional/vision.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_vision.py
Labels: Paddle Frontend

#23620 fix: more efficient implementation of layernorm
  ivy/functional/ivy/norms.py
Labels: Ivy Functional API

#22038 add max_pool3d to pytorch frontend
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_pooling_functions.py
Labels: PyTorch Frontend

#23315 Added arctan2 math function for numpy
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/mathematical_functions/trigonometric_functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_trigonometric_functions.py
Labels: NumPy Frontend

#23538 (refactor): pass fn as first argument to nested_map to follow convention and remove redundant logic from nested functions
  ivy/data_classes/array/conversions.py
  ivy/data_classes/container/base.py
  ivy/data_classes/nested_array/base.py
  ivy/func_wrapper.py
  ivy/functional/backends/jax/gradients.py
  ivy/functional/backends/numpy/gradients.py
  ivy/functional/backends/paddle/creation.py
  ivy/functional/backends/paddle/gradients.py
  ivy/functional/backends/tensorflow/gradients.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/backends/torch/gradients.py
  ivy/functional/frontends/jax/func_wrapper.py
  ivy/functional/frontends/mxnet/func_wrapper.py
  ivy/functional/frontends/numpy/func_wrapper.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy/functional/frontends/onnx/func_wrapper.py
  ivy/functional/frontends/paddle/func_wrapper.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy/functional/frontends/tensorflow/func_wrapper.py
  ivy/functional/frontends/tensorflow/tensor.py
  ivy/functional/frontends/torch/func_wrapper.py
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/gradients.py
  ivy/functional/ivy/nest.py
  ivy/utils/backend/handler.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
  ivy_tests/test_ivy/test_functional/test_core/test_nest.py
  ivy_tests/test_ivy/test_stateful/test_modules.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Array API, Ivy Functional API, Paddle Frontend, Paddle Paddle Backend

#23612 feat(frontends): Creates a `__version__` variable when setting a frontend
  ivy/functional/frontends/__init__.py
  ivy/functional/frontends/jax/__init__.py
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/paddle/__init__.py
  ivy/functional/frontends/tensorflow/__init__.py
  ivy/functional/frontends/torch/__init__.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Paddle Frontend

#21573 feat: Dunder method patching to prioritise dunder methods of ivy.Array over native tensors
  ivy/functional/backends/mxnet/__init__.py
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/paddle/__init__.py
  ivy/functional/backends/tensorflow/__init__.py
  ivy/functional/backends/torch/__init__.py
  ivy_tests/test_ivy/test_misc/test_array.py
Labels: Paddle Paddle Backend

#22216 feat: added paddle frontend function for binary cross entropy
  ivy/functional/frontends/paddle/nn/functional/loss.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_nn/test_functional/test_loss.py
Labels: Paddle Frontend

#23609 added support for complex dtype in hardswish
  ivy/data_classes/array/activations.py
  ivy/data_classes/container/activations.py
  ivy/functional/backends/jax/activations.py
  ivy/functional/backends/numpy/activations.py
  ivy/functional/backends/paddle/activations.py
  ivy/functional/backends/tensorflow/activations.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/ivy/activations.py
  ivy/stateful/activations.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_nn/test_non_linear_activations.py
  ivy_tests/test_ivy/test_functional/test_nn/test_activations.py
Labels: JAX Frontend, Array API, Ivy Functional API, Paddle Paddle Backend

#23520 feat: hfft2 function and tests added to paddle frontend.
  ivy/functional/frontends/paddle/fft.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_fft.py
Labels: Paddle Frontend

#23282 Added count_nonzero to paddle_frontend
  ivy/functional/frontends/paddle/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: Paddle Frontend

#23176 added tanh_ function to paddle frontend and test
  ivy/functional/frontends/paddle/tensor/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_math.py
Labels: Paddle Frontend

#23588 feat: added ifft2
  ivy/functional/frontends/jax/numpy/fft.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_fft.py
Labels: JAX Frontend

#22644 refactor: fill_diagonal to allow array_like v
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Paddle Paddle Backend

#23698 feat: Fmax updated
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#23089 `TTTensor` class
  ivy/__init__.py
  ivy/data_classes/factorized_tensor/__init__.py
  ivy/data_classes/factorized_tensor/tt_tensor.py
  ivy/functional/ivy/experimental/creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
  ivy_tests/test_ivy/test_misc/test_tt_tensor.py
Labels: Ivy Functional API, Ivy API Experimental

#23274 Parafac2 class Implementation
  ivy/__init__.py
  ivy/data_classes/factorized_tensor/__init__.py
  ivy/data_classes/factorized_tensor/parafac2_tensor.py
  ivy/functional/ivy/experimental/creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
  ivy_tests/test_ivy/test_misc/test_parafac2_tensor.py
Labels: Ivy Functional API, Ivy API Experimental

#23411 Nansum Pytorch
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#21293 add ivy.erfc to ivy experimental API
  ivy/data_classes/array/experimental/elementwise.py
  ivy/data_classes/container/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/tensorflow/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/ivy/experimental/elementwise.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#23677 feat(numpy_frontends): implement `real_if_close` function.
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
Labels: NumPy Frontend

#23312 Fix: Removed the repeated Dictionary key literal `(_bool, _bool)` in 2 files.
  ivy/functional/frontends/mxnet/numpy/__init__.py
  ivy/functional/frontends/numpy/__init__.py
Labels: NumPy Frontend

#22979 feat(frontend): Add torch.complex, torch.polar and its tests
  ivy/functional/frontends/torch/creation_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
Labels: PyTorch Frontend

#23908 fix: torch cat axis argument fix
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#22980 Numpy vonmises
  ivy/functional/frontends/numpy/random/functions.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_random/test_functions.py
Labels: NumPy Frontend

#22740 xlogy
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#23206 feat : added nansum function for Pytorch frontend
  .idea/ivy.iml
  .idea/runConfigurations/_template__of_py_test.xml
  .idea/vcs.xml
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
Labels: PyTorch Frontend

#24137 fix: unsupported operand error in `__init__.py`
  ivy/__init__.py
Labels: Ivy Functional API

#23578 fix paddle.nanmedian frontend function
  ivy/functional/frontends/paddle/stat.py
Labels: Paddle Frontend

#23978 fix: ivy.is_complex_dtype is crashing for bfloat16 in case no backend is set.
  ivy_tests/test_ivy/helpers/function_testing.py
Labels: Next Release, Suggestion, Ivy API Experimental

#23390 feat: Implemented `digamma` as Tensor Instance Methods to Paddle Frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#23455 Fix: repeate_interleave key error
  ivy/functional/frontends/paddle/manipulation.py
Labels: Paddle Frontend

#23319 feat: Implemented Torch front-end empty_strided function
  ivy/functional/frontends/torch/creation_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
Labels: PyTorch Frontend

#23171 add: instance method `squeeze` to JAX frontend
  ivy/functional/frontends/jax/array.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_array.py
Labels: JAX Frontend

#24130 update: soft_margin_loss
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
Labels: PyTorch Frontend

#24002 fix: Torch slogdet
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#22183 added setdiff1d to jax.numpy
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_creation.py
Labels: JAX Frontend, Paddle Paddle Backend

#23646 feat: written tril_indices_from for Numpy Frontend
  ivy/functional/frontends/numpy/indexing_routines/generating_index_arrays.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_generating_index_arrays.py
Labels: NumPy Frontend

#24135 feat: add logit method
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_pointwise_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#23576 fix: paddle.median frontend function
  ivy/functional/frontends/paddle/stat.py
Labels: Paddle Frontend

#24870 Update: smooth_l1_loss
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
Labels: PyTorch Frontend

#24847 fix: Numpy version was updated.
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/numpy/data_type.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/general.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/numpy/experimental/linear_algebra.py
  ivy/functional/backends/numpy/experimental/losses.py
  ivy/functional/backends/numpy/experimental/norms.py
  ivy/functional/backends/numpy/experimental/searching.py
  ivy/functional/backends/numpy/experimental/statistical.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/numpy/manipulation.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/numpy/sorting.py
  ivy/functional/backends/numpy/statistical.py
  ivy/functional/frontends/numpy/fft/discrete_fourier_transform.py
  ivy/functional/frontends/numpy/linalg/norms_and_other_numbers.py
  ivy/functional/frontends/numpy/linalg/solving_equations_and_inverting_matrices.py
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy/functional/frontends/numpy/statistics/histograms.py
Labels: NumPy Frontend

#22516 fix: adding to_dlpack method to support __dlpack__ and __dlpack_device__ in ivy.array
  ivy/data_classes/array/array.py
  ivy/functional/backends/jax/creation.py
  ivy/functional/backends/mxnet/creation.py
  ivy/functional/backends/numpy/creation.py
  ivy/functional/backends/paddle/creation.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/ivy/creation.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
Labels: Array API, Ivy Functional API, Paddle Paddle Backend

#23785 fix: paddle.less_than frontend function
  ivy/functional/frontends/paddle/logic.py
Labels: Paddle Frontend

#23781 fix: paddle.numel frontend function
  ivy/functional/frontends/paddle/stat.py
Labels: Paddle Frontend

#25678 paddle frontend Tensor.__add__ method
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#23735 feat: Added Paddle instance method
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#22559 added the as_real to paddle frontend
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#25686 fix: Jax update
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/jax/experimental/random.py
  ivy/functional/backends/jax/experimental/sorting.py
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/jax/searching.py
  ivy/functional/backends/jax/sorting.py
  ivy/functional/backends/jax/statistical.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy/functional/frontends/jax/numpy/logic.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy/functional/frontends/jax/random.py
Labels: JAX Frontend

#25682 fix: Torch permute test
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
Labels: PyTorch Frontend

#24000 fix: Torch vander
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend

#22197 feat: TRTensor class and random_tr function for the Tensorization Function API
  ivy/__init__.py
  ivy/data_classes/factorized_tensor/__init__.py
  ivy/data_classes/factorized_tensor/tr_tensor.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/ivy/experimental/creation.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_creation.py
  ivy_tests/test_ivy/test_misc/test_factorized_tensor/__init__.py
  ivy_tests/test_ivy/test_misc/test_factorized_tensor/test_cp_tensor.py
  ivy_tests/test_ivy/test_misc/test_factorized_tensor/test_parafac2_tensor.py
  ivy_tests/test_ivy/test_misc/test_factorized_tensor/test_tr_tensor.py
  ivy_tests/test_ivy/test_misc/test_factorized_tensor/test_tt_tensor.py
  ivy_tests/test_ivy/test_misc/test_factorized_tensor/test_tucker_tensor.py
Labels: Ivy Functional API, Ivy API Experimental

#22182 feat: Adding higher_order_moment, batched_outer to Tensorization Functional API
  ivy/data_classes/array/experimental/linear_algebra.py
  ivy/data_classes/container/experimental/linear_algebra.py
  ivy/functional/backends/jax/statistical.py
  ivy/functional/backends/tensorflow/elementwise.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/backends/tensorflow/statistical.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_linalg.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#25695 fix: bug in `ivy.where`
  ivy/functional/backends/torch/searching.py
  ivy_tests/test_ivy/test_functional/test_core/test_searching.py
Labels: Bug Report

#18809 Updating `ivy.put_along_axis`
  ivy/data_classes/array/experimental/manipulation.py
  ivy/data_classes/container/experimental/manipulation.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/frontends/torch/tensor_functions.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_indexing_routines/test_indexing_like_operations.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor_functions.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: PyTorch Frontend, Ivy Functional API, Ivy API Experimental, Paddle Frontend, Paddle Paddle Backend
