Repository ivy-llc/ivy, pull requests merged in 2024-04, with the labels that each got.

#28497 Fix Frontend Failing Test: paddle - math.paddle.diff
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: Paddle Frontend

#28542 Fix Frontend Failing Test: jax, numpy, torch - math.tensorflow.math.reduce_prod
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#28698 Fix Frontend Failing Test: all frontends- general_functions.tensorflow.rank
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#28699 Fix Frontend Failing Test: all frontends - general_functions.tensorflow.one_hot
  ivy/functional/frontends/tensorflow/general_functions.py
Labels: TensorFlow Frontend

#28701 Fix Frontend Failing Test: paddle - comparison.numpy.greater_equal
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#28709 Fix Frontend Failing Test: paddle - creation.jax.numpy.identity
  ivy/functional/backends/paddle/creation.py
Labels: Paddle Paddle Backend

#28665 fix: for tf.function compatibility in tf backend
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/ivy/general.py
Labels: PyTorch Frontend, Ivy Functional API

#28278 fix: Frontend Failing Test: torch - reduction_ops.torch.mean
  ivy/data_classes/array/statistical.py
  ivy/data_classes/container/statistical.py
  ivy/functional/backends/jax/statistical.py
  ivy/functional/backends/numpy/statistical.py
  ivy/functional/backends/paddle/statistical.py
  ivy/functional/backends/tensorflow/statistical.py
  ivy/functional/backends/torch/statistical.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/torch/reduction_ops.py
  ivy/functional/ivy/statistical.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_reduction_ops.py
  ivy_tests/test_ivy/test_functional/test_core/test_statistical.py
Labels: PyTorch Frontend, TensorFlow Frontend, Array API, Ivy Functional API, Stale, Paddle Paddle Backend

#28726 Fix Frontend Failing Test: paddle - comparison_ops.torch.equal
  ivy_tests/test_ivy/test_frontends/test_torch/test_comparison_ops.py
Labels: PyTorch Frontend

#28716 Fix Frontend Failing Test: paddle - logic.paddle.equal_all
  ivy/functional/frontends/paddle/logic.py
Labels: Paddle Frontend

#28711 Fix Frontend Failing Test: paddle - creation.jax.numpy.size
  ivy/functional/frontends/jax/numpy/creation.py
Labels: JAX Frontend

#28729 fix: torch frontend `item()` working with tf.function
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#28707 feat: implemented ifftshift and corresponding test
  ivy/functional/frontends/jax/numpy/fft.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_fft.py
Labels: JAX Frontend

#28740 fix: torch.masked_fill
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend
