Repository ivy-llc/ivy, pull requests merged in 2024-03, with the labels that each got.

#28457 fix: added max_pool2d accessible through the root namespace of the torch frontend and updated the condition to work when stride = []
  ivy/functional/frontends/torch/__init__.py
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
Labels: PyTorch Frontend

#28392 fix: Fixed Frontend Failing Test: paddle - non_linear_activation_functions.torch.nn.functional.leaky_relu
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_non_linear_activation_functions.py
Labels: PyTorch Frontend

#28401 Fixed the tests failure: numpy - pooling_functions.torch.nn.functional.max_pool2d
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_pooling_functions.py
Labels: PyTorch Frontend

#28449 fix: Removed un-necessary workflows
  .github/workflows/synchronize-db.yml
  .github/workflows/test-array-api.yml
  .github/workflows/test-frontend-jax.yml
  .github/workflows/test-frontend-numpy.yml
  .github/workflows/test-frontend-tensorflow.yml
  .github/workflows/test-frontend-torch.yml
  .github/workflows/test-ivy-core.yml
  .github/workflows/test-ivy-experimental-core.yml
  .github/workflows/test-ivy-experimental-nn.yml
  .github/workflows/test-ivy-nn.yml
  .github/workflows/test-ivy-stateful.yml
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Array API

#28463 feat: Updated `Ruff` to the latest version and fixed lint failure
  .pre-commit-config.yaml
  ivy/functional/ivy/meta.py
Labels: Ivy Functional API

#28390 fix: Frontend Failing Test: torch.linalg.matrix_rank
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: PyTorch Frontend

#28469 fix: torch frontend max/min to support dim and keepdim as arg or kwarg
  ivy/functional/frontends/torch/reduction_ops.py
Labels: PyTorch Frontend

#26917 feat(frontends): Implemented numpy fftn with tests
  ivy/functional/frontends/numpy/fft/discrete_fourier_transform.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_fft/test_discrete_fourier_transform.py
Labels: NumPy Frontend

#23104 feat: gradient numpy frontend
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_mathematical_functions/test_miscellaneous.py
Labels: NumPy Frontend

#28473 fix: setting torch frontend tensor 'data' attribute
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#28477 fix: torch.Tensor.to frontend failing with certain arg/kwarg combinations
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#28484 fix: remove unnecessary dim expansion from ivy.interpolate
  ivy/functional/ivy/experimental/layers.py
Labels: Ivy Functional API, Ivy API Experimental

#28407 feat: Implement precision_score function and test aligned with sklearn metrics
  ivy/functional/backends/jax/__init__.py
  ivy/functional/frontends/sklearn/metrics/_classification.py
  ivy/utils/assertions.py
  ivy_tests/test_ivy/test_frontends/test_sklearn/test_metrics/test_classification.py
Labels: JAX Frontend

#28471 fix: updated ivy.Shape, added interpolate with the paddle backend and updated expand
  ivy/__init__.py
  ivy/functional/backends/paddle/experimental/layers.py
  ivy/functional/backends/paddle/experimental/manipulation.py
Labels: Paddle Paddle Backend

#28420 fix: Fixed `paddle.math.floor` for jax, torch, and tensorflow backends
  ivy/functional/frontends/paddle/math.py
Labels: Paddle Frontend, size:XS

#28424 fix: Docstring Edits
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#28490 fix: torch frontend max pooling to support optional batch dim
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
Labels: PyTorch Frontend

#28496 fix: tf backend unflatten not supporting dim size inference
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#28489 fix(get-item): Use dynamic shape rather than static (x.shape) when possible in `_parse_query`
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#28501 fix: torch frontend allowing negative padding values
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_vision_functions.py
Labels: PyTorch Frontend

#28460 fix: Ivy Failing Test: paddle - sorting.msort
  ivy/functional/backends/paddle/sorting.py
Labels: Paddle Paddle Backend

#28410 fix: Ivy Failing Test: paddle - searching.where
  ivy/functional/backends/paddle/searching.py
Labels: Paddle Paddle Backend

#28481 fix: tf.function working with set item
  ivy/functional/backends/tensorflow/data_type.py
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/ivy/general.py
Labels: Ivy Functional API, Paddle Paddle Backend

#28468 fixed test: tensor.math.less
  ivy/functional/frontends/tensorflow/math.py
Labels: TensorFlow Frontend

#28537 fix: support return_indices=True in torch max_pool2d frontend
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_pooling_functions.py
Labels: PyTorch Frontend

#28115 fix: Fixed `pointwise_ops.torch.real` for paddle backend
  ivy/functional/backends/tensorflow/elementwise.py
Labels: Paddle Paddle Backend

#28486 Fix Frontend Failing Test: numpy - tensor.paddle.Tensor.mean
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#28455 fix: fixed the logical_not not support the bfloat16
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#28548 fix: fixed some failures in the README
  README.md
  ivy/functional/frontends/jax/numpy/dtype.py
  ivy/functional/frontends/tensorflow/keras/backend.py
  ivy/functional/ivy/losses.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_dtype.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_keras/test_backend.py
Labels: JAX Frontend, TensorFlow Frontend, Ivy Functional API

#28512 Fixed math.paddle.conj for jax, numpy, tensorflow and torch
  ivy/functional/frontends/paddle/math.py
Labels: Paddle Frontend

#28506 Fix Frontend Failing Test: all frontends- math.paddle.trunc
  ivy/functional/frontends/paddle/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: Paddle Frontend

#28585 fix: fixed the logical_or at tf frontend
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#28588 fix: fixed the greater_equal to tf frontend
  ivy/functional/frontends/tensorflow/math.py
Labels: TensorFlow Frontend

#28500 fix: ivy.linalg.matrix_norm() for paddle backend
  ivy/data_classes/array/linear_algebra.py
  ivy/data_classes/container/linear_algebra.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/paddle/linear_algebra.py
  ivy/functional/backends/paddle/statistical.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/frontends/torch/linalg.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
  ivy_tests/test_ivy/test_functional/test_core/test_linalg.py
Labels: PyTorch Frontend, Array API, Ivy Functional API, Paddle Paddle Backend

#28590 fix: fixed the count_non zero at tf frontend
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#28592 fix: fixed reciprocal_no_nan at tf frontend
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#28594 fix: fixed real at tf frontend
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#28536 Fix Frontend Failing Test: for all frontends- logic.paddle.is_empty
  ivy/functional/frontends/paddle/logic.py
Labels: Paddle Frontend

#28567 Fix the test failure for paddle - math.paddle.prod
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: Paddle Frontend

#28568 fix: fixed frontend function `torch.mean` for all backends
  ivy/functional/frontends/torch/reduction_ops.py
  ivy_tests/test_ivy/test_functional/test_core/test_statistical.py
Labels: PyTorch Frontend

#28579 Fix Frontend Failing Test: paddle, jax, torch, tensorflow - creation.paddle.triu
  ivy/functional/frontends/paddle/creation.py
Labels: Paddle Frontend

#28583 fix: fixed frontend test for `torch.Tensor.repeat`
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#28596 Fix Frontend Failing Test: jax, torch, paddle and tensorflow - creation.paddle.tril
  ivy/functional/frontends/paddle/creation.py
Labels: Paddle Frontend

#28609 fix: fixed softplus at tf frontend
  ivy/functional/backends/paddle/activations.py
Labels: Paddle Paddle Backend

#28601 fix: fixed frontend test `test_torch_unfold` for paddle backend
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_convolution_functions.py
Labels: PyTorch Frontend, Ivy Functional API

#28614 Fixed creation.paddle.assign for all frontends
  ivy/functional/frontends/paddle/creation.py
Labels: Paddle Frontend

#28625 Fix Frontend Failing Test: paddle - search.paddle.index_sample
  ivy/functional/frontends/paddle/search.py
Labels: Paddle Frontend

#27757 fix: torch backend- gather fix
  ivy/functional/backends/torch/general.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
Labels: PyTorch Frontend, Ivy Functional API, Stale

#28550 feat: Add frontend jax.numpy.fft.ifftn
  ivy/functional/frontends/jax/numpy/fft.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_fft.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_layers.py
Labels: JAX Frontend

#28623 Fix Frontend Failing Test: tensorflow, jax, torch, numpy - search.paddle.argsort
  ivy/functional/frontends/paddle/search.py
Labels: Paddle Frontend

#28629 Fix Frontend Failing Test: torch, tensorflow, paddle,numpy - activations.tensorflow.keras.activations.relu
  ivy/functional/frontends/tensorflow/keras/activations.py
Labels: TensorFlow Frontend

#28637 fixed tesorflow.keras.activations.get
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_keras/test_activations.py
Labels: TensorFlow Frontend

#28643 fix: fixed `numpy.ptp` for all backends
  ivy/functional/frontends/numpy/statistics/order_statistics.py
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_order_statistics.py
Labels: NumPy Frontend

#28611 Fix Frontend Failing Test: paddle - tensor.torch.Tensor.fix
  ivy/functional/backends/paddle/experimental/elementwise.py
Labels: PyTorch Frontend, Paddle Paddle Backend

#28631 fix: fixed `test_torch___getitem__` for paddle backend
  ivy/functional/backends/paddle/data_type.py
  ivy/functional/backends/paddle/general.py
Labels: Paddle Paddle Backend

#28466 fixed tensorflow.math.softplus
  ivy/functional/backends/paddle/activations.py
Labels: TensorFlow Frontend, Paddle Paddle Backend

#28651 Fix Frontend Failing Test: jax, numpy, torch, tensorflow, paddle - averages_and_variances.numpy.average
  ivy_tests/test_ivy/test_frontends/test_numpy/test_statistics/test_averages_and_variances.py
Labels: NumPy Frontend

#28653 Fix Frontend Failing Test: torch - linalg.paddle.cross
  ivy_tests/test_ivy/test_frontends/test_paddle/test_linalg.py
Labels: Paddle Frontend

#28662 Fix Frontend Failing Test: paddle - tensor.torch.Tensor.tril
  ivy/functional/backends/paddle/creation.py
Labels: PyTorch Frontend, Paddle Paddle Backend

#28680 Fix Frontend Failing Test: paddle - mathematical_functions.jax.numpy.logaddexp
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#28673 Fix Frontend Failing Test: for all frontend- linalg.jax.lax.linalg.qr
  ivy/functional/backends/paddle/linear_algebra.py
Labels: Paddle Paddle Backend

#28675 Fix Frontend Failing Test: paddle - mathematical_functions.jax.numpy.sinc
  ivy/functional/backends/paddle/experimental/elementwise.py
Labels: Paddle Paddle Backend

#24153 feat: one_hot function of paddlepaddle
  ivy/functional/frontends/paddle/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_manipulation.py
Labels: Stale, Paddle Frontend

#23156 fix: skip tensorflow.zeros tests for Paddle backend with ndim >= 10
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#28689 Fix Frontend Failing Test: torch, paddle, numpy, tensorflow - activations.tensorflow.keras.activations.deserialize
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_keras/test_activations.py
Labels: TensorFlow Frontend

#28706 Fix Frontend Failing Test: paddle - creation.jax.numpy.triu
  ivy/functional/backends/paddle/creation.py
Labels: Paddle Paddle Backend

#27189 docs: fix typos in ivy/data_classes/array/layers.py
  ivy/data_classes/array/layers.py
Labels: Array API
