Repository ivy-llc/ivy, pull requests merged in 2024-02, with the labels that each got.

#28003 Fix: Fix Ivy Failing Test: paddle - manipulation.concat
  ivy/functional/backends/paddle/manipulation.py
Labels: Paddle Paddle Backend, Priority

#28149 fix: fixed fmax at paddle frontend dtype problem
  ivy/functional/frontends/paddle/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: Paddle Frontend

#28148 fix: fixed fmin at paddle frontend facing unsupported dtype error
  ivy/functional/frontends/paddle/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: Paddle Frontend

#28079 feat: added Ivy.unflatten
  ivy/data_classes/array/experimental/manipulation.py
  ivy/data_classes/container/experimental/manipulation.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/numpy/experimental/manipulation.py
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/backends/tensorflow/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_manipulation.py
Labels: Array API, Ivy API Experimental

#28042 fix: Fix Ivy Failing Test: numpy - manipulation.swapaxes
  ivy/functional/backends/numpy/manipulation.py
Labels: Priority

#28074 fix: Fix Ivy Failing Test: paddle - elementwise.divide
  ivy/functional/backends/paddle/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Paddle Paddle Backend, Priority

#28191 fix: Fixed `paddle_backend.divide` by adding an if condition to separate dtypes
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#28166 FIX! Fix Ivy Failing Test: paddle - elementwise.allclose
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_elementwise.py
Labels: Paddle Paddle Backend

#28172 fix: Fixed failing docstring tests
  ivy/data_classes/array/experimental/activations.py
  ivy/data_classes/array/experimental/linear_algebra.py
  ivy/data_classes/array/experimental/losses.py
  ivy/data_classes/array/experimental/manipulation.py
  ivy/data_classes/array/losses.py
  ivy/data_classes/container/experimental/activations.py
  ivy/data_classes/container/experimental/losses.py
  ivy/data_classes/container/experimental/manipulation.py
  ivy/data_classes/container/losses.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/ivy/creation.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/elementwise.py
  ivy/functional/ivy/experimental/activations.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/losses.py
  ivy/functional/ivy/experimental/manipulation.py
  ivy/functional/ivy/general.py
  ivy/functional/ivy/layers.py
  ivy/functional/ivy/linear_algebra.py
  ivy/functional/ivy/losses.py
  ivy/functional/ivy/manipulation.py
  ivy/functional/ivy/nest.py
  ivy/functional/ivy/searching.py
  ivy/functional/ivy/statistical.py
  ivy_tests/test_docstrings.py
Labels: Array API, Ivy Functional API, Ivy API Experimental

#28158 fix: Fixing pytest discovery issues
  ivy/functional/frontends/__init__.py
  ivy/functional/frontends/tensorflow/keras/activations.py
  ivy/functional/ivy/data_type.py
  ivy/functional/ivy/device.py
  ivy/functional/ivy/general.py
Labels: JAX Frontend, TensorFlow Frontend, Ivy Functional API

#27745 feat: Add tensorflow GatherNd raw_ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#28181 fix: broadcasting issue in compositional set_item
  ivy/functional/ivy/general.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
Labels: Ivy Functional API

#28056 fix: Fix Ivy Failing Test: paddle - elementwise.multiply
  ivy/functional/backends/paddle/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Paddle Paddle Backend, Priority

#28188 fix: Ivy Failing Test: paddle - creation.ones_like
  ivy/functional/backends/paddle/creation.py
Labels: Paddle Paddle Backend

#28237 feat: Updated `jax` version mapping from `0.4.23` to `0.4.24`
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/elementwise.py
  ivy/functional/backends/jax/experimental/elementwise.py
  ivy/functional/backends/jax/experimental/layers.py
  ivy/functional/backends/jax/experimental/random.py
  ivy/functional/backends/jax/experimental/sorting.py
  ivy/functional/backends/jax/experimental/statistical.py
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/jax/searching.py
  ivy/functional/backends/jax/sorting.py
  ivy/functional/backends/jax/statistical.py
  ivy/functional/frontends/__init__.py
  ivy/functional/frontends/jax/lax/operators.py
  ivy/functional/frontends/jax/nn/non_linear_activations.py
  ivy/functional/frontends/jax/numpy/creation.py
  ivy/functional/frontends/jax/numpy/linalg.py
  ivy/functional/frontends/jax/numpy/logic.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/jax/numpy/searching_sorting.py
  ivy/functional/frontends/jax/numpy/statistical.py
  ivy/functional/frontends/jax/random.py
Labels: JAX Frontend

#28236 feat: Updated `torch` version mapping form `2.1.2` to `2.2`
  ivy/functional/backends/torch/__init__.py
  ivy/functional/backends/torch/activations.py
  ivy/functional/backends/torch/creation.py
  ivy/functional/backends/torch/data_type.py
  ivy/functional/backends/torch/elementwise.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/backends/torch/experimental/creation.py
  ivy/functional/backends/torch/experimental/elementwise.py
  ivy/functional/backends/torch/experimental/layers.py
  ivy/functional/backends/torch/experimental/linear_algebra.py
  ivy/functional/backends/torch/experimental/losses.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/backends/torch/experimental/norms.py
  ivy/functional/backends/torch/experimental/random.py
  ivy/functional/backends/torch/experimental/sorting.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/backends/torch/general.py
  ivy/functional/backends/torch/layers.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/backends/torch/manipulation.py
  ivy/functional/backends/torch/norms.py
  ivy/functional/backends/torch/random.py
  ivy/functional/backends/torch/searching.py
  ivy/functional/backends/torch/set.py
  ivy/functional/backends/torch/sorting.py
  ivy/functional/backends/torch/statistical.py
  ivy/functional/frontends/__init__.py
  ivy/functional/frontends/torch/blas_and_lapack_ops.py
  ivy/functional/frontends/torch/comparison_ops.py
  ivy/functional/frontends/torch/creation_ops.py
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy/functional/frontends/torch/linalg.py
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy/functional/frontends/torch/nn/functional/convolution_functions.py
  ivy/functional/frontends/torch/nn/functional/distance_functions.py
  ivy/functional/frontends/torch/nn/functional/dropout_functions.py
  ivy/functional/frontends/torch/nn/functional/layer_functions.py
  ivy/functional/frontends/torch/nn/functional/linear_functions.py
  ivy/functional/frontends/torch/nn/functional/loss_functions.py
  ivy/functional/frontends/torch/nn/functional/non_linear_activation_functions.py
  ivy/functional/frontends/torch/nn/functional/norms.py
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy/functional/frontends/torch/nn/functional/sparse_functions.py
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy/functional/frontends/torch/pointwise_ops.py
  ivy/functional/frontends/torch/random_sampling.py
  ivy/functional/frontends/torch/reduction_ops.py
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/frontends/torch/tensor_functions.py
  ivy/functional/frontends/torch/utilities.py
  ivy/functional/frontends/torchvision/ops.py
Labels: PyTorch Frontend

#28201 fix: changed docstring
  ivy/functional/ivy/device.py
Labels: Ivy Functional API

#28211 feat: Add tensorflow Gather nd raw ops
  ivy/functional/frontends/tensorflow/raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
Labels: TensorFlow Frontend

#28184 fix: Fixed `paddle_backend.i0`
  ivy/functional/backends/paddle/experimental/manipulation.py
Labels: Paddle Paddle Backend

#28178 fix: Fixed `paddle_backend.copysign`
  ivy/functional/backends/paddle/experimental/elementwise.py
Labels: Paddle Paddle Backend

#28180 fix: Fixed `paddle_backend.signbit`
  ivy/functional/backends/paddle/experimental/elementwise.py
Labels: Paddle Paddle Backend

#28282 feat: Updated `black` formatter to latest version and modified files accordingly
  .pre-commit-config.yaml
  ivy/__init__.py
  ivy/data_classes/container/base.py
  ivy/data_classes/factorized_tensor/cp_tensor.py
  ivy/data_classes/factorized_tensor/tucker_tensor.py
  ivy/func_wrapper.py
  ivy/functional/backends/jax/random.py
  ivy/functional/backends/mxnet/creation.py
  ivy/functional/backends/mxnet/experimental/linear_algebra.py
  ivy/functional/backends/mxnet/experimental/norms.py
  ivy/functional/backends/mxnet/set.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/paddle/general.py
  ivy/functional/backends/paddle/gradients.py
  ivy/functional/backends/paddle/set.py
  ivy/functional/backends/tensorflow/experimental/layers.py
  ivy/functional/backends/tensorflow/module.py
  ivy/functional/backends/tensorflow/random.py
  ivy/functional/backends/torch/experimental/gradients.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy/functional/backends/torch/random.py
  ivy/functional/ivy/experimental/layers.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/functional/ivy/experimental/sparse_array.py
  ivy/functional/ivy/meta.py
  ivy/functional/ivy/nest.py
  ivy/stateful/module.py
  ivy/utils/binaries.py
  ivy_tests/test_ivy/conftest.py
  ivy_tests/test_ivy/helpers/function_testing.py
  ivy_tests/test_ivy/helpers/multiprocessing.py
  ivy_tests/test_ivy/helpers/testing_helpers.py
  scripts/backend_generation/tree_generation.py
Labels: Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#28283 fix: Frontend Failing Test: torch - tensor.torch.Tensor.unique
  ivy/functional/backends/torch/set.py
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#28279 fix: handling of None in torch frontend pad + extended test
  ivy/functional/frontends/torch/nn/functional/vision_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_vision_functions.py
Labels: PyTorch Frontend

#28285 fix: Ivy Failing Test: paddle - linalg.outer
  ivy/functional/backends/paddle/linear_algebra.py
Labels: Paddle Paddle Backend

#28296 fix: torch frontend linspace working with `dtype=None` + array inputs. and extended test
  ivy/functional/frontends/torch/creation_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_creation_ops.py
Labels: PyTorch Frontend

#28298 fix: frontend searchsorted should only fail when `side` is explicitly set to `'left'` + generalised test
  ivy/functional/frontends/torch/miscellaneous_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_miscellaneous_ops.py
Labels: PyTorch Frontend

#28304 fix: Frontend Failing Test: torch - tensor.torch.Tensor.new_zeros
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#28300 feat: implemented hardsilu activation function
  ivy/data_classes/array/experimental/activations.py
  ivy/data_classes/container/experimental/activations.py
  ivy/functional/backends/jax/experimental/activations.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/paddle/experimental/activations.py
  ivy/functional/backends/tensorflow/experimental/activations.py
  ivy/functional/backends/torch/experimental/activations.py
  ivy/functional/ivy/experimental/activations.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#28336 fix: Fixed `tensorflow.math.is_strictly_increasing` for all backends
  ivy/functional/frontends/tensorflow/math.py
Labels: TensorFlow Frontend

#28321 fix: Fixed `paddle.take_along_axis` for all backends
  ivy/functional/frontends/paddle/manipulation.py
Labels: Paddle Frontend

#28077 fix compositonal get_item removing to_numpy and scalar calls while keeping it general enough
  ivy/functional/ivy/general.py
  ivy_tests/test_ivy/helpers/hypothesis_helpers/array_helpers.py
Labels: Ivy Functional API

#28342 fix: Fixed `tf.math.argmin` for torch, jax, and paddle backends
  ivy/functional/backends/torch/searching.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#28326 fix: fixed the relu6 for complex dtype
  ivy/functional/backends/paddle/experimental/activations.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_activations.py
Labels: Paddle Paddle Backend

#28309 fix: Ivy Failing Test: paddle - manipulation.expand_dims
  ivy/functional/backends/paddle/manipulation.py
Labels: Paddle Paddle Backend

#28347 fix: Fixed `tf.math.argmax` for jax, torch, paddle, and tensorflow backends
  ivy/functional/backends/tensorflow/searching.py
  ivy/functional/backends/torch/searching.py
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#28353 fix: fixed the complex dtype support for ivy.maximum at paddle backend
  ivy/functional/backends/paddle/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Paddle Paddle Backend

#28367 fix: fixed lint error in adaptive_max_pool3d in layer
  ivy/functional/ivy/experimental/layers.py
Labels: Ivy Functional API, Ivy API Experimental

#28364 fix: minimum for complex dtype
  ivy/functional/backends/paddle/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Paddle Paddle Backend

#28310 fix: Ivy Failing Test: paddle - manipulation.permute_dims
  ivy/functional/backends/paddle/manipulation.py
Labels: Paddle Paddle Backend

#28323 fix: Frontend Failing Test: torch - linalg.torch.linalg.matrix_norm
  ivy/functional/backends/jax/linear_algebra.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/paddle/linear_algebra.py
  ivy/functional/backends/tensorflow/linear_algebra.py
  ivy/functional/backends/torch/linear_algebra.py
  ivy/functional/frontends/torch/linalg.py
  ivy/functional/ivy/linear_algebra.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend, Ivy Functional API, Paddle Paddle Backend

#28373 fix: fixed the minimum at tf frontend
  ivy/functional/frontends/tensorflow/math.py
Labels: TensorFlow Frontend

#28412 fix: fixed the hypothisis requirement error
  requirements/optional.txt
Labels: Bug Report, Useful Issue

#28153 Fix Ivy Failing Test: tensorflow - elementwise.pow
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Priority

#27994 fix: Fixed `ivy.zero_pad` for paddle backend
  ivy/functional/backends/paddle/manipulation.py
Labels: Paddle Paddle Backend, Priority

#28009 fix: Fix `ivy.permute_dims` for all backends
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/numpy/manipulation.py
  ivy/functional/backends/paddle/manipulation.py
  ivy/functional/backends/torch/manipulation.py
Labels: Paddle Paddle Backend, Priority

#28249 fix: ivy elementwise not_equal for paddle backend
  ivy/functional/backends/paddle/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Paddle Paddle Backend

#28016 fix: Fix Ivy Failing Test: numpy - manipulation.reshape
  ivy/functional/backends/numpy/manipulation.py
Labels: Priority

#28035 fix: Fix Ivy Failing Test: all backends - manipulation.squeeze
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/numpy/manipulation.py
  ivy/functional/backends/torch/manipulation.py
Labels: Priority

#28049 fix: Fix Ivy Failing Test: [jax,numpy,torch] - general.get_item
  ivy/functional/backends/jax/general.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/torch/general.py
Labels: Priority

#28106 Fix Frontend Failing Test: torch - linalg.torch.linalg.norm
  ivy/functional/frontends/torch/linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
Labels: PyTorch Frontend, Priority

#28221 fix: Fix Frontend Failing Test: torch - tensor.torch.Tensor.__gt__ (#28219)
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, Priority

#28241 fix Ivy Failing Test: paddle - activations.softmax
  ivy/functional/backends/paddle/activations.py
Labels: Paddle Paddle Backend

#28243 fix Ivy Failing Test: paddle - elementwise.equal
  ivy/functional/backends/paddle/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Paddle Paddle Backend

#28245 feat: Paddle Frontend implemented special method __mod__
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#28400 fix: fixed cummin not passing test at some backend
  ivy/functional/backends/paddle/experimental/statistical.py
  ivy/functional/backends/tensorflow/experimental/statistical.py
  ivy/functional/backends/torch/experimental/statistical.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_core/test_statistical.py
Labels: Paddle Paddle Backend

#28394 fix: removed code modifying ndarray/torch tensor methods (caused an issue with torch.compile recognising dunder methods). but added the same functionality using `__torch_function__`/`__array_ufunc__` which are the proper mechanisms to enable this behaviour. also simplified the test
  ivy/data_classes/array/array.py
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/torch/__init__.py
  ivy_tests/test_ivy/test_misc/test_array.py
Labels: Array API, lgtm

#28356 fix: Fixed `tf.math.zero_fraction` for jax backend
  ivy/functional/frontends/tensorflow/math.py
Labels: TensorFlow Frontend

#28274 feat(jax-backend) - Implementing native jax while loop in `nms` body
  ivy/functional/backends/jax/layers.py
Labels: lgtm

#28422 fix: Fixed `ivy.argsort` for jax backend
  ivy/functional/backends/jax/sorting.py
Labels: size:XS

#28252 fix: undocumented args for torch frontend- added `axis` support for `stack`, and `value` support for `scatter_` + extended tests
  ivy/functional/frontends/torch/indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_indexing_slicing_joining_mutating_ops.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#28375 fix: fixed the maximum at tensorflow frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#22628 Update meta.py<_train_tasks_batched
  ivy/functional/ivy/meta.py
Labels: Ivy Functional API

#28435 fix: dealing with boolean arrays with tuple query in ivy.get_item
  ivy/functional/ivy/general.py
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
Labels: Ivy Functional API

#28441 fix: fixed the IvyValueError not import error
  ivy/functional/frontends/sklearn/metrics/_classification.py
Labels: Bug Report

#28451 fix: support 4d input for torch max_pool3d frontend
  ivy/functional/frontends/torch/nn/functional/pooling_functions.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_pooling_functions.py
Labels: PyTorch Frontend

#28426 fix: fixed `ivy.equal` for paddle backend support all dtype
  ivy/functional/backends/paddle/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Paddle Paddle Backend

#28453 remove to_list call in ivy's get item
  ivy/functional/ivy/general.py
Labels: Ivy Functional API

#28431 fix: fixed the ivy.not_equal at paddle backend
  ivy/functional/backends/paddle/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Paddle Paddle Backend

#26116 fix: correct tensorflow avg pool2d test failure
  ivy/functional/frontends/tensorflow/nn.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_nn.py
Labels: TensorFlow Frontend

#23766 feat: Add `negative_` method to PyTorch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend
