Repository ivy-llc/ivy, pull requests merged in 2024-07, with the labels that each got.

#22629 feat: add unpackbits to jax frontend
  ivy/functional/frontends/jax/numpy/logic.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_logic.py
Labels: JAX Frontend, Stale

#26335 feat: Added frontend implementation of scatter_nd for tensorflow.
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_general_functions.py
Labels: TensorFlow Frontend

#26566 refactor(ivy.linear): remove unneeded list()
  ivy/functional/ivy/layers.py
Labels: Ivy Functional API

#26991 feat: add erfc to torch frontend
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#27026 Added float_power method in Torch Tensor classs
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#27166 feat(torch_frontend): added fill_diagonal_ method
  ivy/functional/backends/tensorflow/general.py
  ivy/functional/frontends/torch/tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend

#27206 fix(torch-frontend): fix failing test for torch.nn.functional.pad
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_vision_functions.py
Labels: PyTorch Frontend

#27290 Close #27289
  ivy/functional/frontends/jax/numpy/fft.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_fft.py
Labels: JAX Frontend

#27050 feat: Implemented jax-numpy-unwrap and associated tests
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_mathematical_functions.py
Labels: JAX Frontend

#28603 feat: Add cov to the paddle frontend
  ivy/functional/frontends/paddle/linalg.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_linalg.py
Labels: Paddle Frontend

#27360 feat: Paddle Frontend implemented special method __div__
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#27134 I added structural similarity index (SSIM) loss.
  ivy/functional/ivy/losses.py
  ivy_tests/test_ivy/test_functional/test_nn/test_losses.py
Labels: Ivy Functional API

#27207 Added Wasserstein Loss, the Most Popular Loss Function for GANs
  ivy/functional/ivy/losses.py
  ivy_tests/test_ivy/test_functional/test_nn/test_losses.py
Labels: Ivy Functional API
