Repository ivy-llc/ivy, pull requests merged in 2024-01, with the labels that each got.

#27048 feat(losses): add hinge_embedding_loss to ivy experimental API.
  ivy/data_classes/array/experimental/losses.py
  ivy/data_classes/container/experimental/losses.py
  ivy/functional/backends/jax/experimental/losses.py
  ivy/functional/backends/numpy/experimental/losses.py
  ivy/functional/backends/paddle/experimental/losses.py
  ivy/functional/backends/tensorflow/experimental/losses.py
  ivy/functional/backends/torch/experimental/losses.py
  ivy/functional/ivy/experimental/losses.py
  ivy_tests/test_ivy/test_functional/test_experimental/test_nn/test_losses.py
Labels: Array API, Ivy Functional API, Ivy API Experimental, PaddlePaddle Backend

#27810 fix paddle problem with zipping iterables of tensors
  ivy/functional/backends/paddle/general.py
Labels: Paddle Paddle Backend

#27813 feat: Paddle Frontend: tensor __rtruediv__
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend

#21725 feat(frontend): Added logsumexp function in paddlepaddle frontend
  ivy/functional/frontends/paddle/math.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_math.py
Labels: Paddle Frontend

#27799 fix: Fixed wrong argument name in `paddle.concat()` function call
  ivy/functional/backends/paddle/set.py
Labels: Paddle Paddle Backend

#27834 feat: Updated `NumPy` version from `1.26.2` to `1.26.3`
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/numpy/data_type.py
  ivy/functional/backends/numpy/elementwise.py
  ivy/functional/backends/numpy/experimental/activations.py
  ivy/functional/backends/numpy/experimental/elementwise.py
  ivy/functional/backends/numpy/experimental/general.py
  ivy/functional/backends/numpy/experimental/layers.py
  ivy/functional/backends/numpy/experimental/linear_algebra.py
  ivy/functional/backends/numpy/experimental/losses.py
  ivy/functional/backends/numpy/experimental/norms.py
  ivy/functional/backends/numpy/experimental/searching.py
  ivy/functional/backends/numpy/experimental/statistical.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/numpy/linear_algebra.py
  ivy/functional/backends/numpy/manipulation.py
  ivy/functional/backends/numpy/random.py
  ivy/functional/backends/numpy/sorting.py
  ivy/functional/backends/numpy/statistical.py
  ivy/functional/frontends/numpy/fft/discrete_fourier_transform.py
  ivy/functional/frontends/numpy/linalg/norms_and_other_numbers.py
  ivy/functional/frontends/numpy/linalg/solving_equations_and_inverting_matrices.py
  ivy/functional/frontends/numpy/mathematical_functions/miscellaneous.py
  ivy/functional/frontends/numpy/ndarray/ndarray.py
  ivy/functional/frontends/numpy/statistics/histograms.py
Labels: NumPy Frontend

#27836 fix: Fixed passing of missing `shape` argument in 1 function call
  ivy/functional/frontends/paddle/tensor/tensor.py
Labels: Paddle Frontend

#27827 fix: fixed the failing test at paddle backend
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#27809 fix: Fixed passing of missing `backend` argument in few function calls
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_raw_ops.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_linalg.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
  ivy_tests/test_ivy/test_stateful/test_layers.py
Labels: PyTorch Frontend, TensorFlow Frontend

#27855 Fix ivy.floor
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#27880 fix: Fixed passing of un-necessary argument `dtype`
  ivy/functional/frontends/paddle/tensor/tensor.py
Labels: Paddle Frontend

#27885 fix: Fixed passing of wrong key-word argument `dim` in `ivy.ifftn()` function call.
  ivy/functional/frontends/paddle/fft.py
Labels: Paddle Frontend

#26394 index_add
  ivy/functional/frontends/paddle/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_manipulation.py
Labels: Paddle Frontend

#27887 fix: torch frontend Tensor.__bool__ now returning bools, Tensor.type_as returning new tensor instead of operating inplace and fixed signature for unique_consecutive
  ivy/functional/frontends/torch/reduction_ops.py
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend

#26468 feat: add bessel_i1 to tensorflow frontend
  ivy/functional/frontends/tensorflow/math.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_math.py
Labels: TensorFlow Frontend

#27878 fix: ivy rnn and while_loop changes to fix lstm transpilations
  ivy/functional/backends/torch/control_flow_ops.py
  ivy/functional/ivy/control_flow_ops.py
  ivy/functional/ivy/experimental/layers.py
Labels: Ivy Functional API, Ivy API Experimental

#27897 fix: Fixed passing of un-necessary `device` argument in `ivy.blackman_window()`
  ivy/data_classes/array/experimental/creation.py
Labels: Array API, Ivy API Experimental

#27899 refactor: Removed un-necessary global declaration for `avg` variable
  ivy/functional/frontends/numpy/statistics/averages_and_variances.py
Labels: NumPy Frontend

#27905 fix: Fixed passing of arguments to `ivy.polyval()` function call
  ivy/data_classes/array/experimental/creation.py
Labels: Array API, Ivy API Experimental

#27907 fix: Fixed using of deprecated `inspect.getargspec()` function
  ivy/functional/frontends/torch/utilities.py
Labels: PyTorch Frontend

#27918 refactor: Added `raise from` clause to exceptions for improved tracebacks
  ivy/__init__.py
  ivy/functional/backends/jax/data_type.py
  ivy/functional/backends/jax/experimental/manipulation.py
  ivy/functional/backends/jax/manipulation.py
  ivy/functional/backends/jax/utility.py
  ivy/functional/backends/numpy/data_type.py
  ivy/functional/backends/numpy/utility.py
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/backends/paddle/experimental/norms.py
  ivy/functional/backends/tensorflow/data_type.py
  ivy/functional/backends/tensorflow/manipulation.py
  ivy/functional/backends/tensorflow/utility.py
  ivy/functional/backends/torch/data_type.py
  ivy/functional/backends/torch/experimental/manipulation.py
  ivy/functional/backends/torch/general.py
  ivy/functional/frontends/jax/numpy/__init__.py
  ivy/functional/frontends/mxnet/numpy/__init__.py
  ivy/functional/frontends/numpy/__init__.py
  ivy/functional/frontends/numpy/data_type_routines/creating_data_types.py
  ivy/functional/frontends/onnx/__init__.py
  ivy/functional/frontends/paddle/__init__.py
  ivy/functional/frontends/torch/__init__.py
  ivy/functional/frontends/torch/linalg.py
  ivy/functional/frontends/torch/tensor.py
  ivy/functional/ivy/experimental/linear_algebra.py
  ivy/stateful/sequential.py
Labels: PyTorch Frontend, JAX Frontend, NumPy Frontend, Ivy Functional API, Ivy API Experimental, Paddle Frontend, Paddle Paddle Backend

#27922 feat: add ivy.lstm to functional api
  ivy/functional/backends/torch/layers.py
  ivy/functional/frontends/torch/nn/functional/layer_functions.py
  ivy/functional/ivy/layers.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_nn/test_functional/test_layer_functions.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: PyTorch Frontend, Ivy Functional API

#27928 fix: Fixed raising `TypeError` for invalid type
  ivy/functional/backends/paddle/layers.py
Labels: Paddle Paddle Backend

#27926 fix: Added missing `assert` to 3 comparison checks
  ivy_tests/test_ivy/test_frontends/test_jax/test_numpy/test_mathematical_functions.py
Labels: JAX Frontend

#27933 fix: minor corrections to ivy.lstm
  ivy/functional/backends/torch/layers.py
  ivy/functional/ivy/layers.py
Labels: Ivy Functional API

#27938 FIX: fix error in elementwise.add by removing unsupported data int16
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#27941 feat: Updated `paddle` version mapping form `2.5.2` to `2.6.0`
  docs/overview/deep_dive/data_types.rst
  ivy/functional/backends/paddle/__init__.py
  ivy/functional/backends/paddle/activations.py
  ivy/functional/backends/paddle/creation.py
  ivy/functional/backends/paddle/data_type.py
  ivy/functional/backends/paddle/elementwise.py
  ivy/functional/backends/paddle/experimental/activations.py
  ivy/functional/backends/paddle/experimental/creation.py
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/paddle/experimental/layers.py
  ivy/functional/backends/paddle/experimental/linear_algebra.py
  ivy/functional/backends/paddle/experimental/losses.py
  ivy/functional/backends/paddle/experimental/manipulation.py
  ivy/functional/backends/paddle/experimental/norms.py
  ivy/functional/backends/paddle/experimental/random.py
  ivy/functional/backends/paddle/experimental/sparse_array.py
  ivy/functional/backends/paddle/experimental/statistical.py
  ivy/functional/backends/paddle/general.py
  ivy/functional/backends/paddle/gradients.py
  ivy/functional/backends/paddle/layers.py
  ivy/functional/backends/paddle/linear_algebra.py
  ivy/functional/backends/paddle/manipulation.py
  ivy/functional/backends/paddle/random.py
  ivy/functional/backends/paddle/searching.py
  ivy/functional/backends/paddle/set.py
  ivy/functional/backends/paddle/sorting.py
  ivy/functional/backends/paddle/statistical.py
  ivy/functional/frontends/__init__.py
  ivy/functional/frontends/jax/array.py
  ivy/functional/frontends/jax/numpy/fft.py
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
  ivy/functional/frontends/numpy/logic/array_contents.py
  ivy/functional/frontends/paddle/creation.py
  ivy/functional/frontends/paddle/fft.py
  ivy/functional/frontends/paddle/linalg.py
  ivy/functional/frontends/paddle/logic.py
  ivy/functional/frontends/paddle/manipulation.py
  ivy/functional/frontends/paddle/math.py
  ivy/functional/frontends/paddle/nn/functional/activation.py
  ivy/functional/frontends/paddle/nn/functional/common.py
  ivy/functional/frontends/paddle/nn/functional/conv.py
  ivy/functional/frontends/paddle/nn/functional/loss.py
  ivy/functional/frontends/paddle/nn/functional/norm.py
  ivy/functional/frontends/paddle/nn/functional/pooling.py
  ivy/functional/frontends/paddle/nn/functional/vision.py
  ivy/functional/frontends/paddle/random.py
  ivy/functional/frontends/paddle/search.py
  ivy/functional/frontends/paddle/stat.py
  ivy/functional/frontends/paddle/tensor/manipulation.py
  ivy/functional/frontends/paddle/tensor/math.py
  ivy/functional/frontends/paddle/tensor/random.py
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy/functional/frontends/paddle/vision/transforms.py
  ivy/functional/frontends/tensorflow/general_functions.py
  ivy/functional/frontends/tensorflow/math.py
  ivy/functional/frontends/torch/nn/functional/dropout_functions.py
  ivy/functional/frontends/torch/tensor.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, NumPy Frontend, Paddle Frontend, Paddle Paddle Backend

#26761 index_add_
  ivy/functional/frontends/paddle/tensor/manipulation.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_manipulation.py
Labels: Paddle Frontend

#27955 feat(stateful): Add `NativeModule` to all backends with the implementation of a custom `tensorflow.keras.Model` subclass for the `tensorflow` backend to follow `ivy.Module`'s API
  ivy/__init__.py
  ivy/functional/backends/jax/__init__.py
  ivy/functional/backends/jax/module.py
  ivy/functional/backends/mxnet/__init__.py
  ivy/functional/backends/mxnet/module.py
  ivy/functional/backends/numpy/__init__.py
  ivy/functional/backends/numpy/module.py
  ivy/functional/backends/paddle/__init__.py
  ivy/functional/backends/paddle/module.py
  ivy/functional/backends/tensorflow/__init__.py
  ivy/functional/backends/tensorflow/module.py
  ivy/functional/backends/torch/__init__.py
  ivy/functional/backends/torch/module.py
  ivy/functional/frontends/torch/nn/modules/module.py
Labels: PyTorch Frontend, Paddle Paddle Backend

#27965 fix: Fixed raising of `keyError()` to properly include `path_type` in the error message
  ivy/functional/frontends/jax/numpy/mathematical_functions.py
Labels: JAX Frontend

#27973 fix: fixed ivy.sum not passing the test case at paddle & torch backend
  ivy/functional/backends/paddle/statistical.py
  ivy/functional/backends/torch/statistical.py
Labels: Paddle Paddle Backend

#27988 fix: Fixed `ivy.fix` for paddle backend
  ivy/functional/backends/paddle/experimental/elementwise.py
Labels: Paddle Paddle Backend

#27974 fix: fixed ivy.cumsum tests at all backend
  ivy/functional/backends/jax/statistical.py
  ivy/functional/backends/tensorflow/statistical.py
  ivy/functional/backends/torch/statistical.py
  ivy_tests/test_ivy/test_functional/test_core/test_statistical.py
Labels: Priority

#27963 fix: fixed ivy.minimum tests not passing at tensorflow paddle backend
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Priority

#27960 fix: fixed floor_divide tests not passing at paddle backend
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Paddle Paddle Backend

#27958 fix: fixed tests not passing at paddle backend
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#27939 fix: edited the x1 multiple check at complex dtype
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#28000 FIX! Fix Ivy Failing Test: paddle - elementwise.not_equal
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#27992 fix: Fixed Frontend Failing Test: paddle - tensor.paddle.Tensor.any
  ivy/functional/frontends/paddle/tensor/tensor.py
Labels: Paddle Frontend

#28034 refactor: Removed `Optional typehint` when the default value of an argument is non-None value
  ivy/functional/backends/jax/experimental/losses.py
  ivy/functional/backends/jax/layers.py
  ivy/functional/backends/numpy/experimental/losses.py
  ivy/functional/backends/numpy/general.py
  ivy/functional/backends/paddle/creation.py
  ivy/functional/backends/paddle/experimental/elementwise.py
  ivy/functional/backends/paddle/layers.py
  ivy/functional/backends/paddle/linear_algebra.py
  ivy/functional/backends/tensorflow/creation.py
  ivy/functional/ivy/experimental/losses.py
  ivy/functional/ivy/experimental/manipulation.py
Labels: Ivy Functional API, Ivy API Experimental, Paddle Paddle Backend

#28028 fix: Fixed inconsistent `naming` of some tests
  ivy_tests/test_ivy/test_frontends/test_jax/test_array.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_tensorflow/test_tensor.py
  ivy_tests/test_ivy/test_frontends/test_torch/test_tensor.py
Labels: PyTorch Frontend, JAX Frontend, TensorFlow Frontend, Paddle Frontend

#28032 fix: Fixed creation `ivy.zeros_like` failing test for all backends
  ivy/functional/backends/paddle/creation.py
  ivy_tests/test_ivy/test_functional/test_core/test_creation.py
Labels: Paddle Paddle Backend

#28045 fix: Fixed `ivy.remainder()` function call which contains wrong argument
  ivy/functional/frontends/tensorflow/variable.py
Labels: TensorFlow Frontend

#28096 fix: Fixed paddle backend for `comparison_ops.torch.equal` and `raw_ops.tensorflow.raw_ops.Equal`
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#28103 fix: Fixed `attribute.paddle.real` for all the backends
  ivy/functional/frontends/paddle/attribute.py
Labels: Paddle Frontend

#28068 fix: Fixed `creation.paddle.eye` for all backends
  ivy/functional/frontends/paddle/creation.py
Labels: Paddle Frontend

#28018 fix: Fix Ivy Failing Test: torch - manipulation.reshape
  ivy/functional/backends/torch/manipulation.py
Labels: Priority

#28022 Fix! Fix Ivy Failing Test: paddle jax tensoflow- general.inplace_update
  ivy_tests/test_ivy/test_functional/test_core/test_general.py
Labels: Priority

#28063 fix: Fixed `paddle_backend.divide`
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#28124 fix: fixed fmod at paddle backend
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#28140 feat: superset ivy.lstm so it can be used equivalently to tf.keras.layers.lstm
  ivy/functional/backends/torch/layers.py
  ivy/functional/frontends/torch/nn/functional/layer_functions.py
  ivy/functional/ivy/layers.py
  ivy_tests/test_ivy/test_functional/test_nn/test_layers.py
Labels: PyTorch Frontend, Ivy Functional API

#28087 fix: Fixed `stat.paddle.mean` for all backends
  ivy/functional/frontends/paddle/stat.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_stat.py
Labels: Paddle Frontend

#28111 fix: fixed `paddle_backend.greater` and `paddle_backend.greater_equal`
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#28109 fix: fixed `paddle_backend.less` and `paddle_backend.less_equal`
  ivy/functional/backends/paddle/elementwise.py
Labels: Paddle Paddle Backend

#27831 fix: fixed the failing test case at paddle backend
  ivy/functional/backends/paddle/elementwise.py
  ivy_tests/test_ivy/test_functional/test_core/test_elementwise.py
Labels: Paddle Paddle Backend, Priority

#22811 Cov
  ivy/functional/frontends/paddle/tensor/tensor.py
  ivy_tests/test_ivy/test_frontends/test_paddle/test_tensor/test_tensor.py
Labels: Paddle Frontend
